.kamoru-diary {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-rows: minmax(18rem, auto) 1fr;

  #calendarContainer {
    overflow: scroll;

    .year-group {
      border-bottom: 1px solid var(--color-border);
      padding: 1rem;

      h2 {
        font-size: var(--size-large);
        font-weight: 400;
        margin: 0;
        padding: 0 2rem;
      }

      .month {
        display: inline-block;
        margin: 1rem;

        .month-name {
          display: block;
          font-size: var(--size-normal);
          font-weight: 400;
          text-align: center;
          margin-bottom: 1rem;
        }

        .dates {
          display: inline-grid;
          grid-template-columns: repeat(7, 1fr);

          .date {
            width: 2rem;
            aspect-ratio: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 0 0 1px 0 orange inset;

            span {
              color: inherit;
              width: 1.5rem;
              aspect-ratio: 1 / 1;
              text-align: center;
            }

            &.other {
              color: var(--color-text-placeholder);
            }

            &.today {
              color: yellow;
              text-shadow: 1px 1px 1px orangered;
            }

            &.sat {
              color: #396ee2;
            }
            &.sun {
              color: #d13e3e;
            }

            &.written {
              span {
                background-color: rgb(157 42 177 / 56%);
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }

  #diaryWriteContainer {
    padding: 1rem;

    #diaryWrap {
      position: relative;
      height: 100%;

      display: grid;
      grid-template-rows: minmax(3rem, auto) 1fr minmax(9rem, auto);
      border: 1px solid var(--color-border-window);
      background-color: var(--color-bg-transparent);

      #diaryMeta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        #diaryTitle {
          flex: 1 1 auto;
        }
        #diaryWeather {
          label {
            svg {
              width: 2rem;
            }
          }
        }
        #diaryDate {
          flex: 0 1 auto;
        }
        #diaryViewerShow {
          flex: 0 1 auto;
          margin: 0 1rem;
        }
      }

      #diaryBody {
        position: relative;
        .toastui-editor-defaultUI {
          border-radius: 0;
          border: 0;
        }
      }
    }
  }

  #diaryReadContainer {
    display: none;
    position: fixed;
    inset: 0;
    margin: 0;
    padding: 0;
    z-index: 999;

    #diaryViewerInner {
      position: absolute;
      inset: 0;
      overflow: auto;
      padding: 0.5rem;
      text-align: center;
      background-color: var(--color-bg);
      border-radius: 0.25rem;

      .toastui-editor-contents {
        padding: 1rem;

        img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    #diaryViewerClose {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      border: 0;
      padding: 0.5rem;
      font-size: 2rem;
      z-index: 999;
    }
  }
}
