actress-flay-summary {
  display: block;
  height: 100%;
  overflow: auto;

  > h1 {
    position: sticky;
    top: 0;
    background-color: var(--color-bg);
    min-height: 5rem;
    margin: 0;
    padding: 1rem;
    z-index: 10;
  }

  > table {
    border-collapse: collapse;
    width: 100%;

    > thead {
      position: sticky;
      top: calc(5rem - 1px);
      background-color: var(--color-bg);
      z-index: 9;
    }

    th,
    td:not(.flay-marker) {
      border: 1px solid var(--color-border);
      padding: 0.5rem;
      text-align: left;
      white-space: nowrap;
    }

    td.name {
      cursor: pointer;

      &:hover {
        text-shadow: var(--text-shadow-hover);
      }
    }

    td.favorite {
      text-align: center;
    }

    td.count,
    td.likes,
    td.likes-sum,
    td.score {
      text-align: right;
    }

    td.flay-marker {
      width: auto;
    }

    svg {
      height: 1.5rem;
    }
  }

  .error {
    padding: 2rem;
    text-align: center;
    color: var(--color-error);
  }
}
