actress-flay-summary {
  position: relative;
  display: block;

  > table {
    position: relative;
    border-collapse: collapse;
    width: 100%;

    > thead {
      position: sticky;
      top: -1px;
      background-color: var(--color-bg);
      z-index: 9;
    }

    th,
    td {
      border: 1px solid var(--color-border);
      padding: 0.5rem;
      text-align: left;
      white-space: nowrap;
    }

    td.name {
      cursor: pointer;

      &:hover {
        text-shadow: var(--text-shadow-hover);
      }
    }

    td.favorite {
      text-align: center;

      svg {
        height: 1.5rem;
      }
    }

    td.age,
    td.count,
    td.likes,
    td.likes-sum,
    td.score {
      text-align: right;
    }

    td.flay-marker {
      width: auto;
    }
  }

  .error {
    padding: 2rem;
    text-align: center;
    color: var(--color-error);
  }
}
