actress-flay-summary {
  position: relative;
  display: block;
  max-width: 100%;

  > ul {
    position: relative;
    display: block;
    width: 100%;

    > li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0 0.5rem;
      border-bottom: 1px solid var(--color-border);
      padding: 0.25rem;

      &.header {
        position: sticky;
        top: 0;
        background-color: var(--color-bg);
        z-index: 9;
        font-weight: bold;

        label {
          cursor: pointer;
          margin-left: 0.25rem;
          font-size: 0.75rem;
        }
      }

      &:not(.header) {
        &:hover {
          background-color: var(--color-bg-transparent);
        }

        span.name {
          &:hover {
            text-shadow: var(--text-shadow-hover);
          }
        }

        span.flay-marker {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }

      span.name {
        flex: 0 0 9rem;
        cursor: pointer;

        img {
          display: none;
        }
      }

      span.favorite {
        flex: 0 0 2rem;
        display: flex;
        justify-content: center;

        &.favorite-true {
          color: var(--color-checked);
        }
        svg {
          height: 1.25rem;
        }
      }

      span.age,
      span.count,
      span.likes,
      span.likes-sum,
      span.rank,
      span.score {
        flex: 0 0 3rem;
        text-align: right;
      }

      span.score {
        flex: 0 0 3.5rem;
      }

      span.flay-marker {
        flex: 1 1 auto;
      }
    }

    &.cover {
      > li {
        span.name {
          max-height: 150px;
          overflow: hidden;

          img {
            display: block;
            width: auto;
            transform: scale(2.4);
            transform-origin: top right;
          }
        }
      }
    }
  }

  #toggleCover {
    cursor: pointer;
    font-size: 0.75rem;
    color: var(--color-link);

    &:hover {
      text-shadow: var(--text-shadow-hover);
    }
  }

  .error {
    padding: 2rem;
    text-align: center;
    color: var(--color-error);
  }
}
