.flay-marker-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;

  > label {
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;

    &.highlight {
      opacity: 0.3;

      &.shot {
        opacity: 0.5;
      }
    }

    &:hover {
      opacity: 1 !important;
      transform: scale(1.1);
      z-index: 1;
    }
  }

  &.rendering,
  &:hover {
    > label {
      opacity: 0.05;

      &.highlight {
        opacity: 0.3;
      }
    }
  }

  &.paused {
    > label {
      opacity: 1 !important;
      font-size: 8px;
    }
  }
}
