.flay-batch {
  .batch-buttons {
    position: sticky;
    top: 0;
    z-index: 2;

    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    background-color: var(--color-bg);

    span,
    button {
      border: 1px solid var(--color-border);
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      transition: 0.4s;

      &:hover {
        box-shadow: var(--box-shadow);
      }
    }
  }

  .batch-logs {
    padding: 0.5rem 1rem;

    pre {
      font-family: D2Coding;
      font-size: 14px;
      text-align: left;
      flex: 1 1 auto;
      margin: 0;
      padding: 1rem;
      background-color: #111;
      width: 100%;
      overflow: auto;

      div {
        color: #eee;
      }
    }
  }

  .batch-lower-list {
    padding: 0.5rem 1rem;

    div {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: baseline;
      gap: 1rem;
      padding-bottom: 1rem;
    }

    ol {
      margin: auto;
      max-width: 100%;

      li {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;

        padding-bottom: 0.25rem;
        line-height: 1.75rem;

        &.head {
          label {
            font-weight: 700;
          }
        }

        label {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: 400;
          font-size: var(--size-normal);
          a {
            font-weight: 400;
            font-size: var(--size-normal);
          }
        }

        .studio,
        .opus {
          flex: 0 0 6rem;
        }
        .title {
          flex: 1 1 auto;
          padding-right: 0.5rem;
        }
        .actress {
          flex: 0 0 8rem;
        }
        .release {
          flex: 0 0 5rem;
        }
        .like,
        .rank,
        .sub,
        .score {
          flex: 0 0 3rem;
          text-align: right;
        }

        &:not(.head):hover {
          background-color: var(--color-bg-transparent);
        }
      }
    }
  }

  #lowerScoreFlayChart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;

      label {
        font-size: var(--size-normal);
      }

      & > div:nth-child(2) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
