flay-monitor {
  position: relative;
  display: block;
  transition: 0.4s;

  display: flex;
  width: 100%;
  padding: 0.125rem;

  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

    max-width: 1200px;
    margin: auto;
    padding: 1rem;

    background-color: var(--color-bg-transparent);
    box-shadow: var(--box-shadow-large);
    z-index: 1;
  }

  canvas {
    width: 100%;
  }
}
