.flay-marker-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;

  &:hover {
    > label {
      opacity: 0.05;
    }
  }

  > label {
    opacity: 0;

    &.shot {
      opacity: 0.5;
    }

    &:hover {
      opacity: 1;
      transform: scale(1.1);
      transition: 0.3s;
      z-index: 1;
    }
  }
}
