.flay-shot-daily-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  fieldset {
    display: inline-block;
    border: 1px solid var(--color-border);
    border-left: 0;
    border-right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: 0.4s;

    &:hover {
      box-shadow: var(--box-shadow) inset;
      legend {
        box-shadow: var(--box-shadow-small) inset;
      }
    }

    legend {
      text-align: center;
      background-color: var(--color-bg);
      border: 1px solid var(--color-border);
      border-radius: 0.25rem;
      margin: 0.25rem 0.5rem;
      padding: 0.25rem 0.5rem;
      font-size: var(--size-large);
      transition: 0.4s;
    }

    div.card-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem 1.5rem;
      margin: 0;
      border: 0;
      padding: 0.75rem;

      flay-card {
        max-width: 480px;
        border-radius: 0.25rem;
        margin: 0;
      }
    }
  }

  #next {
    display: block;
    width: 100%;
    padding: 0.25rem 0 1rem;
  }
}
