flay-register {
  padding: 1rem;
  width: 100%;

  .search-group {
    border: 2px dashed rgb(66, 46, 7);
    margin-bottom: 1rem;

    div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch;
      justify-content: space-between;
      margin: 2px;
    }
  }

  input,
  textarea,
  button,
  .checkbox {
    background: var(--color-bg-input);
    color: var(--color-text);
    margin: 1px 2px;
    border: 0;
    border-radius: 2px;
    padding: 2px;
    outline: none;
    font: normal 16px D2Coding;
    text-align: left !important;
  }
  input,
  textarea {
    cursor: initial !important;
    &:hover {
      background-color: var(--color-bg-input-focus);
    }
  }

  .input-invalid {
    background-color: #dc143c80;
  }

  /* input data */
  #inputOpus {
    flex: 0 0 auto;
    width: 8rem;
  }
  #inputTitle {
    flex: 1 1 auto;
  }
  #inputActress {
    flex: 0 0 auto;
    width: 10rem;
  }
  #inputDesc {
    flex: 1 1 auto;
    height: 4rem;
  }

  /* result data */
  #inputTemp {
    flex: 1 1 auto;
  }
  #studio {
    flex: 0 0 auto;
    width: 7rem;
  }
  #opus {
    flex: 0 0 auto;
    width: 6rem;
  }
  #title {
    flex: 1 1 auto;
  }
  #actress {
    flex: 0 0 auto;
    width: 8rem;
  }
  #release {
    flex: 0 0 auto;
    width: 7rem;
  }
  #flayFullname {
    flex: 1 1 auto;
  }

  /* actress input */
  #actressFavorite {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
  }
  #actressFavorite + label {
    cursor: pointer;
    display: inline-flex;
    padding: 0 4px;
  }
  #actressFavorite:checked + label {
    color: var(--color-checked);
  }
  #actressFavorite + label > svg {
    width: 14px;
  }
  #actressName,
  #actressLocalname,
  #actressBirth,
  #actressBody,
  #actressHeight,
  #actressDebut {
    flex: 1 1 auto;
    width: 1px;
  }
  #actressRowData {
    flex: 1 1 auto;
    font-size: 14px;
    height: 72px;
  }

  /* about nextjav, lastSearchOpus */
  #lastSearchOpus {
    flex: 1 1 auto;
  }

  /* found flay */
  #found-flay {
    padding: 0.5rem;

    label {
      font-size: var(--size-small);
      color: var(--color-orange);
    }

    &.archive {
      label {
        color: var(--color-red);
      }
    }
  }
}
