.flay-marker-float {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;

  .flay-marker {
    position: absolute;
    transition: 0.3s ease-in-out;
    contain: layout style paint;
    will-change: top, left, width, height;
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
  }
}
