.flay-condition {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  transition: 0.4s;

  div {
    display: inline-flex;
    align-items: center;
    border-radius: 0.5rem;

    input[type='search'] {
      border-radius: 0.5rem;
      width: 16rem;
    }
    datalist {
      width: 16rem;
      option {
        font-size: var(--size-small);
        width: 16rem;
      }
    }
    label {
      margin: 0 0.25rem;
    }
    select {
      font-size: var(--size-normal);
      text-transform: capitalize;
      outline: none;
      option {
        font-size: var(--size-small);
      }
    }
  }
}
