.flay-shot-release-panel {
  .year-panel {
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--color-border);
    padding: 0.5rem;

    &:hover {
      box-shadow: var(--box-shadow) inset;
    }

    h3 {
      margin: 0;
      padding-bottom: 0.5rem;
      font-size: 1.2rem;
    }
    .year-shot-list {
      position: relative; // 명시적 설정
      width: 100%;

      &.flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
      }

      .flay-marker {
        background: var(--color-text) no-repeat top right / 212%;
      }
    }
  }
}
