flay-marker-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;

  > label {
    opacity: 0;
    width: 1rem;
    transition: 0.3s;

    &.highlight {
      opacity: 0.3;

      &.shot {
        opacity: 0.5;
      }
    }

    &:hover {
      opacity: 1 !important;
      transform: scale(1.1);
      z-index: 1;
    }
  }

  &.rendering,
  &:hover {
    > label:not(.highlight) {
      opacity: 0.05;
    }
  }

  &.paused {
    > label {
      transition: none;
      // opacity: 1 !important;
    }
  }

  $size: 1;
  @while $size <= 20 {
    &[data-w='#{$size}'] {
      label {
        width: #{$size}rem;
      }
    }
    $size: $size + 0.5;
  }
}
