.flay-video-player {
  position: relative;
  display: flex;
  opacity: 0;

  background-color: #000;
  border: 2px solid #000;

  &.load {
    opacity: 1;
  }
  &.error {
    opacity: 0.5;
  }

  video {
    aspect-ratio: 16 / 9;
    width: 100%;
    &[poster] {
      object-fit: cover;
    }
  }

  .flay-video-info {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    background-color: var(--color-bg-transparent);
    transition: 0.4s;
    opacity: 0;
    z-index: -1;

    .header,
    .footer {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .header {
      padding: 0.5rem 0.5rem 0;
    }
    .footer {
      flex-wrap: wrap;
    }
  }

  .flay-video-poster {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background: transparent no-repeat center / contain;
    margin: 8rem 1rem 3rem;
    padding: 0;
    opacity: 0;
    z-index: -1;

    transition: 0.4s 0s;
  }

  &:hover {
    .flay-video-info {
      opacity: 1;
      z-index: 2;
    }
  }
  .flay-video-info:hover + .flay-video-poster {
    opacity: 1;
    z-index: 1;
    transition: 0.4s 0.2s;
  }
}

#playInLayer {
  position: fixed;
  inset: 0;

  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

  background-color: var(--color-bg-transparent);

  article {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    aspect-ratio: 16 / 9 auto;
    height: 100%;
    padding: 3rem 2rem;

    flay-video-player {
      box-shadow: var(--box-shadow);
    }
  }
}
