.subtitles-finder {
  height: 100%;
  overflow: auto;

  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    padding: 0.5rem;
    background-color: var(--color-bg);
  }

  #flayList {
    .flay-item {
      display: flex;
      gap: 8px;
      font-family: D2Coding;
      padding: 0 1rem;
      height: 28px;

      &.found-subtitles {
        color: green;
        text-shadow: 0 0 1px #9f9292;

        &.active-subtitles {
          text-shadow: var(--text-shadow);
        }
      }

      label {
        font-size: var(--size-small);
        font-weight: 400;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .count {
        flex: 0 0 50px;
        text-align: right;
      }
      .studio {
        flex: 0 0 90px;
      }
      .opus {
        flex: 0 0 90px;
      }
      .title {
        flex: 1 0 300px;
      }
      .actressList {
        flex: 0 0 140px;
      }
      .release {
        flex: 0 0 90px;
      }
      .rank {
        flex: 0 0 30px;
        text-align: center;
      }
      .tag {
        flex: 0 0 70px;
        font-size: var(--size-smallest);
      }
      .subtitles {
        flex: 1 0 100px;
      }
      .subtitles a {
        font-size: inherit;
      }
    }
  }
}
