{
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "detectIndentation": true,
  "semi": true,
  "singleQuote": true,
  "code": 360,
  "printWidth": 360,
  "importOrder": [
    "^@/(.*)$",
    "^@lib/(.*)$",
    "^@ui/(.*)$",
    "^@svg/(.*)$",
    "^@flay/(.*)$",
    "^@image/(.*)$",
    "^@movie/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
