<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flay component sample</title>
<link rel="stylesheet" href="/webjars/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/webjars/jquery-ui/jquery-ui.min.css"/>
<link rel="stylesheet" href="/webjars/jquery-ui/jquery-ui.theme.min.css"/>
<link rel="stylesheet" href="/css/base.scrollbar.css"/>
<link rel="stylesheet" href="/css/base.rainbow.css"/>
<link rel="stylesheet" href="/css/crazy.common.css"/>
<link rel="stylesheet" href="/css/crazy.common.range.css"/>
<link rel="stylesheet" href="/css/flay.view.card.css"/>
<style type="text/css">
.col {
	padding: 4px;
}
.card-body {
	padding: 8px;
}
.card-title {
	margin-bottom: .5rem;
	font-family: 'Ink Free';
}
.check-group, label.check {
	margin: .5rem auto;
}
</style>
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/popper.js/umd/popper.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/crazy.common.js"></script>
<script type="text/javascript" src="/js/crazy.jquery.js"></script>
<script type="text/javascript" src="/js/flay.rest.service.js"></script>
<script type="text/javascript" src="/js/flay.utils.js"></script>
<script type="text/javascript" src="/js/flay.index.js"></script>
<script type="text/javascript" src="/js/flay.view.card.js"></script>
<script type="text/javascript" src="/js/kamoru.life.timer.js"></script>
<script type="text/javascript">
window.onload = function() {
	var bgThemeValue = LocalStorageItem.get('flay.bgtheme', 'D');
	$('#bgTheme' + bgThemeValue).parent().click();
}
</script>
</head>
<body>

	<div class="d-flex mx-3 my-2">
		<div class="check-group mx-0">
			<label><input type="radio" name="bgTheme" id="bgThemeL" value="L"><span>Light</span></label>
			<label><input type="radio" name="bgTheme" id="bgThemeD" value="D"><span>Dark</span></label>
		</div>
		<a class="btn btn-link ml-auto" href="/html/main.html">Home</a>
	</div>

	<div class="row m-2">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">Radio</h6>
					<div class="card-text">
						<span class="check-group">
							<label><input type="radio" name="bgThemex" value="A" checked="checked"><span>A</span></label>
							<label><input type="radio" name="bgThemex" value="B"><span>B</span></label>
							<label><input type="radio" name="bgThemex" value="C"><span>C</span></label>
						</span>
						<label class="check"><input type="radio" name="bgThemex1" value="E"><span>G</span></label>
						<label class="check"><input type="radio" name="bgThemex1" value="F" checked="checked"><span>H</span></label>
						<label class="check"><input type="radio" name="bgThemex1" value="F"><span>I</span></label>
						<span class="check-group sm ml-3">
							<label><input type="radio" name="bgThemex2" value="D"><span>D</span></label>
							<label><input type="radio" name="bgThemex2" value="E" checked="checked"><span>E</span></label>
							<label><input type="radio" name="bgThemex2" value="F"><span>F</span></label>
						</span>
						<label class="check sm"><input type="radio" name="bgThemex3" value="E"><span>G</span></label>
						<label class="check sm"><input type="radio" name="bgThemex3" value="F"><span>H</span></label>
						<label class="check sm"><input type="radio" name="bgThemex3" value="F" checked="checked"><span>I</span></label>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">Checkbox</h6>
					<div class="card-text">
						<span class="check-group">
							<label><input type="checkbox" id="rank0" checked="checked"><span>A</span></label>
							<label><input type="checkbox" id="rank1"><span>B</span></label>
							<label><input type="checkbox" id="rank2"><span>C</span></label>
						</span>
						<label class="check"><input type="checkbox" id="rank3"><span>G</span></label>
						<label class="check"><input type="checkbox" id="rank4" checked="checked"><span>H</span></label>
						<label class="check"><input type="checkbox" id="rank5"><span>I</span></label>
						<span class="check-group sm ml-3">
							<label><input type="checkbox" id="rank0" checked="checked"><span>A</span></label>
							<label><input type="checkbox" id="rank1"><span>B</span></label>
							<label><input type="checkbox" id="rank2"><span>C</span></label>
						</span>
						<label class="check sm"><input type="checkbox" id="rank3"><span>G</span></label>
						<label class="check sm"><input type="checkbox" id="rank4" checked="checked"><span>H</span></label>
						<label class="check sm"><input type="checkbox" id="rank5"><span>I</span></label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row m-2">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">Style</h6>
					<div class="card-text">
						<span class="check-group primary">
							<label><input type="checkbox" id="rank0" checked="checked"><span>A</span></label>
							<label><input type="checkbox" id="rank1"><span>B</span></label>
						</span>
						<label class="check primary"><input type="checkbox" id="rank4" checked="checked"><span>H</span></label>
						<label class="check primary"><input type="checkbox" id="rank5"><span>I</span></label>
						<span class="check-group success ml-2">
							<label><input type="checkbox" id="rank0" checked="checked"><span>A</span></label>
							<label><input type="checkbox" id="rank1"><span>B</span></label>
						</span>
						<label class="check success"><input type="checkbox" id="rank4" checked="checked"><span>H</span></label>
						<label class="check success"><input type="checkbox" id="rank5"><span>I</span></label>
						<span class="check-group info ml-2">
							<label><input type="checkbox" id="rank0" checked="checked"><span>A</span></label>
							<label><input type="checkbox" id="rank1"><span>B</span></label>
						</span>
						<label class="check info"><input type="checkbox" id="rank4" checked="checked"><span>H</span></label>
						<label class="check info"><input type="checkbox" id="rank5"><span>I</span></label>
						<span class="check-group warning ml-2">
							<label><input type="checkbox" id="rank0" checked="checked"><span>A</span></label>
							<label><input type="checkbox" id="rank1"><span>B</span></label>
						</span>
						<label class="check warning"><input type="checkbox" id="rank4" checked="checked"><span>H</span></label>
						<label class="check warning"><input type="checkbox" id="rank5"><span>I</span></label>
						<span class="check-group danger ml-2">
							<label><input type="checkbox" id="rank0" checked="checked"><span>A</span></label>
							<label><input type="checkbox" id="rank1"><span>B</span></label>
						</span>
						<label class="check danger"><input type="checkbox" id="rank4" checked="checked"><span>H</span></label>
						<label class="check danger"><input type="checkbox" id="rank5"><span>I</span></label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row m-2">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">Button</h6>
					<div class="card-text">
						<div class="btn-group mr-2">
							<button class="btn btn-flay">Btn 1</button>
							<button class="btn btn-flay">Btn 2</button>
							<button class="btn btn-flay">Btn 3</button>
						</div>
						<button class="btn btn-flay">Button</button>
						<div class="btn-group mr-2">
							<button class="btn btn-outline-flay">Btn 1</button>
							<button class="btn btn-outline-flay">Btn 2</button>
							<button class="btn btn-outline-flay">Btn 3</button>
						</div>
						<button class="btn btn-outline-flay">Button</button>
						<div class="btn-group btn-group-sm mx-2">
							<button class="btn btn-flay">Btn 1</button>
							<button class="btn btn-flay">Btn 2</button>
							<button class="btn btn-flay">Btn 3</button>
						</div>
						<button class="btn btn-sm btn-flay">Button</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row m-2">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">Input text</h6>
					<div class="card-text">
						<input class="form-control input-flay search" value="AB 가나"/>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">Input range</h6>
					<div class="card-text">
						<label class="range"><input type="range"><span>4</span></label>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">Custom range</h6>
					<div class="card-text">
						<span class="ranker">
							<label><input type="radio" name="ranker" value="-1"><i class="fa fa-thumbs-down r-1"></i></label>
							<label><input type="radio" name="ranker" value="0"><i class="fa fa-circle r0"></i></label>
							<label><input type="radio" name="ranker" value="1"><i class="fa fa-star r1"></i></label>
							<label><input type="radio" name="ranker" value="2"><i class="fa fa-star r2"></i></label>
							<label><input type="radio" name="ranker" value="3"><i class="fa fa-star r3"></i></label>
							<label><input type="radio" name="ranker" value="4" checked="checked"><i class="fa fa-star r4"></i></label>
							<label><input type="radio" name="ranker" value="5"><i class="fa fa-star r5"></i></label>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row m-2">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">Label</h6>
					<div class="card-text">
						<label class="text hover xs">AB 가나</label>
						<label class="text hover sm">AB 가나</label>
						<label class="text hover">AB 가나</label>
						<label class="text hover lg">AB 가나</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row m-2">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">chalk effect</h6>
					<div class="card-text">
						<span class="font-flay font-effect-flay-static display-3">
							Flayground
						</span>
						<span class="font-flay font-effect-flay-static display-4">
							Flayground
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row m-2">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">Rainbow <span style="color: red   ;">red   </span> <span style="color: orange;">orange</span> <span style="color: yellow;">yellow</span> <span style="color: green ;">green </span> <span style="color: blue  ;">blue  </span> <span style="color: indigo;">indigo</span> <span style="color: violet;">violet</span></h6>
					<div class="card-text text-center">
						<div class="border-rainbow v mx-2">
							<div class="border-rainbow i">
								<div class="border-rainbow b">
									<div class="border-rainbow g">
										<div class="border-rainbow y">
											<div class="border-rainbow o">
												<div class="border-rainbow r p-2 text-center">
													<div class="m-1" style="height: 40px; border-radius: .25rem; background: var(--rainbow-gradient);"></div>
													<hr>
													<div class="m-1" style="display: inline-block; min-width: 50px; border-radius: .25rem; vertical-align: middle; box-shadow: var(--rainbow-box-shadow-h);">h</div>
													<div class="m-2" style="display: inline-block; min-width: 50px; border-radius: .25rem; vertical-align: middle; box-shadow: var(--rainbow-box-shadow-1);">1</div>
													<div class="m-3" style="display: inline-block; min-width: 50px; border-radius: .25rem; vertical-align: middle; box-shadow: var(--rainbow-box-shadow-2);">2</div>
													<div class="m-1" style="display: inline-block; min-width: 50px; border-radius: .25rem; vertical-align: middle; box-shadow: var(--rainbow-box-shadow-h-n);">h-n</div>
													<div class="m-2" style="display: inline-block; min-width: 50px; border-radius: .25rem; vertical-align: middle; box-shadow: var(--rainbow-box-shadow-1-n);">1-n</div>
													<div class="m-3" style="display: inline-block; min-width: 50px; border-radius: .25rem; vertical-align: middle; box-shadow: var(--rainbow-box-shadow-2-n);">2-n</div>
													<div class="m-1" style="display: inline-block; min-width: 70px; border-radius: .25rem; vertical-align: middle; box-shadow: var(--rainbow-box-shadow-h-r); height: 3rem; padding: .75rem;">h-r</div>
													<div class="m-1" style="display: inline-block; min-width: 70px; border-radius: .25rem; vertical-align: middle; box-shadow: var(--rainbow-box-shadow-1-r); height: 3rem; padding: .75rem;">1-r</div>
													<div class="m-1" style="display: inline-block; min-width: 70px; border-radius: .25rem; vertical-align: middle; box-shadow: var(--rainbow-box-shadow-2-r); height: 3rem; padding: .75rem;">2-r</div>
													<div class="m-1" style="display: inline-block; min-width: 70px; border-radius: .25rem; vertical-align: middle; box-shadow: var(--rainbow-box-shadow-h-n-r); height: 3rem; padding: .75rem;">h-n-r</div>
													<div class="m-1" style="display: inline-block; min-width: 70px; border-radius: .25rem; vertical-align: middle; box-shadow: var(--rainbow-box-shadow-1-n-r); height: 3rem; padding: .75rem;">1-n-r</div>
													<div class="m-1" style="display: inline-block; min-width: 70px; border-radius: .25rem; vertical-align: middle; box-shadow: var(--rainbow-box-shadow-2-n-r); height: 3rem; padding: .75rem;">2-n-r</div>
													<hr>
													<span class="m-3" style="text-shadow: var(--rainbow-text-shadow-h); color: var(--light); font-size: 3rem;">Rainbow</span>
													<span class="m-3" style="text-shadow: var(--rainbow-text-shadow-h-r); color: var(--light); font-size: 3rem;">Rainbow</span>
													<span class="m-3" style="text-shadow: var(--rainbow-text-shadow-h-n); color: var(--light); font-size: 3rem;">Rainbow</span>
													<span class="m-3" style="text-shadow: var(--rainbow-text-shadow-h-n-r); color: var(--light); font-size: 3rem;">Rainbow</span>
													<br>
													<span class="m-3" style="text-shadow: var(--rainbow-text-shadow-1); color: var(--light); font-size: 3rem;">Rainbow</span>
													<span class="m-3" style="text-shadow: var(--rainbow-text-shadow-1-r); color: var(--light); font-size: 3rem;">Rainbow</span>
													<span class="m-3" style="text-shadow: var(--rainbow-text-shadow-1-n); color: var(--light); font-size: 3rem;">Rainbow</span>
													<span class="m-3" style="text-shadow: var(--rainbow-text-shadow-1-n-r); color: var(--light); font-size: 3rem;">Rainbow</span>
													<br>
													<span class="m-3" style="text-shadow: var(--rainbow-text-shadow-2); color: var(--light); font-size: 3rem;">Rainbow</span>
													<span class="m-3" style="text-shadow: var(--rainbow-text-shadow-2-r); color: var(--light); font-size: 3rem;">Rainbow</span>
													<span class="m-3" style="text-shadow: var(--rainbow-text-shadow-2-n); color: var(--light); font-size: 3rem;">Rainbow</span>
													<span class="m-3" style="text-shadow: var(--rainbow-text-shadow-2-n-r); color: var(--light); font-size: 3rem;">Rainbow</span>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row m-2">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">Bootstrap 4</h6>
					<div class="card-text">
						<div class="btn-group mr-2">
							<button type="button" class="btn btn-outline-primary">A</button>
							<button type="button" class="btn btn-outline-primary">B</button>
							<button type="button" class="btn btn-outline-primary">C</button>
						</div>
						<button type="button" class="btn btn-light">J</button>
						<button type="button" class="btn btn-primary">D</button>
						<button type="button" class="btn btn-success">E</button>
						<button type="button" class="btn btn-info">F</button>
						<button type="button" class="btn btn-warning">G</button>
						<button type="button" class="btn btn-danger">H</button>
						<button type="button" class="btn btn-dark">I</button>
						<input class="form-control mx-2" style="display: inline-flex; width: 100px;">
						<div class="btn-group btn-group-sm mx-2">
							<button type="button" class="btn btn-primary">A</button>
							<button type="button" class="btn btn-primary">B</button>
							<button type="button" class="btn btn-primary">C</button>
						</div>
						<button type="button" class="btn btn-sm btn-light">K</button>
						<button type="button" class="btn btn-sm btn-primary">G</button>
						<button type="button" class="btn btn-sm btn-success">H</button>
						<button type="button" class="btn btn-sm btn-info">I</button>
						<button type="button" class="btn btn-sm btn-warning">G</button>
						<button type="button" class="btn btn-sm btn-danger">H</button>
						<button type="button" class="btn btn-sm btn-dark">I</button>
						<input class="form-control form-control-sm mx-2" style="display: inline-flex; width: 75px;">
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>