@charset "UTF-8";

body {
	font-family: D2Coding;
	background-color: #000;
	color: #ccc;
	overflow-x: hidden;
}

pre {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #ccc;
	color: #000;
	cursor: crosshair;
	font-family: Consolas;
	font-size: 10px;
	line-height: 11px;
	overflow: hidden;
	transition: transform 0.4s, background-image 2s;
}

pre.hide-bg {
	background-image: none !important;
}

pre.bg-invert {
	background-color: #000 !important;
	color: #ccc !important;
}

#controlBox {
	position: fixed;
	bottom: 1px;
	right: 0;
	width: 160px;
	text-align: center;
	border: 1px solid #333;
	border-top-left-radius: 0.25rem;
	color: #f8f9fa;
	background-color: #111;
	margin: 0;
}

ul#controlBox {
	list-style: none;
	padding-left: 0;
}

#controlBox>li {
	margin: .5rem .25rem;
	font-size: 80%;
	font-weight: 400;
}

#controlBox>li:last-child {
	margin: .25rem;
}

#controlBox>li>.number-group {
	border: 1px solid #333;
	display: flex;
	flex-wrap: wrap;
}

#controlBox>li>.number-group>label {
	margin: 0;
	padding: 0 4px;
	color: #546678;
	font-weight: 500;
}

#controlBox>li>.number-group>input {
	background-color: transparent;
	border: 0;
	color: #ccc;
	text-align: right;
	flex: 1 1 auto;
	width: 0;
}

#controlBox>li>.number-group>input:focus {
	border: 0;
	outline: 0;
}

#controlBox>li>div.custom-control {
	margin: 0 .25rem;
}

#imageThumbPanel {
	
}

#imageThumbPanel>img {
	width: 100%;
}

.custom-control>* {
	cursor: pointer;
}

#controlBoxToggleBtn {
	cursor: pointer;
	transition: all .4s;
	border-radius: .25rem;
	height: 16px;
}

#controlBoxToggleBtn:hover {
	background-color: #444;
}

i:not (.fa ) {
	font-style: normal;
	color: var(- -warning);
	font-weight: 700;
}