@charset "utf-8";

[data-theme='dark'] {
	--color-bg: #000;
	--color-bg-label: transparent;
	--color-bg-label-hover: rgba(0, 0, 0, 0.75);
	--color-bg-page: transparent;
	--color-bg-page-hover: rgba(0, 0, 0, 0.75);
	--color-bg-check: transparent;
	--color-bg-ranker: transparent;
	--color-bg-light: transparent;
	--color-bg-input-hover: rgba(0, 0, 0, 0.75);
	--color-bg-button: transparent;
	--color-bg-nav-hover: rgba(0, 0, 0, 0.75);
	--color-bg-range: transparent;
	--color-bg-card: transparent;
	--color-bg-card-active: rgba(43, 39, 39, 0.75);
	--color-bg-form: transparent;

	--color-text: #eee;
	--color-text-active: orange;
	--color-text-form: #eee;

	--color-box-shadow: rgb(255 255 255 / 15%);

	--color-border-card: rgba(255, 255, 255, 0.125);
	--color-border-form: #2d2d30;
}

[data-theme='light'] {
	--color-bg: #fff;
	--color-bg-label: #fff;
	--color-bg-label-hover: #fff;
	--color-bg-page: #fff;
	--color-bg-page-hover: #fff;
	--color-bg-check: #fff;
	--color-bg-ranker: #fff;
	--color-bg-light: #fff;
	--color-bg-input: rgba(255, 255, 255, 0.75);
	--color-bg-button: #fff;
	--color-bg-nav-hover: #fff;
	--color-bg-range: #fff;
	--color-bg-card: #fff;
	--color-bg-card-active: rgba(216, 197, 197, 0.75);
	--color-bg-form: #fff;

	--color-text: #000;
	--color-text-active: orange;
	--color-text-form: #000;

	--color-box-shadow: rgb(0 0 0 / 15%);

	--color-border-card: rgba(0, 0, 0, 0.125);
	--color-border-form: #ced4da;
}

.bg-light {
	background-color: var(--color-bg-light) !important;
}
