.theme-controller {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.125rem 0.5rem;

  .theme-group {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;

    input + label > svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
