.flay-card {
  &.notfound {
    flay-title,
    flay-studio,
    flay-comment,
    flay-actress,
    flay-files,
    flay-rank,
    flay-release,
    flay-tag {
      display: none;
    }
  }

  &.archive {
    flay-files {
      display: none;
    }
    flay-cover {
      opacity: 0.7;
    }
  }

  .flay-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;

    background-color: transparent;

    &.small {
      gap: 0.25rem;
      padding: 0.25rem;

      flay-comment,
      flay-tag {
        display: none;
      }

      & > * {
        padding: 0.125rem;
        border-radius: 0.125rem;
      }
    }

    & > * {
      background-color: var(--color-bg);
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      max-width: 100%;
      min-height: unset;
    }
  }
}
