.flay-article {
  position: relative;

  max-width: 900px;

  margin: auto;
  border: 0;
  padding: 0.5rem;
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow);
  border-radius: 0.25rem;

  .cover {
    aspect-ratio: var(--cover-aspect-ratio);
    background: transparent no-repeat center / cover;
    box-shadow: inset 0 0 1rem 0.5rem var(--color-bg-hover);
    border-radius: 0.25rem;
  }

  dl {
    margin: 1rem auto 0.5rem;
    text-align: center;

    dt,
    dd {
      margin: 0;
      padding: 0;
      min-height: 2rem;
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      span {
        text-shadow: var(--text-shadow);
      }
    }

    dt {
      min-height: 2.25rem;
      font-weight: 700;
      .title {
        font-size: var(--size-large);
        min-height: 2.5rem;
      }
    }
  }

  &.card {
    dl {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0 1rem;
      text-align: left;

      dt {
        span {
          background-color: var(--color-bg-transparent);
          border-radius: 0.25rem;
        }
      }

      dd {
        display: none;
      }
    }
  }

  &.simple {
    dl {
      margin: 0.5rem auto 0.25rem;

      dt {
        min-height: 1.75rem;
      }
      dd {
        display: none;
      }
    }
  }
}
