flay-monitor {
  position: relative;
  display: block;
  transition: 0.4s;

  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-shadow: var(--box-shadow-large);
    z-index: 1;
  }
}

.flay-monitor {
  display: flex;
  width: 100%;
  padding: 0.125rem;
  background-color: var(--color-bg-side-nav);

  &.fixed {
    padding: 1rem;
  }

  canvas {
    width: 100%;
  }
}
