.flay-page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  transition: 0.4s;
  margin: auto;

  & > * {
    margin: 0.25rem auto;
    padding: 0 0.5rem;
    min-height: 2rem;
    width: 100%;
  }

  .flay-cover {
    margin: 0.5rem auto;
    padding: 0;
  }

  .flay-cover,
  .flay-actress {
    max-width: 900px;
  }

  &.popup {
    .flay-tag {
      max-width: calc(100% - 2rem);
    }
  }
}

@media screen and (max-height: 1400px) {
  .flay-page .flay-cover {
    margin: 0.25rem auto;
  }
}
@media (min-width: 1280px) {
  .flay-page {
    flay-cover,
    flay-actress {
      max-width: 1200px;
    }
  }
}

@media screen and (max-height: 997px) {
  .flay-page {
    max-width: 800px;
  }
}
@media screen and (max-height: 750px) {
  .flay-page {
    .flay-studio,
    .flay-comment {
      display: none;
    }
  }
}
@media screen and (max-height: 600px) {
  .flay-page {
    .flay-opus {
      display: none;
    }
  }
}

@media screen and (min-width: 1278px) {
  .flay-page {
    max-width: calc(100% - 10rem);
  }
}

@media screen and (max-width: 900px) {
  .flay-page {
    max-width: 800px;
  }
}
