flay-video-player {
  position: relative;
  display: block;
}

.flay-video-player {
  position: relative;
  display: flex;

  background-color: #000;
  border: 2px solid #000;

  &:hover {
    flay-video-info {
      opacity: 1;
    }
  }

  video {
    aspect-ratio: 16 / 9;
    width: 100%;
    &[poster] {
      object-fit: cover;
    }
  }
}

flay-video-info {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  opacity: 0;
  transition: 0.4s;
}

.flay-video-info {
  background-color: var(--color-bg-transparent);

  .header,
  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .header {
    padding: 0.5rem 0.5rem 0;
  }
  .footer {
    flex-wrap: wrap;
  }
}
