flay-video-player {
  position: relative;
  display: block;
}

.flay-video-player {
  position: relative;
  display: flex;

  background-color: #000;
  border: 2px solid #000;

  video {
    aspect-ratio: 16 / 9;
    width: 100%;
    &[poster] {
      object-fit: cover;
    }
  }

  .flay-video-info {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    background-color: var(--color-bg-transparent);
    transition: 0.4s;
    opacity: 0;

    .header,
    .footer {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .header {
      padding: 0.5rem 0.5rem 0;
    }
    .footer {
      flex-wrap: wrap;
    }
  }

  .flay-video-poster {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 1rem auto;
    width: 100%;
    max-width: 800px;
    transition: 0.4s;
    opacity: 0;

    flay-cover {
      box-shadow: var(--box-shadow);
      height: 0;
    }
  }

  &:hover {
    .flay-video-info {
      opacity: 1;
    }
    .flay-video-poster {
      opacity: 1;
      flay-cover {
        height: auto;
      }
    }
  }
}
