.flay-basket {
  position: fixed;
  inset: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;

  .body {
    height: 100%;
    overflow: auto;
    padding-bottom: 3rem;
  }

  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: end;
  }

  #actressList {
    position: sticky;
    top: 0;
    z-index: 1;

    background-color: var(--color-bg-transparent);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;

    label {
      font-size: var(--size-normal);
    }
  }

  #basketList {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(20%, 350px));

    &[data-column='1'] {
      grid-template-columns: repeat(auto-fill, minmax(100%, 350px));
    }
    &[data-column='2'] {
      grid-template-columns: repeat(auto-fill, minmax(50%, 350px));
    }
    &[data-column='3'] {
      grid-template-columns: repeat(auto-fill, minmax(33%, 350px));
    }
    &[data-column='4'] {
      grid-template-columns: repeat(auto-fill, minmax(25%, 350px));
    }

    .flay-basket-item {
      background-color: var(--color-bg-transparent);
      border-radius: 0.25rem;
      margin: 0.5rem;
      padding: 0.5rem;
      transition: 0.4s;

      .popup-flay {
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        padding-bottom: 0.25rem;
      }

      .flay-basket-item-cover {
        aspect-ratio: var(--cover-aspect-ratio);
        background: center center / cover no-repeat transparent;
      }

      .empty-this {
        position: absolute;
        right: 0;
        bottom: 0;

        border-top-left-radius: 0.25rem;
        padding: 0.25rem 0 0 0.25rem;
        opacity: 0;
        transition: 0.4s;
      }

      .tags {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        height: 100%;
        overflow: hidden;

        label {
          background-color: var(--color-bg-transparent);
          text-shadow: var(--text-shadow);
          font-size: var(--size-normal);
          padding: 0.125rem 0.5rem 0.25rem 0.125rem;
          border-radius: 0 0.25rem 0.25rem 0;
        }
      }

      &:hover {
        box-shadow:
          inset 0 0 1rem 0.5rem var(--color-bg-transparent),
          var(--box-shadow-small);

        .empty-this {
          opacity: 1;
          background-color: var(--color-bg-transparent);
        }
      }
    }
  }

  .control {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    background-color: var(--color-bg-transparent);
    border-top-left-radius: 1rem;
    padding: 0.5rem;

    $range-size: 1.5rem;
    $range-radius: calc($range-size / 4);

    input[type='range'] {
      appearance: none;
      outline: none;
      background-color: #ffe28340;
      border-radius: $range-radius;
      height: $range-size;
      accent-color: #ffe283;
      box-shadow: var(--box-shadow);
    }
    input[type='range']::-webkit-slider-thumb {
      appearance: none;
      cursor: pointer;
      background-color: #ffe283;
      height: $range-size;
      width: $range-size;
      border-radius: $range-radius;
    }
  }
}
