@forward '../style/style.scss';

body {
  background: var(--color-bg) no-repeat fixed right bottom / min(100%, 10rem);
  background-blend-mode: exclusion;
}

[theme='dark'] {
  body {
    background-blend-mode: unset;
  }
}
