@forward '../style/style.scss';

body {
  background: var(--color-bg) no-repeat fixed right bottom / min(100%, 10rem);
  background-blend-mode: exclusion;
}

[theme='dark'] {
  body {
    background-blend-mode: unset;
  }
}

.image-panel {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 9rem;
  height: 9rem;
  margin: 0.5rem;
  border-radius: 50%;
  background: transparent no-repeat center / cover;
  box-shadow:
    inset 0 0 1rem 0.5rem #000a,
    0 0 0.5rem 0.25rem #000a;
  opacity: 0.75;
  pointer-events: none;
  z-index: -1;
}
