$start-inner-color: #000a;
$start-outer-color: #000a;
$end-inner-color: #f004;
$end-outer-color: #f004;

@keyframes breathe {
  0% {
    box-shadow:
      inset 0 0 1rem 0.5rem $start-inner-color,
      0 0 0.5rem 0.25rem $start-outer-color;
    opacity: 0.75;
  }
  50% {
    box-shadow:
      inset 0 0 1.2rem 0.7rem $end-inner-color,
      0 0 0.7rem 0.4rem $end-outer-color;
    opacity: 0.85;
  }
  100% {
    box-shadow:
      inset 0 0 1rem 0.5rem $start-inner-color,
      0 0 0.5rem 0.25rem $start-outer-color;
    opacity: 0.75;
  }
}

body {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;

  > main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 6rem;
  }
}

.image-circle {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 9rem;
  height: 9rem;
  margin: 0.5rem;
  border-radius: 50%;
  background: transparent no-repeat center / cover;
  box-shadow:
    inset 0 0 1rem 0.5rem $start-inner-color,
    0 0 0.5rem 0.25rem $start-outer-color;
  opacity: 0.75;
  pointer-events: none;
  z-index: -1;

  animation: breathe 3s ease-in-out infinite;
}
