body {
  position: fixed;
  inset: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 1fr auto;

  main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;

    background: no-repeat center center fixed;
  }

  .right-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
  }
}

#likesList {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80%;
  margin: 1rem;
  padding-right: 0.5rem;
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow-large);

  ul {
    width: 100%;

    li {
      display: grid;
      grid-template-columns: 2rem 5rem auto 8rem 2.5rem 2.5rem 2.5rem;
      gap: 0.5rem;

      &.header {
        font-weight: bold;
        position: sticky;
        top: 0;
        background-color: var(--color-bg-notice);
        z-index: 1;
      }

      &.highlight {
        background-color: var(--color-bg-focus);
      }

      &:not(.header) {
        cursor: pointer;

        &:hover {
          background-color: var(--color-bg-hover);
        }
      }

      span {
        font-size: var(--size-small);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.no,
        &.rank,
        &.likes,
        &.plays,
        &.ratio {
          text-align: right;
        }
      }
    }
  }
}
