body {
  position: fixed;
  inset: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 1fr auto;

  main {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
