body {
  position: fixed;
  inset: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 1fr auto;

  main {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  > header,
  > footer {
    display: flex;
    justify-content: flex-end;

    > img {
      display: inline-block;
      width: 9rem;
      height: 16rem;
      margin: 0px;
      border-radius: 1.5rem;
      padding: 0.25rem;
      object-fit: cover;
      transition: 0.3s ease-in-out;
    }
  }
  > footer {
    justify-content: flex-start;
  }
}
