body {
  & > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem 0.125rem;

    flay-studio {
      &.found {
        border-radius: 0.25rem;
        background-color: var(--color-bg-focus);
      }
    }
  }
}
