$duration: 0.3s;
$transformMethod: rotate3d(0, 1, 0, 90deg);

@keyframes old-flay {
  to {
    opacity: 0;
    transform: $transformMethod;
  }
}
@keyframes new-flay {
  from {
    opacity: 0;
    transform: $transformMethod;
  }
}

::view-transition-old(next-flay) {
  animation-name: old-flay;
  animation-duration: $duration;
  transform-origin: left;
}
::view-transition-new(next-flay) {
  animation-name: new-flay;
  animation-duration: $duration;
  animation-delay: $duration;
  transform-origin: right;
}

body {
  > main {
    position: fixed;
    inset: 0;

    display: grid;
    grid-template-rows: minmax(4rem, auto) 1fr;

    > header {
      position: relative;
      overflow: hidden;
    }
    > article {
      view-transition-name: next-flay;
      overflow: hidden;
    }
  }
}
