body {
  > header {
    > div {
      flex-wrap: wrap;
      gap: 0;

      > label {
        font-size: 16px;
        margin: 0;
        padding: 2px 8px !important;
        border: 0 !important;
      }
    }
  }
  > main {
    padding-bottom: 3rem;

    flay-marker {
      width: 100%;
      margin: 0.25rem auto;
    }
  }

  > footer {
    position: fixed;
    right: 0;
    bottom: 0;

    background-color: var(--color-bg-transparent);
    border-top-left-radius: 1rem;
    padding: 0.5rem;
    transition: 0.4s;
  }
}
