body {
  > header.sticky {
    > div {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 0 2px;
      margin: 0;
      max-width: fit-content;

      > .tag-group {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2px;
        margin: 0 0 4px;
        padding: 0;
        border-radius: 8px;
        &:hover {
          background-color: var(--color-bg-transparent);
        }

        label {
          font-size: 16px;
          margin: 0;
          padding: 2px 8px !important;
          border: 0 !important;
        }
      }
    }
  }
  > main {
    padding-bottom: 3rem;

    flay-marker {
      width: 100%;
      margin: 0.25rem auto;
    }
  }

  > footer {
    position: fixed;
    right: 0;
    bottom: 0;

    display: flex;
    gap: 8px;

    background-color: var(--color-bg-transparent);
    border-top-left-radius: 1rem;
    padding: 0.5rem;
    transition: 0.4s;
  }
}
