body {
  & > main {
    position: fixed;
    inset: 0;

    display: grid;
    grid-template-rows: minmax(4rem, auto) 1fr minmax(3rem, auto);

    & > header {
      overflow: auto;
    }
    & > article {
      overflow: hidden;
    }
    & > footer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

@media screen and (min-width: 1440px) {
  body > main > article > flay-page {
    flay-cover,
    flay-actress {
      max-width: 70rem;
    }
  }
}
