body {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  overflow: clip;

  .trash-button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: transparent;
    border-radius: 0 0 0 5px;
    color: #951a1a;
    padding: 4px;
    transition: 0.4s;
    opacity: 0;
  }

  .open-button {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: transparent;
    border-radius: 0 0 0 5px;
    color: var(--color-orange);
    padding: 4px;
    transition: 0.4s;
    opacity: 0;
  }

  &:hover {
    .trash-button,
    .open-button {
      display: inline-flex;
      &:hover {
        background-color: var(--color-bg);
        opacity: 1;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
}

@media (orientation: landscape) {
  body {
    img {
      width: auto;
      height: 100%;
    }
  }
}

@media (orientation: portrait) {
  body {
    img {
      width: 100%;
      height: auto;
    }
  }
}
