body {
  position: fixed;
  inset: 0;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

  flay-monitor {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    padding: 2rem;
  }

  button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5rem;
  }
}
