body {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  overflow: clip;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
}

@media (orientation: landscape) {
  body {
    img {
      height: 100%;
    }
  }
}

@media (orientation: portrait) {
  body {
    img {
      width: 100%;
    }
  }
}
