@charset "UTF-8";

/*
	URL:
		https://www.pandalive.co.kr/pick#bookmark
		https://www.pandalive.co.kr/live#user
 */

body {
	background-color: #000;
	overflow-x: hidden;
}
#wrapper {
	padding: 0;
	min-width: unset;
	width: initial;
	height: initial;
}
#header,
#sideArea,
#footer {
	display: none;
}
#container {
	margin: 0;
}
#container #content {
	padding: 0;
}
/* 방송 목록 너비 */
.liveList ul li,
.pickList ul li {
	min-width: 180px;
	max-width: 300px;
}
/* 방송제목 */
.liveList ul li .con .tit {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
