@charset "UTF-8";

:root {
	--rainbow-gradient: linear-gradient(to right, red , orange, yellow, green, blue, indigo, violet);
	--rainbow-box-shadow-h:  	    0.5px 0.5px 0px 1px red,  		  -0.5px 0.5px 0px 1px red,  		 -0.5px -0.5px 0px 1px red,   		 0.5px -0.5px 0px 1px red,
								      1px   1px 0px 1px orange,		    -1px   1px 0px 1px orange, 	 	   -1px   -1px 0px 1px orange,		   1px   -1px 0px 1px orange,
								    1.5px 1.5px 0px 1px yellow,		  -1.5px 1.5px 0px 1px yellow,		 -1.5px -1.5px 0px 1px yellow,		 1.5px -1.5px 0px 1px yellow,
								      2px   2px 0px 1px green,  	    -2px   2px 0px 1px green, 		   -2px   -2px 0px 1px green, 		   2px   -2px 0px 1px green,
								    2.5px 2.5px 0px 1px blue,  		  -2.5px 2.5px 0px 1px blue,  		 -2.5px -2.5px 0px 1px blue,  		 2.5px -2.5px 0px 1px blue,
								      3px   3px 0px 1px indigo, 	    -3px   3px 0px 1px indigo,		   -3px   -3px 0px 1px indigo,		   3px   -3px 0px 1px indigo,
							        3.5px 3.5px 0px 1px violet,		  -3.5px 3.5px 0px 1px violet,		 -3.5px -3.5px 0px 1px violet,		 3.5px -3.5px 0px 1px violet;
	--rainbow-box-shadow-1: 		  1px   1px 0px 1px red,    		-1px   1px 0px 1px red,   		   -1px   -1px 0px 1px red,   		   1px   -1px 0px 1px red,
								      2px   2px 0px 1px orange,  	    -2px   2px 0px 1px orange,		   -2px   -2px 0px 1px orange,		   2px   -2px 0px 1px orange,
								      3px   3px 0px 1px yellow,	   	    -3px   3px 0px 1px yellow,		   -3px   -3px 0px 1px yellow,		   3px   -3px 0px 1px yellow,
								      4px   4px 0px 1px green,		    -4px   4px 0px 1px green, 		   -4px   -4px 0px 1px green, 		   4px   -4px 0px 1px green,
								      5px   5px 0px 1px blue, 		    -5px   5px 0px 1px blue,  		   -5px   -5px 0px 1px blue,  		   5px   -5px 0px 1px blue,
								      6px   6px 0px 1px indigo,		    -6px   6px 0px 1px indigo, 		   -6px   -6px 0px 1px indigo,		   6px   -6px 0px 1px indigo,
								      7px   7px 0px 1px violet, 	    -7px   7px 0px 1px violet,         -7px   -7px 0px 1px violet,		   7px   -7px 0px 1px violet;
	--rainbow-box-shadow-2: 		  2px   2px 0px 1px red,  		    -2px   2px 0px 1px red,  	       -2px   -2px 0px 1px red,    		   2px   -2px 0px 1px red,
									  4px   4px 0px 1px orange,   		-4px   4px 0px 1px orange, 		   -4px   -4px 0px 1px orange,		   4px   -4px 0px 1px orange,
									  6px   6px 0px 1px yellow,   		-6px   6px 0px 1px yellow, 		   -6px   -6px 0px 1px yellow,		   6px   -6px 0px 1px yellow,
									  8px   8px 0px 1px green,    	   	-8px   8px 0px 1px green,   	   -8px   -8px 0px 1px green,   	   8px   -8px 0px 1px green,
									 10px  10px 0px 1px blue,    	   -10px  10px 0px 1px blue,    	  -10px  -10px 0px 1px blue,    	  10px  -10px 0px 1px blue,
									 12px  12px 0px 1px indigo,  	   -12px  12px 0px 1px indigo,  	  -12px  -12px 0px 1px indigo,  	  12px  -12px 0px 1px indigo,
									 14px  14px 0px 1px violet,		   -14px  14px 0px 1px violet,   	  -14px  -14px 0px 1px violet,  	  14px  -14px 0px 1px violet;
	--rainbow-box-shadow-h-n:	0 0 0 .5px red, 0 0 0 1px orange, 0 0 0 1.5px yellow, 0 0 0 2px green, 0 0 0 2.5px blue, 0 0 0  3px indigo, 0 0 0 3.5px violet;
	--rainbow-box-shadow-1-n:	0 0 0  1px red, 0 0 0 2px orange, 0 0 0   3px yellow, 0 0 0 4px green, 0 0 0   5px blue, 0 0 0  6px indigo, 0 0 0   7px violet;
	--rainbow-box-shadow-2-n:	0 0 0  2px red, 0 0 0 4px orange, 0 0 0   6px yellow, 0 0 0 8px green, 0 0 0  10px blue, 0 0 0 12px indigo, 0 0 0  14px violet;

	--rainbow-box-shadow-h-r:   	0.5px 0.5px 0px 1px violet inset, -0.5px 0.5px 0px 1px violet inset, -0.5px -0.5px 0px 1px violet inset, 0.5px -0.5px 0px 1px violet inset,
								      1px   1px 0px 1px indigo inset,   -1px   1px 0px 1px indigo inset,   -1px   -1px 0px 1px indigo inset,   1px   -1px 0px 1px indigo inset,
								    1.5px 1.5px 0px 1px blue   inset, -1.5px 1.5px 0px 1px blue   inset, -1.5px -1.5px 0px 1px blue   inset, 1.5px -1.5px 0px 1px blue   inset,
								      2px   2px 0px 1px green  inset,   -2px   2px 0px 1px green  inset,   -2px   -2px 0px 1px green  inset,   2px   -2px 0px 1px green  inset,
								    2.5px 2.5px 0px 1px yellow inset, -2.5px 2.5px 0px 1px yellow inset, -2.5px -2.5px 0px 1px yellow inset, 2.5px -2.5px 0px 1px yellow inset,
								      3px   3px 0px 1px orange inset,   -3px   3px 0px 1px orange inset,   -3px   -3px 0px 1px orange inset,   3px   -3px 0px 1px orange inset,
								    3.5px 3.5px 0px 1px red    inset, -3.5px 3.5px 0px 1px red    inset, -3.5px -3.5px 0px 1px red    inset, 3.5px -3.5px 0px 1px red    inset;
	--rainbow-box-shadow-1-r:	      1px   1px 0px 1px violet inset,   -1px   1px 0px 1px violet inset,   -1px   -1px 0px 1px violet inset,   1px   -1px 0px 1px violet inset,
								      2px   2px 0px 1px indigo inset,   -2px   2px 0px 1px indigo inset,   -2px   -2px 0px 1px indigo inset,   2px   -2px 0px 1px indigo inset,
								      3px   3px 0px 1px blue   inset,   -3px   3px 0px 1px blue   inset,   -3px   -3px 0px 1px blue   inset,   3px   -3px 0px 1px blue   inset,
								      4px   4px 0px 1px green  inset,   -4px   4px 0px 1px green  inset,   -4px   -4px 0px 1px green  inset,   4px   -4px 0px 1px green  inset,
								      5px   5px 0px 1px yellow inset,   -5px   5px 0px 1px yellow inset,   -5px   -5px 0px 1px yellow inset,   5px   -5px 0px 1px yellow inset,
								      6px   6px 0px 1px orange inset,   -6px   6px 0px 1px orange inset,   -6px   -6px 0px 1px orange inset,   6px   -6px 0px 1px orange inset,
								      7px   7px 0px 1px red    inset,   -7px   7px 0px 1px red    inset,   -7px   -7px 0px 1px red    inset,   7px   -7px 0px 1px red    inset;
	--rainbow-box-shadow-2-r:	      2px   2px 0px 1px violet inset,   -2px   2px 0px 1px violet inset,   -2px   -2px 0px 1px violet inset,   2px   -2px 0px 1px violet inset,
								      4px   4px 0px 1px indigo inset,   -4px   4px 0px 1px indigo inset,   -4px   -4px 0px 1px indigo inset,   4px   -4px 0px 1px indigo inset,
								      6px   6px 0px 1px blue   inset,   -6px   6px 0px 1px blue   inset,   -6px   -6px 0px 1px blue   inset,   6px   -6px 0px 1px blue   inset,
								      8px   8px 0px 1px green  inset,   -8px   8px 0px 1px green  inset,   -8px   -8px 0px 1px green  inset,   8px   -8px 0px 1px green  inset,
								     10px  10px 0px 1px yellow inset,  -10px  10px 0px 1px yellow inset,  -10px  -10px 0px 1px yellow inset,  10px  -10px 0px 1px yellow inset,
								     12px  12px 0px 1px orange inset,  -12px  12px 0px 1px orange inset,  -12px  -12px 0px 1px orange inset,  12px  -12px 0px 1px orange inset,
								     14px  14px 0px 1px red    inset,  -14px  14px 0px 1px red    inset,  -14px  -14px 0px 1px red    inset,  14px  -14px 0px 1px red    inset;

	--rainbow-box-shadow-h-n-r:	0 0 0 .5px violet inset, 0 0 0 1px indigo inset, 0 0 0 1.5px blue inset, 0 0 0 2px green inset, 0 0 0 2.5px yellow inset, 0 0 0  3px orange inset, 0 0 0 3.5px red inset;
	--rainbow-box-shadow-1-n-r:	0 0 0  1px violet inset, 0 0 0 2px indigo inset, 0 0 0   3px blue inset, 0 0 0 4px green inset, 0 0 0   5px yellow inset, 0 0 0  6px orange inset, 0 0 0   7px red inset;
	--rainbow-box-shadow-2-n-r:	0 0 0  2px violet inset, 0 0 0 4px indigo inset, 0 0 0   6px blue inset, 0 0 0 8px green inset, 0 0 0  10px yellow inset, 0 0 0 12px orange inset, 0 0 0  14px red inset;

	--rainbow-text-shadow-h:	    0.5px 0.5px 1px red,    -0.5px 0.5px 1px red,    -0.5px -0.5px 1px red,    0.5px -0.5px 1px red,
						              1px   1px 1px orange,   -1px   1px 1px orange,   -1px   -1px 1px orange,   1px   -1px 1px orange,
								    1.5px 1.5px 1px yellow, -1.5px 1.5px 1px yellow, -1.5px -1.5px 1px yellow, 1.5px -1.5px 1px yellow,
								      2px   2px 1px green,    -2px   2px 1px green,    -2px   -2px 1px green,    2px   -2px 1px green,
								    2.5px 2.5px 1px blue,   -2.5px 2.5px 1px blue,   -2.5px -2.5px 1px blue,   2.5px -2.5px 1px blue,
								      3px   3px 1px indigo,   -3px   3px 1px indigo,   -3px   -3px 1px indigo,   3px   -3px 1px indigo,
								    3.5px 3.5px 1px violet, -3.5px 3.5px 1px violet, -3.5px -3.5px 1px violet, 3.5px -3.5px 1px violet;
	--rainbow-text-shadow-1:       	  1px   1px 1px red,      -1px   1px 1px red,      -1px   -1px 1px red,      1px   -1px 1px red,
						              2px   2px 1px orange,   -2px   2px 1px orange,   -2px   -2px 1px orange,   2px   -2px 1px orange,
								      3px   3px 1px yellow,   -3px   3px 1px yellow,   -3px   -3px 1px yellow,   3px   -3px 1px yellow,
								      4px   4px 1px green,    -4px   4px 1px green,    -4px   -4px 1px green,    4px   -4px 1px green,
								      5px   5px 1px blue,     -5px   5px 1px blue,     -5px   -5px 1px blue,     5px   -5px 1px blue,
								      6px   6px 1px indigo,   -6px   6px 1px indigo,   -6px   -6px 1px indigo,   6px   -6px 1px indigo,
								      7px   7px 1px violet,   -7px   7px 1px violet,   -7px   -7px 1px violet,   7px   -7px 1px violet;
	--rainbow-text-shadow-2:       	  2px   2px 2px red,      -2px   2px 2px red,      -2px   -2px 2px red,      2px   -2px 2px red,
						              4px   4px 2px orange,   -4px   4px 2px orange,   -4px   -4px 2px orange,   4px   -4px 2px orange,
								      6px   6px 2px yellow,   -6px   6px 2px yellow,   -6px   -6px 2px yellow,   6px   -6px 2px yellow,
								      8px   8px 2px green,    -8px   8px 2px green,    -8px   -8px 2px green,    8px   -8px 2px green,
								     10px  10px 2px blue,    -10px  10px 2px blue,    -10px  -10px 2px blue,    10px  -10px 2px blue,
								     12px  12px 2px indigo,  -12px  12px 2px indigo,  -12px  -12px 2px indigo,  12px  -12px 2px indigo,
								     14px  14px 2px violet,  -14px  14px 2px violet,  -14px  -14px 2px violet,  14px  -14px 2px violet;

	--rainbow-text-shadow-h-r:	    0.5px 0.5px 1px violet, -0.5px 0.5px 1px violet, -0.5px -0.5px 1px violet, 0.5px -0.5px 1px violet,
						              1px   1px 1px indigo,   -1px   1px 1px indigo,   -1px   -1px 1px indigo,   1px   -1px 1px indigo,
								    1.5px 1.5px 1px blue,   -1.5px 1.5px 1px blue,   -1.5px -1.5px 1px blue,   1.5px -1.5px 1px blue, 
								      2px   2px 1px green,    -2px   2px 1px green,    -2px   -2px 1px green,    2px   -2px 1px green,
								    2.5px 2.5px 1px yellow, -2.5px 2.5px 1px yellow, -2.5px -2.5px 1px yellow, 2.5px -2.5px 1px yellow,
								      3px   3px 1px orange,   -3px   3px 1px orange,   -3px   -3px 1px orange,   3px   -3px 1px orange,
								    3.5px 3.5px 1px red,    -3.5px 3.5px 1px red,    -3.5px -3.5px 1px red,    3.5px -3.5px 1px red;  
	--rainbow-text-shadow-1-r:     	  1px   1px 1px violet,   -1px   1px 1px violet,   -1px   -1px 1px violet,   1px   -1px 1px violet,
						              2px   2px 1px indigo,   -2px   2px 1px indigo,   -2px   -2px 1px indigo,   2px   -2px 1px indigo,
								      3px   3px 1px blue,     -3px   3px 1px blue,     -3px   -3px 1px blue,     3px   -3px 1px blue, 
								      4px   4px 1px green,    -4px   4px 1px green,    -4px   -4px 1px green,    4px   -4px 1px green,
								      5px   5px 1px yellow,   -5px   5px 1px yellow,   -5px   -5px 1px yellow,   5px   -5px 1px yellow,
								      6px   6px 1px orange,   -6px   6px 1px orange,   -6px   -6px 1px orange,   6px   -6px 1px orange,
								      7px   7px 1px red,      -7px   7px 1px red,      -7px   -7px 1px red,      7px   -7px 1px red;  
	--rainbow-text-shadow-2-r:        2px   2px 2px violet,   -2px   2px 2px violet,   -2px   -2px 2px violet,   2px   -2px 2px violet,
						              4px   4px 2px indigo,   -4px   4px 2px indigo,   -4px   -4px 2px indigo,   4px   -4px 2px indigo,
								      6px   6px 2px blue,     -6px   6px 2px blue,     -6px   -6px 2px blue,     6px   -6px 2px blue, 
								      8px   8px 2px green,    -8px   8px 2px green,    -8px   -8px 2px green,    8px   -8px 2px green,
								     10px  10px 2px yellow,  -10px  10px 2px yellow,  -10px  -10px 2px yellow,  10px  -10px 2px yellow,
								     12px  12px 2px orange,  -12px  12px 2px orange,  -12px  -12px 2px orange,  12px  -12px 2px orange,
								     14px  14px 2px red,     -14px  14px 2px red,     -14px  -14px 2px red,     14px  -14px 2px red;

	--rainbow-text-shadow-h-n:	 0 0 .5px red, 0 0 1px orange, 0 0 1.5px yellow, 0 0 2px green, 0 0 2.5px blue, 0 0  3px indigo, 0 0 3.5px violet;
	--rainbow-text-shadow-1-n:	 0 0  1px red, 0 0 2px orange, 0 0   3px yellow, 0 0 4px green, 0 0   5px blue, 0 0  6px indigo, 0 0   7px violet;
	--rainbow-text-shadow-2-n:	 0 0  2px red, 0 0 4px orange, 0 0   6px yellow, 0 0 8px green, 0 0  10px blue, 0 0 12px indigo, 0 0  14px violet;

	--rainbow-text-shadow-h-n-r: 0 0 .5px violet, 0 0 1px indigo, 0 0 1.5px blue, 0 0 2px green, 0 0 2.5px yellow, 0 0  3px orange, 0 0 3.5px red;
	--rainbow-text-shadow-1-n-r: 0 0  1px violet, 0 0 2px indigo, 0 0   3px blue, 0 0 4px green, 0 0   5px yellow, 0 0  6px orange, 0 0   7px red;
	--rainbow-text-shadow-2-n-r: 0 0  2px violet, 0 0 4px indigo, 0 0   6px blue, 0 0 8px green, 0 0  10px yellow, 0 0 12px orange, 0 0  14px red;
}


.border-rainbow {
	border: 0px solid transparent;
	border-radius: .25rem;
	margin: .5px; 
	padding: .5px; 
}
.border-rainbow.v {box-shadow: 0 0 8px violet, 0 0 8px violet inset; border-color: violet;}
.border-rainbow.i {box-shadow: 0 0 8px indigo, 0 0 8px indigo inset; border-color: indigo;}
.border-rainbow.b {box-shadow: 0 0 8px blue  , 0 0 8px blue   inset; border-color: blue  ;}
.border-rainbow.g {box-shadow: 0 0 8px green , 0 0 8px green  inset; border-color: green ;}
.border-rainbow.y {box-shadow: 0 0 8px yellow, 0 0 8px yellow inset; border-color: yellow;}
.border-rainbow.o {box-shadow: 0 0 8px orange, 0 0 8px orange inset; border-color: orange;}
.border-rainbow.r {box-shadow: 0 0 8px red   , 0 0 8px red    inset; border-color: red   ;}
