.snap-layouts {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6974892;

  $snapSize: 1.5rem;
  $borderRadius: calc($snapSize / 6);
  $gap: calc($snapSize / 6);

  background-color: var(--color-layer-bg);
  box-shadow: -2px 2px 8px -2px var(--color-layer-box-shadow);
  border-bottom-left-radius: $borderRadius;

  opacity: 0;
  &:hover {
    opacity: 1;
  }

  &.portrait-primary {
    .layout {
      .row {
        width: calc($snapSize * 2);
      }
    }
  }
  &.landscape-primary {
    .layout {
      .row {
        width: calc($snapSize * 4);
      }
    }
  }

  .layout {
    display: flex;
    flex-direction: column;
    gap: $gap;
    margin: calc($snapSize / 3);
    padding: $gap;

    border: 1px solid transparent;
    border-radius: $borderRadius;

    &:hover {
      background-color: var(--color-layer-bg-hover);
    }

    .row {
      display: flex;
      gap: $gap;

      label {
        flex: 1 1 auto;
        height: $snapSize;
        background-color: var(--color-layer-bg);
        border: 1px solid var(--color-layer-border);
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 1.5rem var(--color-pink) inset;
        }

        &.active {
          background-color: var(--color-bg-active);
        }
      }
    }
  }
}
