flay-comment {
  position: relative;
  text-align: center;

  input {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .placeholder {
    color: var(--color-text-placeholder);
  }
  .japanese {
    margin-right: 8px;
  }

  &.card {
    .japanese {
      display: none;
    }
  }

  &.archive {
    * {
      color: var(--color-gray-dark);
    }
  }
}
