flay-opus {
  position: relative;
  text-align: center;

  div {
    display: inline-flex;
    gap: 1rem;

    button {
      opacity: 0;
      svg {
        width: 1.4rem;
      }
    }
  }

  & > div:hover {
    button {
      opacity: 1;
    }
  }

  &.card {
    button {
      display: none !important;
    }
  }

  &.archive {
    * {
      color: var(--color-gray-dark);
    }
  }
}
