.flay-release {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: baseline;

  > label.extra {
    font-size: var(--size-normal);
    min-width: 7rem;
    text-align: center;
  }

  &.card {
    .extra {
      display: none;
    }
  }

  &.archive {
    * {
      color: var(--color-gray-dark);
    }
  }
}
