:root {
  --marker-size: 1rem;
  --shot-blur: 0.75rem;
  --shot-spread: 0.5rem;
  --square-radius: 0.25rem;
}

.flay-marker {
  display: inline-block;
  aspect-ratio: 1/1;
  width: var(--marker-size);
  background: var(--color-text) no-repeat center right / cover;
  border: 1px solid var(--color-border);
  border-radius: 0.125rem;
  opacity: 0;
  cursor: pointer;

  &.archive {
    background-color: var(--color-text-secondary);
  }
  &.shot {
    box-shadow: inset 0 0 var(--shot-blur) var(--shot-spread) var(--color-red);
  }
  &.active {
    border-color: var(--color-border-active);
  }

  &.circle,
  &.square,
  &.rhombus,
  &.heart,
  &.star {
    opacity: 1;
  }

  &.circle {
    border-radius: 50%;
  }
  &.square {
    border-radius: var(--square-radius);
  }
  &.rhombus {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  &.heart,
  &.star {
    display: inline-flex;
    border: 0;
    background-color: transparent;
    svg {
      width: 100%;
      color: inherit;
    }
    &.shot {
      box-shadow: none;
      svg {
        color: var(--color-red);
      }
    }
  }
}
