.flay-page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  transition: 0.4s;
  margin: auto;
  max-width: 800px;

  & > .flay-div {
    margin: 0.125rem auto;
    padding: 0 0.5rem;
    min-height: 2rem;
    width: 100%;
  }

  .flay-cover {
    margin: 0.5rem auto;
  }

  .flay-cover,
  .flay-actress {
    max-width: 900px;
  }
}

// FHD 세로보다 클때 크기 조정
@media screen and (min-width: 1080px) {
  .flay-page {
    max-width: 90%;
  }
}

// 팝업시 세로 높이에 따라 간단히 보이기
@media screen and (max-height: 989px) {
  .flay-page.popup {
    .flay-tag {
      .tag-list {
        input[type='checkbox']:not(:checked) + label {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-height: 750px) {
  .flay-page.popup {
    .flay-studio,
    .flay-comment {
      display: none;
    }
  }
}
@media screen and (max-height: 600px) {
  .flay-page.popup {
    .flay-opus {
      display: none;
    }
  }
}
