$borderRadius: 0.5rem;

flay-article {
  position: relative;
  display: block;

  max-width: 900px;
  width: 100%;

  margin: auto;
  border: 0;
  padding: 0;
  border-radius: $borderRadius;

  .cover {
    display: flex;
    aspect-ratio: var(--cover-aspect-ratio);
    background: transparent no-repeat center / cover;
    border-radius: $borderRadius;
  }

  dl {
    margin: 1rem auto 0.5rem;
    text-align: center;

    dt,
    dd {
      margin: 0;
      padding: 0;
      min-height: 2rem;
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-shadow: var(--text-shadow);
      small {
        margin-left: 0.5rem;
      }
    }
    dt {
      min-height: 2.25rem;
      font-weight: 700;
    }

    .title {
      font-size: var(--size-large);
      min-height: 2.5rem;
    }

    .opus,
    .title,
    .actress {
      span {
        cursor: pointer;
        margin: 0 0.25rem;
      }
    }
  }

  &.card {
    dl {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0 1rem;
      text-align: left;

      dt {
        span {
          background-color: var(--color-bg-transparent);
          border-radius: $borderRadius;
          margin: 0;
          padding: 0 0.25rem 0.125rem;
        }
      }
      dd {
        display: none;
      }
    }
  }

  &.cover {
    .cover {
      box-shadow: inset 0 0 1rem 0.5rem var(--color-bg-transparent);
      transition: 0.4s;

      &:hover {
        box-shadow: none;
      }
    }

    dl {
      margin: 0.25rem auto 0;
      padding: 0 1rem 0.5rem;

      dt,
      dd {
        display: none;
      }

      .title {
        display: block;
        font-size: var(--size-normal);
        min-height: 1.5rem;
      }
      .actress {
        display: block;
        font-size: var(--size-small);
        min-height: 1.25rem;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  flay-article {
    dl {
      dt,
      dd {
        text-shadow: none;
      }
    }
  }
}
