.flay-marker {
  display: inline-block;
  width: 1rem;
  aspect-ratio: 1/1;
  background: no-repeat center right / cover;
  background-color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 0.125rem;
  cursor: pointer;

  &.archive {
    background-color: var(--color-text-secondary);
  }
  &.shot {
    box-shadow: inset 0 0 0.75rem 0.5rem var(--color-red);
  }
  &.active {
    border-color: var(--color-border-active);
  }

  &.cover {
    border-width: 0;
    &.shot {
      box-shadow: none;
      border-color: var(--color-red);
      border-width: 2px;
    }
  }

  &.circle {
    border-radius: 50%;
  }
  &.square {
    border-radius: 0.25rem;
  }

  &.heart,
  &.star {
    display: inline-flex;
    border: 0;
    background-color: transparent;
    svg {
      width: 100%;
      color: inherit;
    }
    &.shot {
      box-shadow: none;
      svg {
        color: var(--color-red);
      }
    }
  }
}
