/*
 * 1. Theme Settings
 * - 디자인 시스템의 기본 변수 정의
 * - 사이즈, 색상, 테마 등의 변수 설정
 */

:root {
  /* 크기 변수 */
  --size-hugest: 4rem;
  --size-huge: 2rem;
  --size-largest: 1.5rem;
  --size-large: 1.25rem;
  --size-normal: 1rem;
  --size-small: 0.875rem;
  --size-smallest: 0.7rem;

  /* 테두리 반경 */
  --border-radius-hugest: 1rem;
  --border-radius-huge: 0.75rem;
  --border-radius-largest: 0.5rem;
  --border-radius-large: 0.25rem;
  --border-radius: 0.125rem;

  /* 커스텀 정의 */
  --cover-aspect-ratio: 400 / 269 auto;

  /* 기본 색상 정의 */
  --color-transparent: #0000;
  --color-orange: #ffa500;
  --color-red: #ff0000;
  --color-blue: #0000ff;
  --color-green: #00ff00;
  --color-pink: #ffc0cb;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-alpha-light: #00000044;
  --color-black-alpha-dark: #00000088;

  --color-light: #f1f1f1;
  --color-light-dark: #dddddd;

  --color-dark: #202020;
  --color-dark-light: #555555;
  --color-dark-dark: #111111;

  --color-gray: #808080;
  --color-gray-light: #cccccc;
  --color-gray-dark: #aaaaaa;

  --color-gray-b1: #121212;
  --color-gray-b2: #282828;
  --color-gray-b3: #3c3c3c;
  --color-gray-b4: #4a4a4a;

  --color-primary: #4285f4;
  --color-primary-dark: #3367d6;
  --color-secondary: #777;

  --color-text-secondary: var(--color-gray);
  --color-text-danger: var(--color-red);
  --color-text-warn: orangered;

  --color-checked: var(--color-orange);
  --color-border-active: var(--color-orange);

  --color-tab-active: var(--color-orange);

  --box-shadow-large: 0 8px 32px 8px var(--color-black-alpha-light);
  --box-shadow: 0 2px 16px 4px var(--color-black-alpha-light);
  --box-shadow-small: 0 2px 8px 2px var(--color-black-alpha-dark);
  --box-shadow-smallest: 0 2px 8px 0 var(--color-black-alpha-light);

  --text-shadow-active: 1px 1px 1px var(--color-orange);
}

/* 라이트 테마 (기본) */
:root {
  --color-bg: var(--color-white);
  --color-bg-notice: var(--color-gray-light);
  --color-bg-cover: var(--color-gray-light);
  --color-bg-hover: var(--color-gray-dark);
  --color-bg-transparent: #eeec;
  --color-bg-input: #ffc0cb18;
  --color-bg-input-focus: #ffc0cb83;
  --color-bg-side-nav: #f3f3f3;
  --color-bg-focus: #ffc0cb83;
  --color-bg-active: #ffc0cb83;
  --color-bg-window: #eee;

  --color-text: var(--color-dark);
  --color-text-placeholder: var(--color-dark-light);
  --color-text-window: #918b8b;

  --color-border: var(--color-light-dark);
  --color-border-reversed: var(--color-black-alpha-dark);
  --color-border-window: #d3cece;

  --text-shadow: 1px 1px 1px var(--color-gray-dark);
  --text-shadow-hover: 1px 1px 1px var(--color-blue);

  --color-layer-bg: #f3f3f3;
  --color-layer-bg-hover: #00000032;
  --color-layer-border: #00000032;
  --color-layer-box-shadow: #000;
}

/* 다크 테마 */
[theme='dark'] {
  --color-bg: var(--color-dark);
  --color-bg-notice: var(--color-dark-dark);
  --color-bg-cover: var(--color-dark-dark);
  --color-bg-hover: var(--color-dark-light);
  --color-bg-transparent: #000a;
  --color-bg-input: #00000018;
  --color-bg-input-focus: #00000081;
  --color-bg-side-nav: #202020;
  --color-bg-focus: #333a41;
  --color-bg-active: #333a41;
  --color-bg-window: #333;

  --color-text: var(--color-light);
  --color-text-placeholder: var(--color-gray-dark);
  --color-text-window: var(--color-light);

  --color-border: var(--color-dark-dark);
  --color-border-reversed: var(--color-light-dark);
  --color-border-window: #4b4b4b;

  --text-shadow: 1px 1px 2px var(--color-dark-light);
  --text-shadow-hover: 1px 1px 2px var(--color-orange);

  --color-layer-bg: #202020;
  --color-layer-bg-hover: #ffffff32;
  --color-layer-border: #ffffff32;
  --color-layer-box-shadow: gray;
}

/* 디버그 모드 설정 */
[debug='1'] {
  --debug1-outline: #418546 dashed 1px; /* 기본 요소 윤곽선 */
}
[debug='2'] {
  --debug1-outline: #418546 dashed 1px; /* 기본 요소 윤곽선 */
  --debug2-outline: #da57a6 dotted 1px; /* 모든 요소 윤곽선 */
}

/* 디버그 윤곽선 적용 */
.ground {
  outline: var(--debug1-outline) !important;
}

*,
::after,
::before {
  outline: var(--debug2-outline) !important;
}
