html {
  font-size: 14px;
}

@media screen and (min-height: 1081px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-height: 1441px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-height: 1921px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-height: 2561px) {
  html {
    font-size: 28px;
  }
}

/* Mobile - Landscape */
@media (min-width: 576px) {
}

/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 992px) {
}

/* Desktop (Large) */
@media (min-width: 1200px) {
}
