/*
 * 6. Sticky Header Settings
 * - 상단에 고정되는 헤더 요소의 스타일 정의
 * - 반응형 디자인 지원
 */

body {
  > header.sticky {
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    margin: 0;
    padding: 1rem;
    background-color: var(--color-bg);
    box-shadow: var(--box-shadow-smallest);
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: var(--box-shadow-small);
    }

    & > * {
      flex: 1 0 auto;

      display: flex;
      justify-content: center;
      gap: 0.25rem;
      margin: auto;
      min-height: 2.5rem;
      max-width: 999px;
      width: 100%;

      input {
        flex: 1 1 auto;
        width: 1px;
      }
      input[type='date'],
      input[type='text'],
      input[type='search'],
      input[type='number'],
      input[type='radio'] + label,
      input[type='checkbox'] + label,
      select,
      label,
      button,
      textarea {
        border: 1px dashed chocolate;
        border-radius: var(--border-radius);
        transition: all 0.2s ease;

        &:focus {
          border-color: var(--color-border-active);
          box-shadow: 0 0 0 2px var(--color-bg-focus);
        }
      }
      label,
      input[type='text'] {
        text-align: center;
      }
      input[type='radio'] + label,
      input[type='checkbox'] + label {
        padding: 0.25rem 0.75rem;
      }
      button {
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        &:hover {
          background-color: var(--color-bg-hover);
        }
      }
    }
  }
}

/* 태블릿 이상 화면에서의 스타일 */
@media screen and (min-width: 768px) {
  body {
    > header.sticky {
      padding: 0.75rem 1rem;

      & > * {
        max-width: 768px;
      }
    }
  }
}

/* 데스크탑 화면에서의 스타일 */
@media screen and (min-width: 992px) {
  body {
    > header.sticky {
      & > * {
        max-width: 992px;
      }
    }
  }
}

/* 큰 데스크탑 화면에서의 스타일 */
@media screen and (min-width: 1200px) {
  body {
    > header.sticky {
      & > * {
        max-width: 1200px;
      }
    }
  }
}
