:root {
  --start-color: #fffa;
  --breathe-color: #f004;
}

[theme='dark'] {
  --start-color: #000a;
}

@keyframes breathe-emboss {
  0% {
    box-shadow:
      0 0 0.5rem 0.25rem var(--start-color),
      inset 0 0 1rem 0.5rem var(--start-color);
    opacity: 0.75;
  }
  50% {
    box-shadow:
      0 0 0.7rem 0.4rem var(--breathe-color),
      inset 0 0 1.2rem 0.7rem var(--breathe-color);
    opacity: 0.85;
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.25rem var(--start-color),
      inset 0 0 1rem 0.5rem var(--start-color);
    opacity: 0.75;
  }
}

@keyframes breathe-engrave {
  0% {
    box-shadow:
      inset 0 0 0.5rem 0.25rem var(--start-color),
      inset 0 0 1rem 0.5rem var(--start-color);
    opacity: 0.75;
  }
  50% {
    box-shadow:
      inset 0 0 0.7rem 0.4rem var(--start-color),
      inset 0 0 1.2rem 0.7rem var(--breathe-color);
    opacity: 0.85;
  }
  100% {
    box-shadow:
      inset 0 0 0.5rem 0.25rem var(--start-color),
      inset 0 0 1rem 0.5rem var(--start-color);
    opacity: 0.75;
  }
}

.image-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    animation: breathe-engrave 3s ease-out infinite;
    background: transparent no-repeat center / cover;
    border-radius: 50%;
    opacity: 0.75;
    pointer-events: none;
    z-index: -1;
  }

  &.circle > div {
    border-radius: 50%;
  }
  &.square > div {
    border-radius: 0;
  }
  &.rounded > div {
    border-radius: 0.5rem;
  }

  &.emboss > div {
    animation-name: breathe-emboss;
  }
  &.engrave > div {
    animation-name: breathe-engrave;
  }
  &.event-allow > div {
    pointer-events: all;
    z-index: auto;
  }
}
