flay-files {
  position: relative;

  .info {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    > .flay-movie,
    > .sub-btn,
    > .size-label {
      min-width: 4rem;
      display: inline-flex;
      justify-content: start;
    }
    > .flay-movie {
      min-width: 4.5rem;
    }
    > .sub-btn {
      min-width: 3.5rem;
    }
    > .size-label {
      align-items: baseline;
      justify-content: flex-end;
    }
  }

  .list {
    display: none;
    font-family: var(--font-family-monospace);

    $border-color: var(--color-border-reversed);

    ol {
      margin: 0;
      padding: 0.5rem;
      list-style: none;
      text-align: left;
      border: 2px dashed $border-color;
      border-bottom: 0;
      li {
        font-size: var(--size-smallest);
        margin-bottom: 0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          background-color: var(--color-bg-input-hover);
        }
      }
    }

    .rename-flay {
      display: flex;

      input {
        cursor: auto;
      }
      input,
      button {
        font-size: var(--size-smallest);
        border: 2px dashed $border-color;
        border-right: 0;
        padding: 4px;
        transition: background-color 0.4s;
        &:hover {
          background-color: var(--color-bg-input-hover);
        }
      }
      button {
        font-size: var(--size-small);
        border-right: 2px dashed $border-color;
      }

      [name='studio'] {
        flex: 0 0 auto;
        width: 4rem;
      }
      [name='opus'] {
        flex: 0 0 auto;
        width: 4rem;
      }
      [name='title'] {
        flex: 1 1 auto;
      }
      [name='actress'] {
        flex: 0 0 auto;
        width: 6rem;
      }
      [name='release'] {
        flex: 0 0 auto;
        width: 4.5rem;
      }
    }

    &.show {
      display: block;
      padding-bottom: 0.5rem;
    }
  }

  .search-torrent {
    opacity: 0;
    &:hover {
      transition: opacity 0.4s;
      opacity: 1;
    }
  }

  &.small {
    .info {
      gap: 0.5rem;

      .flay-play {
        svg {
          width: 1.25rem;
        }
      }
    }

    .sub-btn,
    .size-label,
    .search-torrent,
    .files-btn {
      display: none !important;
    }
  }

  &.card {
    .size-label,
    .search-torrent,
    .files-btn {
      display: none;
    }
  }

  &.archive {
    * {
      color: var(--color-gray-dark);
    }
  }
}
