facade-web-movie {
  position: relative;
  display: flex;
  width: 30rem;
  margin: 0 auto;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  video {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  div {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    opacity: 1 !important;
    transition: opacity 0.3s ease-out;
    div {
      opacity: 1 !important;
    }
  }
}

// landscape orientation
@media (min-aspect-ratio: 1/1) {
  facade-web-movie {
    width: auto !important;
  }
}

// portrait orientation
@media (max-aspect-ratio: 1/1) {
  facade-web-movie {
    height: auto !important;
  }
}
