facade-web-movie {
  position: relative;
  display: flex;
  width: 30rem;
  margin: 0 auto;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  video {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

// landscape orientation
@media (min-aspect-ratio: 1/1) {
  facade-web-movie {
    width: auto !important;
  }
}

// portrait orientation
@media (max-aspect-ratio: 1/1) {
  facade-web-movie {
    height: auto !important;
  }
}
