<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promise.all.then</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        console.log('promise start');
        Promise.all([
            new Promise((resolve, reject) => {
                $.ajax({
                    url: '../data/index.menu.json', success: function (json) {
                        console.log('promise1 ajax get', json);
                        resolve(true);
                    }
                });
            }),
            new Promise((resolve, reject) => {
                $.ajax({
                    url: '../data/main.menu.json', success: function (json) {
                        console.log('promise2 ajax get', json);
                        resolve(true);
                    }
                });
            }),
            new Promise((resolve, reject) => {
                resolve(true);
            })
        ]).then(values => {
            console.log('then values', values);
        });
    </script>
</head>

<body>

</body>

</html>