html {
  font-size: 16px;
  font-family: 'Malgun Gothic';
}
// 1080, 1920, 1440, 2560
@media screen and (max-height: 2560px) {
  html {
    font-size: 24px;
  }
}
@media screen and (max-height: 1920px) {
  html {
    font-size: 20px;
  }
}
@media screen and (max-height: 1440px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-height: 1080px) {
  html {
    font-size: 14px;
  }
}

body {
  position: relative;
  margin: 0;
  padding: 0;

  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Mobile - Landscape */
@media (min-width: 576px) {
}

/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 992px) {
}

/* Desktop (Large) */
@media (min-width: 1200px) {
}
