[theme='dark'] {
  body {
    background-blend-mode: unset;
  }
}

html {
  font-size: 14px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;

  background: var(--color-bg) no-repeat fixed right bottom / min(100%, 10rem);
  background-blend-mode: exclusion;
  color: var(--color-text);
}

@media screen and (min-height: 1080px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-height: 1440px) {
  html {
    font-size: 20px;
  }
}
// @media screen and (min-height: 1920px) {
//   html {
//     font-size: 24px;
//   }
// }
// @media screen and (min-height: 2560px) {
//   html {
//     font-size: 28px;
//   }
// }

/* Mobile - Landscape */
@media (min-width: 576px) {
}

/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 992px) {
}

/* Desktop (Large) */
@media (min-width: 1200px) {
}
