*,
::after,
::before {
  box-sizing: border-box;
  outline: var(--debug2-outline) !important;
}

header,
main,
article,
footer,
div,
pre,
nav,
ul,
ol,
span,
label,
a,
button,
input,
select,
option,
textarea {
  position: relative;
  color: var(--color-text);
}

a,
button,
input[type='url'],
input[type='date'],
input[type='text'],
input[type='search'],
input[type='number'],
input[type='checkbox'] + label,
input[type='radio'] + label,
select,
textarea {
  background-color: transparent;
  cursor: pointer;
  display: inline;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: var(--size-large);
  font-weight: 700;
  text-shadow: var(--text-shadow);
  outline: none;
}

input[type='url'],
input[type='text'],
input[type='search'],
input[type='number'],
textarea {
  cursor: initial;
}

a {
  text-decoration: none;
}
a:not(.disable):hover {
  text-shadow: var(--text-shadow-hover);
}

button:not(.disable):hover {
  text-shadow: var(--text-shadow-hover);
}
button > svg {
  width: 1.75rem;
}

input[type='url'],
input[type='date'],
input[type='text'],
input[type='search'],
input[type='number'] {
  padding: 0.25rem 0;
  text-align: center;
}

input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}
input[type='checkbox'] + label:hover,
input[type='radio'] + label:hover {
  text-shadow: var(--text-shadow-hover);
}
input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
  color: var(--color-checked);
}
input[type='checkbox'] + label > svg,
input[type='radio'] + label > svg {
  height: var(--size-large);
  width: var(--size-large);
}

select {
  padding: 0.25rem 0;
}
select option {
  background-color: var(--color-bg);
  font-size: var(--size-normal);
}

textarea {
  padding: 0.25rem 0;
  width: 100%;
}

img {
  position: relative;
  display: block;
  margin: auto;
  height: 100%;
}

pre {
  font-family: D2Coding;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  font-size: var(--size-large);
  font-weight: 700;
}

input::spelling-error,
textarea::spelling-error {
  text-decoration: none;
}

.disable {
  color: var(--color-text-secondary) !important;
  cursor: initial !important;
}
.hide {
  display: none !important;
}
.error {
  color: var(--color-text-danger) !important;
}

i.badge {
  float: right;
  margin: 0 0 0 0.25rem;
  font-size: var(--size-small);
  font-style: normal;
  font-weight: 400;
  min-width: 1rem;
}

/* 커스텀 엘리먼트 small 모드 */
.card label,
.card label a,
.card button {
  font-size: var(--size-normal) !important;
}
.small label,
.small label a,
.small button {
  font-size: var(--size-small) !important;
  text-shadow: none;
}
div.small label {
  padding: 0.125rem !important;
}

h1 {
  font-size: var(--size-largest);
}
h2 {
  font-size: var(--size-large);
}
h3 {
  font-size: var(--size-normal);
}
h4 {
  font-size: var(--size-small);
}
h5 {
  font-size: var(--size-smallest);
}
