header {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: auto;
  padding: 1rem;
  max-width: 999px;
  background-color: var(--color-bg);

  & > div {
    display: flex;
    gap: 0.25rem;
    min-height: 2.5rem;

    input {
      flex: 1 1 auto;
      width: 1px;
    }
    input[type='date'],
    input[type='text'],
    input[type='search'],
    input[type='number'],
    input[type='checkbox'] + label,
    select,
    label,
    button,
    textarea {
      border: 1px dashed chocolate;
    }
    label,
    input[type='text'] {
      text-align: center;
    }
    input[type='checkbox'] + label {
      padding: 0.25rem 0.75rem;
    }
    button {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}
