header {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: auto;
  padding: 1rem;
  max-width: 999px;
  background-color: var(--color-bg);

  & > div {
    display: flex;
    gap: 0.25rem;
    min-height: 2.5rem;

    input {
      flex: 1 1 auto;
      width: 1px;
    }
    input[type='date'],
    input[type='text'],
    input[type='search'],
    input[type='number'],
    input[type='checkbox'] + label,
    select,
    label,
    button,
    textarea {
      border: 1px dashed chocolate;
    }
    label,
    input[type='text'] {
      text-align: center;
    }
    input[type='checkbox'] + label {
      padding: 0.25rem 0.75rem;
    }
    button {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

article {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 200px);
  gap: 1rem;
  padding: 1rem;

  flay-card {
    width: 100%;
    box-shadow: 0 0 0.25rem 0.125rem #aaa;
    transition: 0.2s;
  }
}

@media screen and (max-width: 2560px) {
  // QHD 가로 풀
  article {
    grid-template-columns: repeat(4, minmax(auto, 640px));
  }
}

@media screen and (max-width: 1280px) {
  // QHD 가로 절반
  article {
    grid-template-columns: repeat(3, minmax(auto, 420px));
  }
}

@media screen and (max-width: 1080px) {
  // benq 세로 풀
  article {
    grid-template-columns: repeat(3, minmax(auto, 333px));
  }
}
