@charset "UTF-8";

@import url(/webjars/fontawesome/css/font-awesome.min.css);
@import url(/webjars/bootstrap/css/bootstrap.min.css);
@import url(/webjars/jquery-ui/jquery-ui.min.css);
@import url(/webjars/jquery-ui/jquery-ui.theme.min.css);

@import url(/css/@/theme.color-set.css);
@import url(/css/@/font.css);
@import url(/css/@/neon.css);
@import url(/css/@/rainbow.css);
@import url(/css/@/range.css);
@import url(/css/@/scrollbar.css);
@import url(/css/@/flay.view.card.css);

:root {
	--cover-ratio: 0.6725;
	--rank-1: rgba(0, 0, 255, 0.5);
	--rank0: rgba(255, 255, 0, 0.5);
	--rank1: rgba(255, 0, 0, 0.5);
	--rank2: rgba(255, 0, 0, 0.6);
	--rank3: rgba(255, 0, 0, 0.7);
	--rank4: rgba(255, 0, 0, 0.8);
	--rank5: rgba(255, 0, 0, 0.9);
	--dark-color: #111;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	transition: background-color 0.5s;
}

button.btn {
	background-color: var(--color-bg-button);
	color: var(--color-text);
}

.check-group {
	display: inline-flex;
	width: initial;
	vertical-align: middle;
	gap: 2px;
}
.check-group label {
	margin: 0;
}
.check-group,
label.check {
	margin: 0;
	padding: 4px;
	transition: box-shadow 0.2s;
}
.check-group label,
label.check {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}
.check-group span,
label.check span {
	background-color: var(--color-bg-check);
	border: 1px solid transparent;
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.25rem var(--color-box-shadow);
	color: var(--color-text);
	font-size: 1rem;
	font-weight: 700;
	text-shadow: 1px 1px 2px var(--color-text-shadow);
	padding: 0.125rem 0.25rem;
	transition: background-color 0.3s, color 0.3s, text-shadow 0.3s;
}
.check-group.sm span,
label.check.sm span {
	border-radius: 0.2rem;
	font-size: 0.875rem;
	padding: 0.25rem 0.5rem;
	line-height: 1.5;
}
.check-group.xs span,
label.check.xs span {
	border-radius: 0.2rem;
	font-size: 0.675rem;
	padding: 0.125rem 0.25rem;
	line-height: 1.1;
}
.check-group:not(.check-group-rounded) label:not(:first-child) span {
	border-left-color: transparent;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.check-group:not(.check-group-rounded) label:not(:last-child) span {
	border-right-color: transparent;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.check-group input,
label.check input {
	display: none;
}
.check-group input:checked ~ span,
label.check input:checked ~ span {
	color: var(--color-input-checked);
	text-shadow: 0 0 1px black;
}
.check-group:hover span,
label.check:hover span {
	color: var(--color-text-hover);
}
.check-group label input[type='radio'] ~ span,
label.check input[type='radio'] ~ span {
	border-radius: 0.25rem;
}
.check-group.sm label input[type='radio'] ~ span,
label.check.sm input[type='radio'] ~ span {
	border-radius: 0.2rem;
}
.check-group.check-group-rounded label input[type='radio'] ~ span,
label.check input[type='radio'] ~ span {
	border-radius: 4px;
}
.check-group.sm.check-group-rounded label input[type='radio'] ~ span,
label.check.sm input[type='radio'] ~ span {
	border-radius: 2px;
}

.check-group.primary span,
label.check.primary span {
	border-color: var(--primary);
	color: var(--primary);
}
.check-group.success span,
label.check.success span {
	border-color: var(--success);
	color: var(--success);
}
.check-group.info span,
label.check.info span {
	border-color: var(--info);
	color: var(--info);
}
.check-group.warning span,
label.check.warning span {
	border-color: var(--warning);
	color: var(--warning);
}
.check-group.danger span,
label.check.danger span {
	border-color: var(--danger);
	color: var(--danger);
}
.check-group.primary input:checked ~ span,
label.check.primary input:checked ~ span {
	background-color: var(--primary) !important;
	color: var(--light) !important;
	text-shadow: 0 0 16px midnightblue;
}
.check-group.success input:checked ~ span,
label.check.success input:checked ~ span {
	background-color: var(--success) !important;
	color: var(--light) !important;
	text-shadow: 0 0 16px midnightblue;
}
.check-group.info input:checked ~ span,
label.check.info input:checked ~ span {
	background-color: var(--info) !important;
	color: var(--light) !important;
	text-shadow: 0 0 16px midnightblue;
}
.check-group.warning input:checked ~ span,
label.check.warning input:checked ~ span {
	background-color: var(--warning) !important;
	color: var(--light) !important;
	text-shadow: 0 0 16px midnightblue;
}
.check-group.danger input:checked ~ span,
label.check.danger input:checked ~ span {
	color: var(--danger) !important;
	background-color: transparent;
}
.check-group.primary label:hover span,
label.check.primary:hover span {
	box-shadow: none;
	text-shadow: 1px 1px 0 #333;
}
.check-group.success label:hover span,
label.check.success:hover span {
	box-shadow: none;
	text-shadow: 1px 1px 0 #333;
}
.check-group.info label:hover span,
label.check.info:hover span {
	box-shadow: none;
	text-shadow: 1px 1px 0 #333;
}
.check-group.warning label:hover span,
label.check.warning:hover span {
	box-shadow: none;
	text-shadow: 1px 1px 0 #333;
}
.check-group.danger label:hover span,
label.check.danger:hover span {
	box-shadow: none;
	text-shadow: 1px 1px 0 #333;
}
.check-group.primary label:hover input:checked ~ span,
label.check.primary:hover input:checked ~ span {
	box-shadow: none;
	text-shadow: 1px 1px 0 #333;
}
.check-group.success label:hover input:checked ~ span,
label.check.success:hover input:checked ~ span {
	box-shadow: none;
	text-shadow: 1px 1px 0 #333;
}
.check-group.info label:hover input:checked ~ span,
label.check.info:hover input:checked ~ span {
	box-shadow: none;
	text-shadow: 1px 1px 0 #333;
}
.check-group.warning label:hover input:checked ~ span,
label.check.warning:hover input:checked ~ span {
	box-shadow: none;
	text-shadow: 1px 1px 0 #333;
}
.check-group.danger label:hover input:checked ~ span,
label.check.danger:hover input:checked ~ span {
	box-shadow: none;
	text-shadow: 1px 1px 0 #333;
}

/* input search */
input.input-flay {
	display: inline-block;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	color: var(--color-text);
	margin: 4px 2px;
	padding: 0.125rem 0.5rem;
	height: 27px;
	width: inherit;
	transition: all 0.5s;
	vertical-align: middle;
}
input.input-flay:focus {
	background-color: var(--color-bg-input-hover);
	color: var(--color-text);
	border: 1px solid transparent;
}

input.search {
	width: 150px;
}
/* input range ranker */
label.range {
	display: inline-flex;
	background-color: var(--color-bg-range);
	border-radius: 0.75rem;
	border: 1px solid transparent;
	margin: 4px 2px;
	padding: 0 0 0 0.25rem;
	transition: all 0.3s;
	vertical-align: middle;
}
label.range:hover {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
	background-color: #103356;
}
label.range > input[type='range'] {
	width: 150px;
}
label.range input[type='range'] ~ span {
	color: var(--color-text);
	padding: 1px 6px;
	display: table-cell;
	font-weight: 700;
}
/* custom input range */
.ranker {
	display: inline-flex;
	background-color: var(--color-bg-ranker);
	border-radius: 0.75rem;
	border: 1px solid transparent;
	margin: 4px 2px;
	padding: 0 4px;
	width: initial;
	transition: all 0.3s;
	vertical-align: middle;
}
.ranker:hover {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
}
.ranker input {
	display: none;
}
.ranker > label:first-child {
	margin: 0 4px 0 4px;
	padding: 0;
	padding-top: 3px;
}
.ranker > label {
	cursor: pointer;
	margin: 0 4px 0 0;
	padding: 0;
	padding-top: 3px;
}
.ranker input ~ i {
	color: #e0e0e0;
	transition: all 0.3s;
	font-size: 20px;
	text-shadow: 1px 1px 2px var(--color-text-shadow);
}
.ranker:hover input ~ i {
	color: #ccc;
}
.ranker input:checked ~ i.r-1,
.ranker input ~ i.r-1:hover {
	color: var(--rank-1);
}
.ranker input:checked ~ i.r0,
.ranker input ~ i.r0:hover {
	color: var(--rank0);
}
.ranker input:checked ~ i.r1,
.ranker input ~ i.r1:hover {
	color: var(--rank1);
}
.ranker input:checked ~ i.r2,
.ranker input ~ i.r2:hover {
	color: var(--rank2);
}
.ranker input:checked ~ i.r3,
.ranker input ~ i.r3:hover {
	color: var(--rank3);
}
.ranker input:checked ~ i.r4,
.ranker input ~ i.r4:hover {
	color: var(--rank4);
}
.ranker input:checked ~ i.r5,
.ranker input ~ i.r5:hover {
	color: var(--rank5);
}

/* label text */
label.text {
	background-color: var(--color-bg-label);
	border: 1px solid transparent;
	border-radius: 0.25rem;
	color: var(--color-text);
	font-weight: 700;
	margin: 4px 2px;
	padding: 0.125rem 0.5rem;
	text-shadow: 1px 1px 2px var(--color-text-shadow);
	transition: all 0.3s;
}
label.text.hover:hover {
	background-color: var(--color-bg-label-hover);
	color: var(--color-text);
	text-shadow: 0 0 1px midnightblue;
}
label.text:empty {
	display: none;
}
label.text.xs {
	font-size: 0.75rem;
	line-height: 1.4;
}
label.text.sm {
	font-size: 0.875rem;
	line-height: 1.5;
}
label.text.lg {
	font-size: 1.125rem;
	line-height: 1.7;
}

.text.danger {
	background-color: var(--danger) !important;
}

/* button */
button.btn.btn-flay,
button.btn.btn-outline-flay {
	background-color: var(--color-bg-button);
	color: var(--color-text);
	font-weight: 700;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, text-shadow 0.3s;
}
button.btn.btn-flay:hover,
button.btn.btn-outline-flay:hover {
	text-shadow: 0 0 1px midnightblue;
	color: #eede1a;
}
button.btn.btn-flay:active:focus,
button.btn.btn-outline-flay:active:focus {
	box-shadow: 0 0 0 0.2rem rgba(25, 25, 112, 0.4);
	text-shadow: 0 0 4px #000, 0 0 3px #e2d313, 0 0 6px #e2d313, 0 0 9px #e2d313, 0 0 12px #e2d313, 0 0 15px #847b0b, 0 0 18px #847b0b;
}
button.btn.btn-outline-flay {
	border-color: midnightblue;
}

.bg-chalkboard {
	background: #000 url(/img/bg/chalkboard.jpg) no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
}
.bg-chalkboard.card-body {
	border-radius: 0.25rem;
}
.bg-chalkboard * {
	color: #eee;
	font-weight: 700;
	font-family: 'Ink Free';
}
.bg-chalkboard .progress {
	background-color: rgba(255, 255, 255, 0.125);
}
.bg-chalkboard .progress-bar {
	background: #fff url(/img/pattern/pattern-static.png);
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.bg-chalkboard .text-dark {
	color: #b0b0ff !important;
}
.bg-chalkboard thead th {
	color: #d7e478;
}
.bg-chalkboard tfoot th {
	color: #20b67a;
}
.bg-chalkboard .hover:hover {
	mask-image: url(/img/pattern/pattern-static.png);
	-webkit-mask-image: url(/img/pattern/pattern-static.png);
	text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #999999, 0 0 10px #000000;
}

.bg-black {
	background-color: #000 !important;
}

#wrap_body {
	z-index: 1;
	transition: margin-left 0.5s;
}
#wrap_body > div {
	z-index: 74;
}

.top-left {
	position: absolute;
	top: 0;
	left: 0;
}
.top-right {
	position: absolute;
	top: 0;
	right: 0;
}
.center-left {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}
.center-right {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
}
.bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}
.bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

.fixed-center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.fixed-top {
	position: fixed;
	top: 0;
}
.fixed-top-left {
	position: fixed;
	top: 0;
	left: 0;
}
.fixed-top-right {
	position: fixed;
	top: 0;
	right: 0;
}
.fixed-bottom {
	position: fixed;
	bottom: 0;
}
.fixed-bottom-left {
	position: fixed;
	bottom: 0;
	left: 0;
}
.fixed-bottom-right {
	position: fixed;
	bottom: 0;
	right: 0;
}
.fixed-bottom-middle {
	position: fixed;
	bottom: 0;
	right: 50%;
	transform: translate(50%, 0);
}

.full-screen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.favorite {
	color: red !important;
}
.nonExist {
	color: #afafaf !important;
}
.nowrap {
	width: inherit;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: bottom;
}
.divider {
	width: 1rem;
	display: inline-flex;
}
@media screen and (max-width: 1080px) {
	.divider {
		width: 0.5rem;
	}
}
.hover {
	cursor: pointer;
	transition: 0.2s;
}
.hover:hover {
	text-shadow: 0 1px 2px orange;
}
.hover-warning:hover {
	color: var(--warning);
}

.width-50 {
	width: 50px !important;
}
.width-60 {
	width: 60px !important;
}
.width-70 {
	width: 70px !important;
}
.width-80 {
	width: 80px !important;
}
.width-90 {
	width: 90px !important;
}
.width-100 {
	width: 100px !important;
}
.width-150 {
	width: 150px !important;
}
.width-200 {
	width: 200px !important;
}
.width-250 {
	width: 250px !important;
}
.width-300 {
	width: 300px !important;
}
.width-400 {
	width: 400px !important;
}

.mt-5r {
	margin-top: 5rem;
}
.mt-9r {
	margin-top: 9rem;
}

.font-flay {
	font-family: 'Ink Free';
	font-weight: 700;
	color: #fff;
}
.font-effect-flay-static {
	-webkit-mask-image: url(/img/pattern/pattern-static.png);
	mask-image: url(/img/pattern/pattern-static.png);
	text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #999999, 0 0 10px #000000;
}

/* modified bootstrap 4 */
.page-item.active .page-link {
	background-color: var(--color-bg-page);
	border-color: midnightblue;
	color: var(--color-text-active);
}
.page-item.active .page-link:hover {
	color: var(--color-text-active);
}
.page-item:not(.disabled) .page-link {
	cursor: pointer;
}
.page-item.disabled .page-link {
	background-color: var(--color-bg-page);
}
.page-link {
	background-color: var(--color-bg-page);
	color: var(--color-text);
	font-weight: 400;
	text-shadow: 1px 1px 2px var(--color-text-shadow);
}
.page-link:hover {
	background-color: var(--color-bg-page);
	color: var(--color-text-hover);
}

.btn-link,
.btn-link:hover {
	color: midnightblue;
}
.img-thumbnail {
	background-color: transparent;
}
.btn:focus,
.custom-select:focus,
.form-control:focus,
.page-link:focus {
	box-shadow: none;
}

.font-size-1r {
	font-size: 1rem;
}
.font-size-2r {
	font-size: 2rem;
}
.font-size-3r {
	font-size: 3rem;
}

.card {
	background-color: var(--color-bg-card);
	border: 1px solid var(--color-border-card);
}
.input-group-text,
.form-control,
.form-control[readonly],
.form-control:focus {
	background-color: var(--color-bg-form);
	border: 1px solid var(--color-border-form);
	color: var(--color-text-form);
}

#topMenu {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	background-color: transparent !important;
	margin-bottom: 0.5rem;
}
#topMenu > nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	align-content: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.25rem 0.5rem;
	transition: background-color 0.3s;
}
#topMenu > nav:hover {
	background-color: var(--color-bg-nav-hover) !important;
	box-shadow: 0 0.5rem 1rem var(--color-box-shadow);
	transition: box-shadow 0.4s;
}
#topMenu > nav > button {
	border: 0;
}
#bottomMenu {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.pagination {
	border-radius: 0;
	margin: 0;
	padding: 0.5rem;
	text-align: center;
	transition: background-color 0.4s;
}
.pagination-sm .page-link {
	border: 0;
	min-width: 50px;
}
.pagination:hover > .page-item > .page-link {
	background-color: var(--color-bg-page-hover);
}

.scroll-wrapper {
	position: relative;
	height: calc(100vh - 50px);
	overflow: auto;
	background-color: var(--color-bg-card);
}
