@charset "UTF-8";
:root {
	--cover-ratio: 0.6625;
	--darker: #2d2d2d;
	--rank-1: rgba(0, 0, 255, .5);
	--rank0:  rgba(255, 255, 0, .5);
	--rank1:  rgba(255, 0, 0, .5);
	--rank2:  rgba(255, 0, 0, .6);
	--rank3:  rgba(255, 0, 0, .7);
	--rank4:  rgba(255, 0, 0, .8);
	--rank5:  rgba(255, 0, 0, .9);
}

body {
	transition: background-color .5s;
}

.check-group 																						  {display: inline-flex; width: initial; vertical-align: middle;}
.check-group 		 label+label 																	  {/* margin: 0 0 0 -1px; */}
.check-group 		 label 																			  {margin: 0;}
.check-group                                         , label.check                                    {margin: 4px 2px; transition: box-shadow .2s;}
													   label.check 									  {						  				  }
.check-group 		 label							 , label.check 									  {cursor: pointer; display: inline-block; vertical-align: middle;}
.check-group 									 span, label.check 						  		 span {background-color: var(--light); border: 1px solid transparent;	border-radius: .25rem; color: var(--gray); font-size: 1rem;	    font-weight: 700; padding: .375rem .75rem; transition: all .3s;}
.check-group.sm 								 span, label.check.sm 							 span {                            										border-radius: .2rem; 					   font-size: 0.875rem;                   padding: .25rem .5rem;   line-height: 1.5;}
.check-group 		 label:not(:first-child) 	 span 												  {								   border-left-color: transparent;	border-top-left-radius: 0;  border-bottom-left-radius: 0;}
.check-group 		 label:not(:last-child) 	 span 												  {								   border-right-color: transparent;	border-top-right-radius: 0; border-bottom-right-radius: 0;}
.check-group 					 input				 , label.check 				 input 				  {display: none;}
.check-group 					 input:checked ~ span, label.check 				 input:checked ~ span {background-color: midnightblue;   color: #fff;}
.check-group:hover									 , label.check:hover 						      {/* box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); */}
.check-group:hover								 span, label.check:hover 						 span {color: midnightblue;}
.check-group 		 label:hover input:checked ~ span, label.check:hover 		 input:checked ~ span {}
.check-group         label input[type='radio'] ~ span, label.check         input[type='radio'] ~ span {border-radius: .25rem;}
.check-group.sm      label input[type='radio'] ~ span, label.check.sm      input[type='radio'] ~ span {border-radius: .2rem;}

.check-group.primary 			 	 			 span, label.check.primary 		 		  		 span {border-color: var(--primary); 				color: var(--primary);} 
.check-group.success 			 	 			 span, label.check.success 		 		  		 span {border-color: var(--success); 				color: var(--success);}
.check-group.info    			 	 			 span, label.check.info    		 		  		 span {border-color: var(--info);	   				color: var(--info);}
.check-group.warning 			 	 			 span, label.check.warning 		 		  		 span {border-color: var(--warning); 				color: var(--warning);}
.check-group.danger  			 	 			 span, label.check.danger  		 		  		 span {border-color: var(--danger);  				color: var(--danger);}
.check-group.primary 			 input:checked ~ span, label.check.primary 		 input:checked ~ span {background-color: var(--primary) !important; color: var(--light) !important; text-shadow: 0 0 16px midnightblue;}
.check-group.success 			 input:checked ~ span, label.check.success 		 input:checked ~ span {background-color: var(--success) !important; color: var(--light) !important; text-shadow: 0 0 16px midnightblue;}
.check-group.info    			 input:checked ~ span, label.check.info    		 input:checked ~ span {background-color: var(--info)    !important; color: var(--light) !important; text-shadow: 0 0 16px midnightblue;}
.check-group.warning 			 input:checked ~ span, label.check.warning 		 input:checked ~ span {background-color: var(--warning) !important; color: var(--light) !important; text-shadow: 0 0 16px midnightblue;}
.check-group.danger  			 input:checked ~ span, label.check.danger  		 input:checked ~ span {background-color: var(--danger)  !important; color: var(--light) !important; text-shadow: 0 0 16px midnightblue;}
.check-group.primary label:hover 	 			 span, label.check.primary:hover 		   		 span {box-shadow: none; text-shadow: 1px 1px 0 #333;}
.check-group.success label:hover 	 			 span, label.check.success:hover 		   		 span {box-shadow: none; text-shadow: 1px 1px 0 #333;}
.check-group.info    label:hover 	 			 span, label.check.info:hover    		   		 span {box-shadow: none; text-shadow: 1px 1px 0 #333;}
.check-group.warning label:hover 	 			 span, label.check.warning:hover 		   		 span {box-shadow: none; text-shadow: 1px 1px 0 #333;}
.check-group.danger  label:hover 	 			 span, label.check.danger:hover  		   		 span {box-shadow: none; text-shadow: 1px 1px 0 #333;}
.check-group.primary label:hover input:checked ~ span, label.check.primary:hover input:checked ~ span {box-shadow: none; text-shadow: 1px 1px 0 #333;} 
.check-group.success label:hover input:checked ~ span, label.check.success:hover input:checked ~ span {box-shadow: none; text-shadow: 1px 1px 0 #333;}
.check-group.info    label:hover input:checked ~ span, label.check.info:hover    input:checked ~ span {box-shadow: none; text-shadow: 1px 1px 0 #333;}
.check-group.warning label:hover input:checked ~ span, label.check.warning:hover input:checked ~ span {box-shadow: none; text-shadow: 1px 1px 0 #333;}
.check-group.danger  label:hover input:checked ~ span, label.check.danger:hover  input:checked ~ span {box-shadow: none; text-shadow: 1px 1px 0 #333;}

body.bg-dark .check-group            		     span, body.bg-dark label.check 				 span {background-color: #2d2d2d; color: lightgray;    transition: background-color .3s, color .3s, text-shadow .3s;}
body.bg-dark .check-group        input:checked ~ span, body.bg-dark label.check  input:checked ~ span {                           color: var(--light); text-shadow: 0 0 4px #000, 0 0 3px #e2d313, 0 0 6px #e2d313, 0 0 9px #e2d313, 0 0 12px #e2d313, 0 0 15px #847b0b, 0 0 18px #847b0b;}
body.bg-dark .check-group:hover   		         span, body.bg-dark label.check:hover			 span {background-color: #103356; color: var(--light);}
body.bg-dark .check-group:hover				         , body.bg-dark label.check:hover 				  {box-shadow: none;}

/* input search */
input.input-flay {
	display: inline-block;
	background-color : var(--light);
	border: 1px solid #eee;
	border-radius: .25rem;
	color: #333; 
	margin: 4px 2px;
	padding: .125rem .5rem;
	height: 27px;
	width: inherit;
	transition: all .5s;
	vertical-align: middle;
}
input.search {
	width: 150px;	
}
body.bg-dark input.input-flay {
	background-color: var(--darker);
	border-color: var(--gray-dark);
	color: var(--light);
}
input.input-flay:focus, input.input-flay:hover {
	border-color: var(--gray-dark);
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .125);
	outline: none;
}
body.bg-dark input.input-flay:focus, body.bg-dark input.input-flay:hover {
	background-color: #103356;
	border-color: var(--darker);
}
body.bg-dark input.form-control, body.bg-dark .input-group-text {
	background-color: var(--darker);
	color: var(--light);
}

/* input range ranker */
label.range {
	display: inline-flex;
	background-color: var(--light);
	border-radius: .75rem;
	border: 1px solid transparent;
	margin: 4px 2px;
	padding: 0 0 0 .25rem;
	transition: all .3s;
	vertical-align: middle;
}
label.range > input[type='range'] {
	width: 150px;
}
label.range input[type='range'] ~ span {
	color: #212529;
	padding: 1px 6px;
	display: table-cell;
	font-weight: 700;
}
body.bg-dark label.range {
	background-color: var(--darker);
	border-color: var(--gray-dark);
}
body.bg-dark label.range input[type='range'] ~ span {
	color: var(--light);
}
label.range:hover {
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .125);
}
body.bg-dark label.range:hover {
	background-color: #103356;
}

/* custom input range */
.ranker {
    display: inline-flex;
    background-color: var(--light);
    border-radius: .75rem;
	border: 1px solid #eee;
    margin: 4px 2px;
    width: initial;
	transition: all .3s;
	vertical-align: middle;
}
.ranker:hover {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .125);
}
body.bg-dark .ranker {
	background-color: #212529;
	border-color: transparent;
}
body.bg-dark .ranker:hover {
	background-color: #103356;
}
.ranker input {
	display: none;
}
.ranker > label:first-child {
	margin: 0  4px 0 4px;
	padding: 0;
	padding-top: 3px;
}
.ranker > label {
	cursor: pointer;
	margin: 0 4px 0 0;
	padding: 0;
	padding-top: 3px;
}
.ranker input ~ i {
	color: #e0e0e0;
	transition: all .3s;
	font-size: 20px;
}
.ranker:hover input ~ i {
	color: #ccc;
}
.ranker input:checked ~ i.r-1, .ranker input ~ i.r-1:hover {color: var(--rank-1);}
.ranker input:checked ~ i.r0,  .ranker input ~ i.r0:hover  {color: var(--rank0);}
.ranker input:checked ~ i.r1,  .ranker input ~ i.r1:hover  {color: var(--rank1);}
.ranker input:checked ~ i.r2,  .ranker input ~ i.r2:hover  {color: var(--rank2);}
.ranker input:checked ~ i.r3,  .ranker input ~ i.r3:hover  {color: var(--rank3);}
.ranker input:checked ~ i.r4,  .ranker input ~ i.r4:hover  {color: var(--rank4);}
.ranker input:checked ~ i.r5,  .ranker input ~ i.r5:hover  {color: var(--rank5);}

/* label text */
label.text {
	background-color: var(--light);
	border: 1px solid transparent;
	border-radius: .25rem;
	color: #212529;
	font-weight: 700;
	margin: 4px 2px;
	padding: .125rem .5rem;
	transition: all .3s;
}
label.text.hover:hover 		{text-shadow: 0 0 1px midnightblue;}
label.text:empty 			{display: none;}
label.text.xs 				{font-size: 0.75rem;	line-height: 1.4;}
label.text.sm 				{font-size: 0.875rem;	line-height: 1.5;}
label.text.lg 				{font-size: 1.125rem;	line-height: 1.7;}
body.bg-dark label.text    		    {background-color: var(--darker);	color: var(--light);}
body.bg-dark label.text.hover:hover {background-color: #103356; color: #eede1a; box-shadow: none;}

/* button */
button.btn.btn-flay, button.btn.btn-outline-flay {
	background-color: var(--light);
	color: #111;
	font-weight: 700;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, text-shadow .3s;
}
button.btn.btn-flay:hover, button.btn.btn-outline-flay:hover {
	text-shadow: 0 0 1px midnightblue;
}
button.btn.btn-flay:active:focus, button.btn.btn-outline-flay:active:focus {
	box-shadow: 0 0 0 0.2rem rgba(25, 25, 112, .4);
}
button.btn.btn-outline-flay {
	border-color: midnightblue;	
}
body.bg-dark button.btn.btn-flay, body.bg-dark button.btn.btn-outline-flay {
	background-color: var(--darker);
	color: var(--light);
}
body.bg-dark button.btn.btn-flay:hover, body.bg-dark button.btn.btn-outline-flay:hover {
	background-color: #103356;
	color: #eede1a;  
}
body.bg-dark button.btn.btn-flay:active:focus, body.bg-dark button.btn.btn-outline-flay:active:focus {
	text-shadow: 0 0 4px #000, 0 0 3px #e2d313, 0 0 6px #e2d313, 0 0 9px #e2d313, 0 0 12px #e2d313, 0 0 15px #847b0b, 0 0 18px #847b0b;
}
body.bg-dark .ui-dialog {
	background-color: var(--darker);
}

/* layout */
#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 9999;
	cursor: pointer;
}
#overlay > #overlay_body {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	color: white;
	font-size: 3rem;
}
.overlay-error-body {
	font-size: 2rem;
	color: var(--danger);
}

/* side nav */
.sidenav {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 9998;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.75);
    overflow: hidden;
	text-shadow: 1px 1px 2px #000;
    transition: 0.5s;
}
.sidenav:hover {
	width: 200px;
}
.sidenav > .sidenav-openbtn {
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	z-index: 9999;
	font-size: 2rem;
	cursor: pointer;
	padding-left: 4px;
}
.sidenav > .sidenav-openbtn       > i 					 {opacity: 0; transition: all .5s;}
.sidenav > .sidenav-openbtn:hover > i 					 {opacity: 1;}
.sidenav > h4 											 {						text-align: center; padding-top: 50px;}
.sidenav > h4 > a                                        {vertical-align: middle;}
.sidenav > h4 > a:hover 								 {color: var(--yellow);	text-decoration: none;}
.sidenav > h4 > img                                      {height: 2rem; border-radius: 50%; vertical-align: middle; margin-right: .5rem; cursor: pointer;}
.sidenav > .nav 										 {						margin-top: 1rem;}
.sidenav > .nav > .nav-item 							 {color: var(--blue); 	padding: .25rem .5rem;	min-height: 2.5rem; transition: all .5s;}
.sidenav > .nav > .nav-item 	  > i.fa 				 {						width: 1rem; text-align: center; margin-right: .5rem;}
.sidenav > .nav > .nav-item:hover > i.fa 				 {color: var(--yellow);}
.sidenav > .nav > .nav-item > label[onclick] 		     {						cursor: pointer; 	margin-bottom: 0;}
.sidenav > .nav > .nav-item > label[aria-include] 		 {						cursor: pointer; 	margin-bottom: 0;}
.sidenav > .nav > .nav-item > label[aria-include].active {color: var(--yellow);}
.sidenav > .nav > .nav-item > label:hover 				 {color: var(--yellow);}
.sidenav > .nav > .nav-item > a 						 {color: inherit;}
.sidenav > .nav > .nav-item > a:hover 					 {color: var(--white);	text-decoration: none;}
.sidenav > .nav > .nav-item > label + a,
.sidenav > .nav > .nav-item > a + a 					 {opacity: 0;}
.sidenav > .nav > .nav-item:hover > label + a,
.sidenav > .nav > .nav-item:hover > a + a 				 {opacity: 1;}

.sidenav input[type="color"] {
	background-color: transparent;
    border: 1px solid #fff;
    border-radius: .25rem;
	cursor: pointer;
    margin-left: .5rem;
    padding: 0;
    width: 50px;
}

#specialView {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, .75);
	background-image: url('/img/bg/person_SH_2079.jpeg');
	background-position: center;
	background-repeat: no-repeat;
    z-index: 9997;
    transition: 1s;
}
#crazySidenav:hover ~ #specialView {
	width: 100%;
}

#wrap_background_image {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	z-index: -5;
}
#background_images {
	background: rgba(0, 0, 0, .5);
	height: 100%;
	margin: 0;
	padding: 0 1rem;
	z-index: -4;
}
#background_images.transparent {
	background-color: transparent;
}
#background_images .col {
	z-index: -3;
}
#background_images img {
	cursor: pointer;
	margin-top: 2rem;
	width: inherit;
	transition: height 1s;
	z-index: -2;
}

.bg-chalkboard {
	background: #000 url(/img/bg/chalkboard.jpg) no-repeat top center; 
	background-size: cover; 
	background-attachment: fixed;
}
.bg-chalkboard.card-body {
	border-radius: .25rem;
}
.bg-chalkboard * {
	color: #eee;
	font-weight: 700;
	font-family: 'Ink Free';
}
.bg-chalkboard .progress {
	background-color: rgba(255, 255, 255, .125);
}
.bg-chalkboard .progress-bar {
	background: #fff url(/img/pattern/pattern-static.png);
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.bg-chalkboard .text-dark {
	color: #b0b0ff !important;
}
.bg-chalkboard thead th {
	color: #d7e478;
}
.bg-chalkboard tfoot th {
	color: #20b67a;
}
.bg-chalkboard .hover:hover {
	-webkit-mask-image: url(/img/pattern/pattern-static.png);
	text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #999999, 0 0 10px #000000;
}

#wrap_body {
	z-index: 1;
	transition: margin-left 0.5s;
}
#wrap_body > div {
	z-index: 74;
}

.top-left     {position: absolute; top: 0;     left: 0;}
.top-right    {position: absolute; top: 0;    right: 0;}
.center-left  {position: absolute; top: 50%;   left: 0; transform: translate(0, -50%);}
.center-right {position: absolute; top: 50%;  right: 0; transform: translate(0, -50%);}
.bottom-left  {position: absolute; bottom: 0;  left: 0;}
.bottom-right {position: absolute; bottom: 0; right: 0;}
.fixed-center {position: absolute; top: 50%;   left: 50%; transform: translate(-50%, -50%);}
.fixed-top    {position: fixed; top: 0;}
.fixed-bottom {position: fixed; bottom: 0;}

.favorite {
	color: red !important;
}
.nonExist {
 	color: #747474 !important;
}
.nowrap {
	width: inherit;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: bottom;
}
.divider {
	width: 1rem;
	display: inline-flex;
}
.hover {
	cursor: pointer;
	transition: .2s;
}
.hover:hover {
	text-shadow: 0 1px 2px orange;
}
.width-50  {width:  50px !important;}
.width-70  {width:  70px !important;}
.width-80  {width:  80px !important;}
.width-100 {width: 100px !important;}
.width-150 {width: 150px !important;}
.width-200 {width: 200px !important;}
.width-250 {width: 250px !important;}
.width-300 {width: 300px !important;}

.mt-5r {margin-top: 5rem;}
.mt-9r {margin-top: 9rem;}

.font-flay {
	font-family: 'Ink Free';
	font-weight: 700;
	color: #fff;
}
.font-effect-flay-static {
	-webkit-mask-image: url(/img/pattern/pattern-static.png);
	text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #999999, 0 0 10px #000000;
}

/* modified bootstrap 4 */
.page-item.active .page-link {
    background-color: midnightblue;
    border-color: midnightblue;
}
.page-item.active .page-link:hover {
	color: #fff;
}
.page-link {
	color: midnightblue;
}
.btn-link, .btn-link:hover {
    color: midnightblue;
}
.img-thumbnail {
    background-color: transparent;
}
.btn:focus, .custom-select:focus, .form-control:focus, .page-link:focus {
	box-shadow: none;
}

/* dark theme */
body.bg-dark {
	background-color: #000 !important;
}
body.bg-dark nav.navbar, 
body.bg-dark .bg-light {
	background-color: var(--darker) !important;
	color: var(--light) !important;
}

body.bg-dark ul.pagination                                      {background-color: var(--darker) !important;} 
body.bg-dark ul.pagination .page-item                .page-link {background-color: var(--darker);}
body.bg-dark ul.pagination .page-item.active         .page-link {background-color: #103356;	border-color: #dee2e6;}
body.bg-dark ul.pagination .page-item.disabled       .page-link {color: var(--gray);}
body.bg-dark ul.pagination .page-item:not(.disabled) .page-link {color: var(--light);}

body.bg-dark .btn-link {
	color: var(--light);
}
body.bg-dark .fa-plus:before, body.bg-dark .fa-ellipsis-v:before {
    text-shadow: 0 0 .25rem var(--light);
}
body.bg-dark .card {
	background-color: var(--darker);
	color: var(--light);
}
body.bg-dark th, body.bg-dark td {
	color: var(--light);
}
