@charset "UTF-8";

.flay-list {
	text-align: center;
	overflow: auto;
}
.flay-list > .card.flay-card {
    display: inline-flex;
/* 	box-shadow: 0 0 0.5rem 0.25rem rgba(255, 255, 255, 0.5); 
	background-color: #e6ff00;
	padding: 1px; */
	margin: 0.5rem;
/* 	width: 300px;
    height: calc(300px * var(--cover-ratio)); */
}
.flay-list > .card.flay-card > .card-body {
    border-radius: 0.25rem;
	padding: 0.125rem;
}
.flay-list > .card.flay-card > .card-body > .card-title {
	margin-bottom: 0;
}
.flay-list > .card.flay-card > .card-body > .card-title > .flay-title {
	max-width: 290px;
}
.flay-list > .card.flay-card > .card-body > .card-text {
	margin: 0;
}

.card.flay-card {
    border: 0;
    margin: auto;
}
.card.flay-card > .card-body {
    background: #000 center no-repeat;
    background-size: contain;
    text-align: left;
	box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
	border: 1px solid #000;
}
.card.flay-card > .card-body > .card-text:empty {
	display: none;
}
.flay-comment-input {
	display: none;
	border-radius: 0.25rem;
}

.flay-file-group {
/* 	position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    font-family: 'D2Coding';
}
.flay-file {
	font-size: .875rem;
}
body.bg-dark .flay-file {
	background-color: var(--darker);
}


.card.flay-card label.text, .card.flay-card .flay-rank {
	background-color: transparent;
	text-shadow: 0 0 2px midnightblue, 0 0 4px #000, 0 0 8px #000, 0 0 12px midnightblue, 0 0 16px #000;
	color: #fff;
}
 
.card.flay-card:hover label.text:not(.flay-rank-sm), .card.flay-card:hover .flay-rank {
	background-color: var(--dark) !important;
	text-shadow: 1px 1px 2px midnightblue
}
.card.flay-card label.text:hover {
	background-color: rgba(25, 25, 112, .5);
}

.flay-rank-sm {
	position: absolute;
	border: 1px solid #f00;
}
.flay-list:hover .flay-rank-sm {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 8rem;
    text-align: center;
    transition: background-color 0s, font-size .3s; 
    background-color: transparent!important;
} 
.card.flay-card:hover .flay-rank-sm {
	border-color: transparent;
	opacity: .5;
}