@charset "UTF-8";
:root {
	--cover-width: 800px;
	--cover-height: calc(var(--cover-width) * var(--cover-ratio));
	--cover-width-lg: 1000px;
	--cover-height-lg: calc(var(--cover-width-lg) * var(--cover-ratio));
	--cover-width-sm: 600px;
	--cover-height-sm: calc(var(--cover-width-sm) * var(--cover-ratio));
}
body {
	overflow: hidden;
}

#pageContent {
	margin-top: 56px;
	padding-top: .5rem;
}

#selectTags, #statisticsStudio, #statisticsActress {
	border-radius: 1rem;
	box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.25);
	display: none;
	margin: 55px auto -50px;
	padding: 0.5rem;
	text-align: center;
	width: 90%;
	z-index: 69;
}
#selectTags > div.tag-list > label.check.sm > span > .tag-flay-count {
	min-width: 22px;
}

#options {
	display: none;
	position: fixed;
	top: 0;
	margin-top: 56px;
	padding: 0.5rem;
	box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.5);
	border-radius: 1rem;
	z-index: 74;
}
#options i.fa {
	width: 1rem;
	text-align: center;
	margin-right: 0.5rem;
}

.video-wrapper {
	text-align: center;
}

.info-wrapper > dl {
	margin-bottom: 0;
}

.info-wrapper > dl > dt:last-child {
	padding: 0.25rem 0 1rem;
}

.info-wrapper .info-title {
	max-width: var(--cover-width);
}
.info-wrapper-actress {
	min-height: 38px;
}

.info-overview-input {
	display: none;
	border: 1px solid #eee;
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
	height: 27px;
	width: 200px;
	padding: 0.125rem;
	transition: all 0.3s;
}

.tag-list .nonExist {
	color: #c7bdbd !important;
}
body.bg-dark .tag-list .nonExist {
	color: #4a4545 !important;
}

.cover-wrapper {
	margin: 0 auto 10px;
	width: 3100px;
}

.cover-wrapper-inner {
	display: inline-block;
}

.cover-box {
	background: #fff no-repeat center;
	background-size: contain;
	box-shadow: 0 0 0.25rem 0.5rem #fff inset;
    border: 0;
	border-radius: 0.25rem;
/* 	width: 800px;
	height: calc(800px * var(--cover-ratio)); */
	width: var(--cover-width);
	height: var(--cover-height);
	transition: background 0.2s ease-out;
}
body.bg-dark .cover-box {
    background-color: #000;
    box-shadow: 0 0 0.25rem 0.5rem #000 inset;
}
#newTagForm {
	width: 400px;
	margin: 0.5rem auto;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
	border-radius: 0.2rem;
}
body.bg-dark #newTagForm button {
    border-color: #ced4da;
}
 
.notice-bar {
	margin: 0.25rem;
	text-align: center;
}

.pagination {
	border-radius: 0;
	padding: 0.5rem;
	margin: 0;
	text-align: center;
}
.pagination-sm .page-link {
	min-width: 50px;
}
.pagination ~ .progress .progress-bar {
	background-color: #000;
}

@media screen and (min-height: 1650px) {
	.info-wrapper > dl > dt:last-child, .info-wrapper > dl > dd {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	.info-title {
		font-size: 1.75rem !important;
	}
	.info-wrapper-actress {
		min-height: 50px;
	}
	.info-wrapper-actress > div {
		margin: 0.5rem;
	}
	.cover-box {
		width:  var(--cover-width-lg);
		height: var(--cover-height-lg);
	}
}
@media screen and (max-height: 1250px) {
	.info-wrapper > dl > dd:not(:last-child) {
		display: inline-block;
	}
}
@media screen and (max-height: 1000px) {
	.cover-box {
		width:  var(--cover-width-sm);
		height: var(--cover-height-sm);
	}
	.info-wrapper .info-title {
		max-width: var(--cover-width-sm);
	}
}

