@charset "UTF-8";
body {
	font-size: 14px;
	font-family: "D2Coding";
}
#topMenu.sticky-top {
	background-color: black !important;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.5rem;
	margin-bottom: 0;
	width: 1000px;
}
.sticky-top.f-head {
	top: 44px;
	background-color: black !important;
	border-bottom: 1px solid #7a7878;
	margin-bottom: 8px;
	padding-bottom: 4px;
	text-transform: capitalize;
}
.f-head,
.f-body {
	background-color: #111;
	margin: 0 auto 1rem;
	width: 1000px;
}
.f-head > div,
.f-body > div {
	display: flex;
	gap: 2px;
}
.f-head > div > label,
.f-body > div > label {
	color: var(--secondary);
	margin: 2px;
}
.f-body > div:hover > label {
	background-color: var(--dark-color);
	color: orange;
}
.f-body > div.lower-score {
	text-shadow: 0 0 1px red;
}
.f-body > div.active {
	background-color: #44423f;
}
.f-body > div.active > label {
	color: #eee;
}

.flay-index {
	flex: 0 0 30px;
	text-align: right;
}
.flay-opus {
	flex: 0 0 80px;
}
.flay-title {
	flex: 1 1 auto;
}
.flay-actress {
	flex: 1 1 auto;
	text-align: right;
}
.flay-release {
	flex: 0 0 80px;
}
.flay-modified {
	flex: 0 0 66px;
}
.flay-rank {
	flex: 0 0 32px;
	text-align: right;
}
.flay-play {
	flex: 0 0 32px;
	text-align: right;
}
.flay-movie {
	flex: 0 0 32px;
	text-align: right;
}
.flay-subti {
	flex: 0 0 32px;
	text-align: right;
}
.flay-score {
	flex: 0 0 36px;
	text-align: right;
}
.flay-length {
	flex: 0 0 50px;
	text-align: right;
}
.flay-total {
	flex: 0 0 55px;
	text-align: right;
}

.actress-no {
	flex: 0 0 30px;
	text-align: right;
}
.actress-scoreTotal {
	flex: 0 0 40px;
	text-align: right;
}
.actress-flayCount {
	flex: 0 0 30px;
	text-align: right;
}
.actress-scoreAvg {
	flex: 0 0 30px;
	text-align: right;
}
.actress-favorite {
	flex: 0 0 32px;
	text-align: center;
}
.actress-name {
	flex: 1 0 200px;
}
.actress-local {
	flex: 1 0 100px;
}
.actress-age {
	flex: 0 0 38px;
}
.actress-birth {
	flex: 0 0 100px;
}
.actress-body {
	flex: 0 0 80px;
}
.actress-height {
	flex: 0 0 50px;
}
.actress-debut {
	flex: 0 0 50px;
}
.f-body > div > label.actress-scoreAvg {
	color: #ccc;
}
.f-body > div > label.invalid {
	color: red;
}
