@charset "UTF-8";

#announceWrapper {
	position: fixed;
	bottom: 50px;
	right: 0;
	z-index: 69;
}

.announce {
	width: 250px;
	margin: 8px;
	border: 1px solid #ddd;
    padding: 8px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .125);
}

.announce-body {
	margin-left: 1.5rem;
}

.item-close {
	cursor: pointer;
}
.item-time {
	margin-right: 0.5rem;
}
.item-title {
	font-weight: 700;
	margin: 0;
}
.item-content {
	font-size: 0.875rem;
	margin-top: 0.5rem;
}
.item-content:empty {
	display: none;
}
