@charset "UTF-8";
:root {
	--cover-width: 800px;
	--cover-height: calc(var(--cover-width) * var(--cover-ratio));
	--cover-width-lg: 1000px;
	--cover-height-lg: calc(var(--cover-width-lg) * var(--cover-ratio));
	--cover-width-sm: 600px;
	--cover-height-sm: calc(var(--cover-width-sm) * var(--cover-ratio));
}
body {
	overflow: hidden;
}

.flay-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: baseline;
	gap: 0.25rem;
}

.flay-bar input[type="search"] {
	border-color: transparent;
}

#selectTags,
#statisticsStudio,
#statisticsActress {
	border-radius: 1rem;
	box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.25);
	margin: 0.5rem auto 0;
	padding: 0.5rem;
	text-align: center;
	width: 90%;
	z-index: 69;
	display: none;
}
#statisticsStudio .studioTag.hide,
#statisticsActress .actressTag.hide {
	display: none;
	color: var(--secondary);
}

#selectTags > div.tag-list > label.check.sm > span > .tag-flay-count {
	min-width: 22px;
}

#options {
	display: none;
	position: fixed;
	top: 0;
	margin-top: 56px;
	padding: 0.25rem;
	box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.5);
	border-radius: 1rem;
	z-index: 74;
}

.video-wrapper {
	text-align: center;
}

.info-wrapper > dl {
	margin-bottom: 0;
}

.info-wrapper > dl > dt:last-child {
	padding: 0.25rem 0;
}

.info-wrapper .info-title {
	max-width: var(--cover-width);
}
.info-wrapper-actress {
	min-height: 38px;
}

.info-overview-input {
	display: none;
	border: 1px solid #eee;
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
	height: 27px;
	width: 200px;
	padding: 0.125rem;
	transition: all 0.3s;
}
#videoTags {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
	justify-content: center;
}
.tag-list .nonExist {
	color: #c7bdbd !important;
}
body.bg-dark .tag-list .nonExist {
	color: #4a4545 !important;
}

.cover-wrapper {
	margin: 0 auto 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.cover-wrapper-inner {
	display: inline-block;
}

.cover-box {
	position: relative;
	background: #fff no-repeat center;
	background-size: cover;
	box-shadow: 0 0 0.25rem 0.5rem #fff inset;
	border: 0;
	border-radius: 0.25rem;
	width: var(--cover-width);
	height: var(--cover-height);
	transition: background 0.2s ease-out;
}
body.bg-dark .cover-box {
	background-color: #000;
	box-shadow: 0 0 0.25rem 0.5rem #000 inset;
}
.cover-box #btnVideoClose {
	position: absolute;
	top: -22px;
	right: -16px;
	font-size: 2rem;
	color: var(--danger);
	cursor: pointer;
	margin: 0.25rem;
	display: none;
}
.cover-box video {
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	border: 0;
	outline: 0;
	display: none;
}
/* #newTagForm {
	width: 400px;
	margin: 0.5rem auto;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
	border-radius: 0.2rem;
}
body.bg-dark #newTagForm button {
    border-color: #ced4da;
} */

.notice-bar {
	margin: 0.25rem;
	text-align: center;
}

.pagination {
	border-radius: 0;
	margin: 0;
	padding: 0.5rem;
	text-align: center;
}
.pagination-sm .page-link {
	min-width: 50px;
}
#paginationProgress {
	cursor: pointer;
	height: 1px;
}
#bottomMenu:hover .pagination {
	padding-bottom: 3px;
	transition: padding-bottom 0.4s;
}
#bottomMenu:hover #paginationProgress {
	height: 6px;
	transition: height 0.4s;
}
.pagination ~ .progress .progress-bar {
	background-color: #000;
}

@media screen and (min-height: 1650px) {
	.info-wrapper > dl > dt:last-child,
	.info-wrapper > dl > dd {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	.info-title {
		font-size: 1.75rem !important;
	}
	.info-wrapper-actress {
		min-height: 50px;
	}
	.info-wrapper-actress > div {
		margin: 0.5rem;
	}
	.cover-box {
		width: var(--cover-width-lg);
		height: var(--cover-height-lg);
	}
}
@media screen and (max-height: 1250px) {
	.info-wrapper > dl > dd:not(:last-child) {
		display: inline-block;
	}
}
@media screen and (max-height: 1000px) {
	.cover-box {
		width: var(--cover-width-sm);
		height: var(--cover-height-sm);
	}
	.info-wrapper .info-title {
		max-width: var(--cover-width-sm);
	}
}

.bg-dark #topMenu nav {
	background-color: transparent !important;
	text-shadow: 0 0 4px #000;
	box-shadow: 0 0.125rem 1rem rgb(0 0 0 / 50%);
}
.bg-dark #topMenu input.form-control {
	background-color: transparent !important;
	text-shadow: 0 0 4px #000;
	border: 0;
}
.bg-dark #topMenu button.btn {
	background-color: transparent !important;
}
.bg-dark #topMenu .bg-light {
	background-color: transparent !important;
	text-shadow: 0 0 4px #000;
}

.bg-dark #bottomMenu .pagination .page-link {
	box-shadow: 0 0.125rem 1rem rgb(0 0 0 / 50%);
	border: 0;
	background-color: transparent;
	text-shadow: 0 0 4px #000;
}
.bg-dark #bottomMenu .pagination .page-item .page-link {
	color: var(--light);
}
.bg-dark #bottomMenu .pagination .page-item.active .page-link {
	border: 0;
	background-color: transparent;
	text-shadow: 0 0 4px #000;
	color: var(--warning);
}

.bg-dark .check-group span,
.bg-dark label.check span {
	background-color: transparent;
	text-shadow: 0 0 4px #000;
	color: #fff;
}
.bg-dark .ranker {
	background-color: transparent;
	text-shadow: 0 0 4px #000;
}
.bg-dark label.text {
	background-color: transparent;
	text-shadow: 0 0 4px black;
}
