.announce-container {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 0.5rem;
	z-index: 69;
}

.announce-container:hover .announce {
	display: block !important;
}

.announce {
	background: var(--color-bg);
	border: 1px solid rgb(51, 51, 51);
	border-radius: 0.25rem;
	box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px;
	color: var(--color-text);
	display: none;
	margin: 0px;
	padding: 0.5rem;
	width: 250px;
}

.announce .bell {
	float: left;
	color: #ffc107;
	text-shadow: 1px 1px 2px var(--color-text);
}

.announce .remove {
	float: right;
	color: #6c757d;
}

.announce .time {
	float: right;
	margin-right: 0.5rem;
}

.announce .announce-body {
	margin-left: 1.5rem;
}

.announce .announce-title {
	font-weight: 700;
	margin: 0;
}

.announce .announce-from {
	color: #17a2b8;
}

.announce .announce-desc {
	font-size: 0.875rem;
	margin-top: 0.5rem;
	overflow-wrap: anywhere;
}
