@charset "UTF-8";

.flay-list {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	gap: 4px;
	overflow: hidden;
}
.flay-list > .flay-card {
	border-radius: 0.25rem;
	margin: 0.25rem;
	padding: 0.25rem;
	/* flex-basis: 500px; */
	flex-grow: 0;
	flex-shrink: 1;
}
.flay-list > .flay-card > .flay-card-body {
	border-radius: 0.25rem;
	padding: 0.125rem;
}
.flay-list > .flay-card > .flay-card-body > .flay-card-title {
	margin-bottom: 0;
}
.flay-list > .flay-card > .flay-card-body > .flay-card-title > .flay-title {
	max-width: calc(100% - 4px);
}
.flay-list > .flay-card > .flay-card-body > .flay-card-text {
	margin: 0;
}

.flay-card {
	border: 0;
	margin: auto;
}
.flay-list .flay-card.archive .text {
	color: gray;
}
.flay-list .flay-card.archive {
	opacity: 0.75;
}
.flay-card > .flay-card-body {
	background: center no-repeat;
	background-size: cover;
	border: 1px solid #000;
	box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
	height: 100%;
	margin: 0;
	text-align: left;
	transition: background-image 0.5s;
}
.flay-card.flay-card-border-0 > .flay-card-body {
	border: 0;
}
.flay-card > .flay-card-body > .flay-card-text:empty {
	display: none;
}
.flay-comment-input {
	display: none;
	border-radius: 0.25rem;
}

.flay-file-group {
	font-family: "D2Coding";
}
.flay-file {
	font-size: 0.875rem;
	padding: 0.5rem 1rem;
}

.flay-card label.text,
.flay-card .flay-rank {
	background-color: transparent;
	text-shadow: 0 0 2px #000, 0 0 4px midnightblue, 0 0 8px #000, 0 0 12px midnightblue, 0 0 16px #000;
	color: #fff;
}

.flay-card:hover label.text:not(.flay-rank-sm),
.flay-card:hover .flay-rank {
	background-color: rgb(0 0 0 / 0.75);
	text-shadow: 1px 1px 2px #000;
}
.flay-card label.text:hover {
	background-color: rgba(25, 25, 112, 0.5);
}

.flay-card .extra {
	font-size: 80%;
}
