@charset "UTF-8";

.note-btn {
	cursor: pointer;
}
.note {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 0;
    border-radius: .25rem;
    margin: .5rem;
    overflow: hidden;
    transition: .4s;
	width: 16rem; 
	height: 10rem;
	/* box-shadow: 2px 2px 4px 2px rgba(128, 128, 128, .5); */
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .5);
	font: bold 18px HYPMokGak;
    background-clip: border-box;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 6974;
}
.note.note-minimize {
	width: 8rem!important; 
	height: 2rem!important;
}
.note.ui-draggable-dragging {
	transition: none;
}
.note.ui-resizable-resizing {
	transition: none;
}
.note-control {
	position: absolute; 
	top: 0; 
	right: 0; 
	margin: 0 .25rem;
	padding-top: .25rem;
}
.note-minimize-btn {
	color: #343a40;
}
.note-restore-btn {
	color: #343a40;
	display: none;
}
.note-delete-btn {
	color: #343a40;
}
.note-header {
	padding: .25rem;	
	text-shadow: 1px 1px 4px #fff;
}
.note-title {
	margin: 0;
	border-bottom: 1px solid #dee2e6;
	border-color: #343a40;
	cursor: move;
}
.note-body {
	padding: .25rem;
	flex: 1 1 auto;
}
textarea.note-pad {
	width: 100%; 
	height: 100%;
	border: 0; 
	background: transparent;
}
textarea.note-pad:focus {
	outline:none;
}
.note-tail {
	padding: .25rem;
	text-shadow: 1px 1px 4px #fff;
}
.note-time {
	font-size: 80%;
    font-weight: 400;
    float: right;
    margin: 0 .5rem;
}

.note.yellow {
	background-color: rgba(255, 193, 7, 1);
}
.note.yellow .note-control {
	background-color: rgba(255, 193, 7, .5);
    box-shadow: 0 0 8px 4px rgba(255, 193, 7, .5);
}
.note.yellow .note-header {
	background-color: rgba(255, 193, 7, .25);
}
.note.yellow .note-body {
	background-color: rgba(255, 193, 7, .25);
}
.note.yellow .note-pad {
	background-color: rgba(255, 193, 7, .0125);
}
.note.yellow .note-tail {
	background-color: rgba(255, 193, 7, .25); 
}

.note.red {
	background-color: rgba(220, 53, 69, 1);
}
.note.red .note-control {
	background-color: rgba(220, 53, 69, .5);
    box-shadow: 0 0 8px 4px rgba(220, 53, 69, .5);
}
.note.red .note-header {
	background-color: rgba(220, 53, 69, .25);
}
.note.red .note-body {
	background-color: rgba(220, 53, 69, .25);
}
.note.red .note-pad {
	background-color: rgba(220, 53, 69, .0125);
}
.note.red .note-tail {
	background-color: rgba(220, 53, 69, .25); 
}
