:root {
	--sidenav-width: 200px;
}

/* side nav */
.sidenav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	background-color: rgba(17, 17, 17, 0.75);
	color: #607d8b;
	overflow: hidden;
	text-shadow: 1px 1px 2px #000;
	transition: 0.25s 0.5s;
	z-index: 9998;
}
.sidenav:hover {
	width: var(--sidenav-width) !important;
	transition: 0.25s;
}
.sidenav * {
	white-space: nowrap;
}
.sidenav > .sidenav-pin {
	float: right;
	cursor: pointer;
	margin: 0.5rem;
	padding: 0 0.5rem;
	transform: rotate(45deg);
	transition: 0.2s;
}
.sidenav > .sidenav-pin:hover {
	color: var(--yellow);
}
.sidenav > .sidenav-pin.active {
	color: var(--red);
	transform: rotate(0);
}
.sidenav > .sidenav-openbtn {
	position: fixed;
	top: 0;
	left: 0;
	cursor: pointer;
	font-size: 2rem;
	padding-left: 4px;
	z-index: 9999;
}
.sidenav > .sidenav-openbtn > i {
	opacity: 0;
	transition: all 0.5s;
}
.sidenav > .sidenav-openbtn:hover > i {
	opacity: 1;
}
.sidenav > h4 {
	text-align: center;
	padding-top: 50px;
}
.sidenav > h4 > a {
	color: inherit;
	vertical-align: middle;
}
.sidenav > h4 > a:hover {
	color: var(--yellow);
	text-decoration: none;
}
.sidenav > h4 > img {
	height: 2rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 0.5rem;
	cursor: pointer;
}

.sidenav > .nav-wrap {
	height: calc(100% - 84px);
	overflow: overlay;
	padding-bottom: 1rem;
}
.sidenav > .nav-wrap > .nav {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 0.5rem 0 0;
	padding: 0;
}
.sidenav > .nav-wrap > .nav > .nav-item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	padding: 0.125rem 0.5rem;
	min-height: 2.25rem;
	transition: all 0.5s;
}
.sidenav > .nav-wrap > .nav > .nav-item > i {
	flex: 1 1 0;
	width: 1rem;
	text-align: center;
	margin-right: 0.5rem;
}
.sidenav > .nav-wrap > .nav > .nav-item > div {
	flex: 7 1 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: baseline;
	justify-content: space-between;
}
.sidenav > .nav-wrap > .nav > .nav-item > div > a {
	color: inherit;
	white-space: nowrap;
}
.sidenav > .nav-wrap > .nav > .nav-item:hover > div > a.include::after {
	content: '';
}
.sidenav > .nav-wrap > .nav > .nav-item:hover > div > a.href::after {
	content: ' ▣';
}
.sidenav > .nav-wrap > .nav > .nav-item:hover > div > a.logout::after {
	content: '';
}
.sidenav > .nav-wrap > .nav > .nav-item > div > a.active {
	color: var(--yellow);
}
.sidenav > .nav-wrap > .nav > .nav-item > div > a + a {
	opacity: 0;
}
.sidenav > .nav-wrap > .nav > .nav-item:hover > i {
	color: var(--yellow);
}
.sidenav > .nav-wrap > .nav > .nav-item:hover > div > a:first-child {
	color: var(--white);
}
.sidenav > .nav-wrap > .nav > .nav-item:hover > div > a:hover {
	color: var(--yellow);
	cursor: pointer;
	text-decoration: none;
}
.sidenav > .nav-wrap > .nav > .nav-item:hover > div > a + a {
	opacity: 1;
}
.sidenav label.check.sm {
	padding: 0;
}

.sidenav input[type='color'] {
	background-color: transparent;
	border: 0;
	border-radius: 0.25rem;
	cursor: pointer;
	height: 24px;
	margin-left: 0.5rem;
	padding: 0;
	width: 50px;
}
.sidenav input[type='number'] {
	background-color: transparent;
	border: 0px solid #000;
	border-radius: 0.25rem;
	cursor: pointer;
	color: var(--blue);
	margin-left: 0.5rem;
	padding: 0 4px;
	width: 60px;
}

.sidenav label.check span {
	background-color: transparent;
	color: #ccc;
	font-family: D2Coding;
	text-shadow: 1px 1px 1px #000;
}

/*
	1080 x 1920
	2560 x 1440
	1920 x 1080
*/
@media screen and (max-height: 1440px) {
	.sidenav > .nav-wrap > .nav > .nav-item {
		min-height: 2rem;
	}
	.sidenav > .nav-wrap > .nav > .nav-item > div > label {
		margin-top: 2px;
		margin-bottom: 2px;
	}
}

@media screen and (max-height: 1080px) {
	.sidenav > .nav-wrap > .nav > .nav-item {
		min-height: 1.75rem;
	}
	.sidenav > .nav-wrap > .nav > .nav-item > div > label {
		margin-top: 0;
		margin-bottom: 0;
	}
}

#specialView {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	background-color: rgba(17, 17, 17, 0.75);
	background-image: url('/img/bg/flayground_facade.jpg');
	background-position: center;
	background-repeat: no-repeat;
	margin-left: var(--sidenav-width);
	transition: 0.5s;
	z-index: 9997;
}
.sidenav:hover ~ #specialView {
	width: calc(100% - var(--sidenav-width));
	transition: width 1s 0.25s, background-image 0.5s;
}
.sidenav:hover ~ #specialView.pause {
	width: 0 !important;
}
main {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: left 0.4s ease 0s;
}

#wrap_background_image {
	position: fixed;
	inset: 0;
	margin: 0;
	padding: 0;
	z-index: -5;
	background: transparent url(/img/svg/flayground1.svg) no-repeat center / 600px;
}
#background_images {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	margin: 0;
	padding: 0.5rem;
	padding-top: 0;
	z-index: -4;
}
#background_images.transparent {
	background-color: transparent;
}
#background_images .col {
	padding: 0.5rem;
	padding-top: 0;
	z-index: -3;
}
#background_images .col img:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#background_images img {
	border-radius: 0.25rem;
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	margin-bottom: 1rem;
	width: inherit;
	transition: all 0.5s;
	z-index: -2;
}
