@charset "UTF-8";

body {
	overflow: hidden;
}

#selectTags {
	display: none;
	position: fixed;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0%);
	text-align: center;
	margin-top: 56px;
	padding: .5rem;
	box-shadow: 0 .125rem 1rem rgba(0, 0, 0, .25);
	border-radius: 1rem;
	z-index: 69;
}

#options {
	display: none;
	position: fixed;
	top: 0;
	margin-top: 56px;
	padding: .5rem;
	box-shadow: 0 .125rem 1rem rgba(0, 0, 0, .25);
	border-radius: 1rem;
	z-index: 74;
}
#options i.fa {
	width: 1rem;
	text-align: center;
	margin-right: .5rem;
}

.video-wrapper {
	text-align: center;
}

.info-wrapper > dl {
	margin-bottom: 0;
}

.info-wrapper > dl > dt:last-child {
	padding: .25rem 0 1rem;
}

.info-wrapper .info-title {
	max-width: 800px;
}

.info-overview-input {
	display: none;
	border: 1px solid #eee;
	border-radius: .25rem;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .125);
	height: 27px;
	width: 200px;
	padding: .125rem;
	transition: all .3s;
}

.nonExist {
 	color: #747474 !important;
}
.tag-list .nonExist {
	color: #c5bcbc !important;
}
.favorite {
	color: red !important;
}

.cover-wrapper {
	margin: 0 auto 10px;
	width: 3100px;
}

.cover-wrapper-inner {
	display: inline-block;
}

/* 0.6625 */
.cover-box {
	background: midnightblue no-repeat center;
	background-size: cover;
	width: 800px;
	height: 530px;
	box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
    border: 1px solid transparent;
	border-radius: .5rem;
	transition: background .3s ease-out;
}
.cover-box.dark {
    border: 1px solid #e0e0e0;	
}
#newTagForm {
	width: 400px;
	margin: .5rem auto;
	box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
	border-radius: .2rem;
}

.notice-bar {
	margin: .25rem;
	text-align: center;
}

.pagination {
	border-radius: 0;
	padding: .5rem;
	margin: 0;
	text-align: center;
}

.pagination-sm .page-link {
	min-width: 50px;
}

@media screen and (min-height: 1650px) {
	.info-wrapper > dl > dt:last-child, .info-wrapper > dl > dd {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	.info-wrapper-actress > div {
		margin: 0.5rem;
	}
	.cover-box {
		width: 1000px;
		height: 663px;
	}
}
@media screen and (max-height: 1250px) {
	.info-wrapper > dl > dd:not(:last-child) {
		display: inline-block;
	}
}
@media screen and (max-height: 1000px) {
	.cover-box {
		width: 600px;
		height: 398px;
	}
	.info-wrapper .info-title {
		max-width: 600px;
	}
}

