@import './style/style.scss';
@import './style/layout.card.scss';

#name {
  flex: 1 1 auto;
}
#localName {
  flex: 1 1 auto;
}
#birth {
  flex: 1 1 auto;
}
#age {
  flex: 0 1 auto;
  width: 50px;
}
#body {
  flex: 1 1 auto;
}
#height {
  flex: 0 1 auto;
  width: 100px;
  text-align: right;
}
#debut {
  flex: 0 1 auto;
  width: 100px;
  text-align: right;
}
#comment {
  flex: 1 1 auto;
}

#favorite + label {
  display: inline-flex;
  align-items: center;
}

header > div button {
  display: initial;
}
