@import '../resources/style/style.scss';
@import '../resources/style/layout.card.scss';

#tagId {
  padding: 0.25rem 0.5rem 0;
}

#tagName {
  flex: 1 1 auto;
}
#tagDesc {
  flex: 1 1 auto;
}

header > div button {
  display: initial;
}
