body {
  overflow: hidden;
}
#controlBox {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.25rem;
  opacity: 0;
}
#controlBox:hover {
  opacity: 1;
}
input:focus,
button:focus {
  box-shadow: none !important;
}
.btn-dark:disabled {
  color: gray;
}
#keyContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
#btnCloseKey {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
  transition: 0.3s;
}
.progress {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  margin: 0;
  background-color: rgba(255, 255, 0, 0.5);
  border-radius: 0;
}
