@import './style/style.scss';

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

main {
  svg {
    max-width: 100%;
    height: auto;

    g {
      .node {
        cursor: pointer;
        color: #c6c5fe;

        &.noDependency {
          color: #cfffac;
        }
      }

      .edge {
        color: #757575;
      }

      &.active {
        &.node {
          color: red;
        }

        &.edge {
          color: red;
        }
      }
    }
  }
}
