:root {
  --tile-width: 200px;
}
#tileWrap {
  position: fixed;
  top: 3rem;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 1rem;
}
.tile {
  background: transparent;
  border: 1px solid var(--color-border-card);
  cursor: pointer;
  margin: 0;
  width: calc(var(--tile-width) + 7px);
  height: calc(var(--tile-width) * 2 * var(--cover-ratio));
  transition: background 0.5s ease-in-out, width 0.1s linear, height 0.5s linear, box-shadow 0.4s, border-color 0.4s;

  &.wide {
    width: calc(var(--tile-width) * 0.85 * 2 + 7px);
    height: calc(var(--tile-width) * 0.85 * 2 * var(--cover-ratio));

    &:hover > .title {
      padding: 4px 4px 0;
    }

    > .title:hover ~ * {
      padding: 4px 4px 0;
    }
  }

  &:hover {
    border-color: #000;
    box-shadow: 0 0.125rem 0.5rem 0.25rem var(--color-box-shadow);

    .title {
      padding: 8px 4px 0;
      height: calc(100% / 7);
    }
  }

  &.played {
    outline: 2px solid #f00;
  }

  > * {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    color: #fff;
    margin: 0;
    width: 100%;
    height: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #103356;
    transition: all 0.3s 0.5s;
  }

  > .title:hover ~ * {
    padding: 8px 4px 0;
    height: calc(100% / 7);
  }
}

#playingWrap {
  display: none;
}
#playing {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 69;
}
#countLabel {
  text-shadow: 1px 1px 1px var(--color-text-shadow);
}
