main {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-areas:
    'menu'
    'main'
    'paging';
  grid-template-rows: 2.5rem 1fr 1px;
  background-color: var(--color-bg-overlay);

  nav {
    grid-area: menu;
  }
  article {
    grid-area: main;
  }
  aside {
    grid-area: paging;
  }
}

nav {
  text-align: center;
  z-index: 99;

  div {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    background-color: var(--color-bg);
    box-shadow: 0 0 1rem 1rem var(--color-box-shadow);
    padding: 0.25rem 1rem;

    &#basicSearch {
      border-bottom-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      gap: 0.5rem;
    }

    &#detailSearch {
      display: none;
      border-radius: 0.5rem;
      margin-top: 0.5rem;

      &.show {
        display: inline-flex;
      }
    }

    input {
      background-color: transparent;
      border: 0;
      color: var(--color-text);
      font-size: 0.875em;

      &:focus-visible {
        outline: none;
      }

      &#studioInput {
        width: 8rem;
      }
      &#opusInput {
        width: 6rem;
      }
      &#titleInput {
        width: 10rem;
      }
      &#actressInput {
        width: 8rem;
      }
      &#releaseInput {
        width: 6rem;
      }
    }

    select {
      background-color: transparent;
      border: 0;
      color: var(--color-text);
      font-size: 0.875em;

      &:focus-visible {
        outline: none;
      }

      option {
        background-color: var(--color-bg);
        border: 0;
        color: var(--color-text);
        font-size: 0.875em;
      }
    }
  }
}

article {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; // flex-start
  align-items: center;

  #flayContainer {
    position: relative;
    background: url(./img/svg/flayground1.svg) no-repeat right bottom / 16rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 1rem var(--color-box-shadow);
    margin: 1rem 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 800px;
    max-width: 1200px;
    min-height: 800px;
    opacity: 0;

    #flayCover {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 400px;
      aspect-ratio: var(--cover-aspect-ratio);
      border-radius: 0.5rem;
      z-index: 1;
      opacity: 0.75;
      background: transparent no-repeat center / cover;
    }

    #flayInfo {
      position: relative;
      font-family: D2Coding;
      font-size: 0.875em;
      white-space: pre-wrap;
      margin: 0;
      padding: 0;
      opacity: 1;
      width: 100%;
      max-height: calc(100vh - 8rem);
      overflow-y: auto;
      text-shadow: 1px 1px 1px var(--color-text-shadow);
      z-index: 2;

      string {
        background-color: var(--color-bg-label);
        color: rgb(209, 187, 130);
      }
      number {
        color: rgb(168, 204, 134);
      }
      boolean {
        color: lightskyblue;
      }
      null {
        color: gray;
      }
      .square-bracket,
      .round-bracket {
        color: rgb(246, 246, 59);
      }

      a.anker {
        cursor: pointer;
        color: orange;
        margin: 0 2px 0 4px;
      }
    }
  }
}

#indexHistoryContainer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.25rem;

  label {
    font-size: 0.875em;
    margin: 0.125rem;
  }
}
