#tagList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;

  .tag {
    display: inline-flex;
    margin: 0.25rem;
    max-width: 20rem;
    min-width: 10rem;
    transition: 0.4s;

    &:hover {
      box-shadow: 0 0.5rem 1rem var(--color-box-shadow);
    }

    &.active {
      background-color: var(--color-bg-card-active);
    }

    .card-body {
      padding: 1rem;

      .tag-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 8px;

        .flay-count {
          font-size: 0.75rem;
          &.flay-count-no {
            background-color: var(--danger);
          }
        }
      }
      .tag-dest {
        color: #0d8f00;
        text-align: center;
        word-break: keep-all;
      }
    }
  }
}
