main {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-areas:
    'menu'
    'cover'
    'json';
  grid-template-rows: 2.5rem 35rem 1fr;
  background-color: var(--color-bg-overlay);

  &.extend {
    grid-template-rows: 5.5rem 35rem 1fr;
  }

  nav {
    grid-area: menu;
  }
  div#flayCover {
    grid-area: cover;
  }
  div#flayInfo {
    grid-area: json;
  }
}

nav {
  text-align: center;
  z-index: 99;

  div {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    padding: 0.25rem 1rem;
    transition: 0.4s;

    &:hover {
      background-color: var(--color-bg);
      box-shadow: 0 0 1rem 0.5rem var(--color-box-shadow);
    }

    &#basicSearch {
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
      gap: 0.5rem;
    }

    &#detailSearch {
      background-color: var(--color-bg);
      display: none;
      margin-top: 0.5rem;

      &.show {
        display: inline-flex;
      }

      input {
        text-align: center;
      }
    }

    input {
      background-color: transparent;
      border: 0;
      color: var(--color-text);
      font-size: 0.875em;

      &:focus-visible {
        outline: none;
      }

      &#studioInput {
        width: 8rem;
      }
      &#opusInput {
        width: 6rem;
      }
      &#titleInput {
        width: 10rem;
      }
      &#actressInput {
        width: 8rem;
      }
      &#releaseInput {
        width: 6rem;
      }
    }

    select {
      background-color: transparent;
      border: 0;
      color: var(--color-text);
      font-size: 0.875em;

      &:focus-visible {
        outline: none;
      }

      option {
        background-color: var(--color-bg);
        border: 0;
        color: var(--color-text);
        font-size: 0.875em;
      }
    }
  }
}

#flayCover {
  display: flex;
  justify-content: center;
  align-items: center;

  .cover {
    background: transparent no-repeat center / cover;
    width: 50rem;
    aspect-ratio: var(--cover-aspect-ratio);
    box-shadow: 0 0 1rem 0.5rem var(--color-box-shadow);
  }
}

#flayInfo {
  position: relative;
  display: flex;
  justify-content: center;

  .json-frame {
    position: absolute;
    top: 1rem;
    padding: 1rem;
    max-height: calc(100% - 3rem);
    width: 50rem;
    overflow-y: auto;
    box-shadow: 0 0 1rem 0.5rem var(--color-box-shadow);

    .json {
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}

.json {
  font-family: D2Coding;
  font-size: 0.875em;
  white-space: pre-wrap;
  text-shadow: 1px 1px 1px var(--color-text-shadow);

  string {
    background-color: var(--color-bg-label);
    color: rgb(209, 187, 130);
  }
  number {
    color: rgb(168, 204, 134);
  }
  boolean {
    color: lightskyblue;
  }
  null {
    color: gray;
  }
  .square-bracket,
  .round-bracket {
    color: rgb(246, 246, 59);
  }

  a.anker {
    cursor: pointer;
    color: orange;
    margin: 0 2px 0 4px;
  }
}

#indexHistoryContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0 0.25rem;

  label {
    font-size: 0.875em;
    text-align: right;
    margin: 0.125rem;
  }
}

.page-target {
  opacity: 0;
}
