#goodActressList li {
  &.active {
    text-shadow: 1px 1px yellow;
  }
  &:hover {
    background-color: rgb(255 165 0 / 50%);
  }

  label {
    margin: 4px 0;
  }
  .listNo {
    width: 30px;
    text-align: right;
  }
  .favorite {
    width: 30px;
    text-align: center;
  }
  .name {
    width: 170px;
  }
  .flayCount {
    width: 40px;
    text-align: right;
    padding: 0 10px;
  }
  .localName {
    width: 100px;
  }
  .lastRelease {
    width: 80px;
  }
}
