body {
  background-color: black !important;
  font-size: 14px;
  font-family: 'D2Coding';
  padding: 0 1rem;
}
#topMenu.sticky-top,
.f-head,
.f-body {
  width: 100%;
  padding: 0 1rem;
}
#topMenu.sticky-top {
  background-color: black !important;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}
.sticky-top.f-head {
  top: 44px;
  background-color: black !important;
  border-bottom: 1px solid #7a7878;
  margin-bottom: 8px;
  padding-bottom: 4px;
  text-transform: capitalize;
}
.f-head,
.f-body {
  background-color: #111;
  margin: 0 auto 1rem;
}
.f-head > div,
.f-body > div {
  display: flex;
  gap: 2px;
}
.f-head > div > label,
.f-body > div > label {
  color: var(--secondary);
  margin: 2px;
}
.f-body > div:hover > label {
  background-color: var(--dark-color);
  color: orange;
}
.f-body > div.lower-score {
  text-shadow: 0 0 1px red;
}
.f-body > div.active {
  background-color: #44423f;
}
.f-body > div.active > label {
  color: #eee;
}

#flayView .flay-index {
  flex: 0 0 30px;
  text-align: right;
}
#flayView .flay-opus {
  flex: 0 0 80px;
}
#flayView .flay-title {
  flex: 1 1 auto;
}
#flayView .flay-actress {
  flex: 1 1 auto;
  text-align: right;
}
#flayView .flay-actress > span.same-name {
  color: orangered !important;
}
#flayView .flay-release {
  flex: 0 0 80px;
}
#flayView .flay-modified {
  flex: 0 0 66px;
}
#flayView .flay-rank {
  flex: 0 0 32px;
  text-align: right;
}
#flayView .flay-play {
  flex: 0 0 32px;
  text-align: right;
}
#flayView .flay-movie {
  flex: 0 0 32px;
  text-align: right;
}
#flayView .flay-subti {
  flex: 0 0 32px;
  text-align: right;
}
#flayView .flay-score {
  flex: 0 0 36px;
  text-align: right;
}
#flayView .flay-studioPoint {
  flex: 0 0 36px;
  text-align: right;
}
#flayView .flay-actressPoint {
  flex: 0 0 36px;
  text-align: right;
}
#flayView .flay-length {
  flex: 0 0 50px;
  text-align: right;
}
#flayView .flay-total {
  flex: 0 0 55px;
  text-align: right;
}
#flayView .active {
  color: var(--color-text);
}

.actress-no {
  flex: 0 0 30px;
  text-align: right;
}
.actress-scoreTotal {
  flex: 0 0 40px;
  text-align: right;
}
.actress-flayCount {
  flex: 0 0 30px;
  text-align: right;
}
.actress-scoreAvg {
  flex: 0 0 30px;
  text-align: right;
}
.actress-favorite {
  flex: 0 0 32px;
  text-align: center;
}
.actress-name {
  flex: 1 0 200px;
}
.actress-local {
  flex: 1 0 100px;
}
.actress-age {
  flex: 0 0 38px;
}
.actress-birth {
  flex: 0 0 100px;
}
.actress-body {
  flex: 0 0 80px;
}
.actress-height {
  flex: 0 0 50px;
}
.actress-debut {
  flex: 0 0 50px;
}
.f-body > div > label.actress-scoreAvg {
  color: #ccc;
}
.f-body > div > label.invalid {
  color: red;
}
