body {
  overflow-x: hidden;
}

main {
  &.exists {
    .logo {
      height: 8rem;
      img {
        height: 8rem;
        background-size: 4rem;
      }
    }
    .search-summary-toggler {
      display: block !important;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 45vh;
    transition: height 0.4s;
    img {
      aspect-ratio: 150 / 40;
      background: url(./img/svg/flayground1.svg) no-repeat bottom right / 14%;
      max-width: 60rem;
    }
  }

  .search {
    position: sticky;
    top: 0;

    .search-box {
      background-color: var(--color-bg-box);
      border: 1px solid var(--color-border-box);
      border-radius: 1.5rem;
      box-shadow: 0 2px 6px 0 rgba(23, 23, 23, 0.32);
      margin: 0 auto;
      max-width: 36rem;
      width: auto;
      transition: 0.6s;
      &:focus-within {
        box-shadow: 0.25rem 0.5rem 1rem 0.5rem var(--color-box-shadow);
      }

      .search-input {
        display: flex;
        align-items: baseline;
        font-family: 'Ink Free';
        font-size: 1.5em;
        height: 2.75rem;
        padding-right: 1rem;
        span {
          flex: 1 1 auto;
          &.search-magnify {
            margin: 4px 0 0 8px;
            height: 2rem;
            line-height: 2rem;
            width: 2rem;
            color: #000;
            fill: currentColor;
          }
          &.search-result {
            white-space: nowrap;
            font-size: 0.75em;
          }
          &.search-summary-toggler {
            font-size: 0.6em;
            padding-left: 0.5rem;
            display: none;
          }
        }
        input {
          background-color: transparent;
          border: 0;
          color: var(--color-text);
          padding: 0 0.25rem 0 0.5rem;
          height: 100%;
          width: 100%;
          &:focus-visible {
            outline: none;
          }
        }
        small {
          font-style: italic;
        }
      }

      .immediately {
        margin: 0 auto;
        font-size: 0.875em;
        div {
          display: flex;
          gap: 0.5rem;
          padding: 0 1rem;
          &:last-child {
            padding-bottom: 1rem;
          }
          & > label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:nth-child(1) {
              flex: 0 0 4rem;
            }
            &:nth-child(2) {
              flex: 0 0 5rem;
            }
            &:nth-child(3) {
              flex: 1 1 auto;
            }
            &:nth-child(4) {
              flex: 0 0 7rem;
            }
            &:nth-child(5) {
              flex: 0 0 5rem;
            }
          }
        }
      }
    }

    .summary {
      display: none;
      div {
        padding: 0.25rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem 0.5rem;
        span {
          white-space: nowrap;
        }
      }
    }
  }

  .result {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .flay {
      display: flex;
      gap: 1rem;
      margin-bottom: 0.5rem;
      transition: 0.4s;
      img.flay-cover {
        width: 160px;
        aspect-ratio: var(--cover-aspect-ratio);
      }
      dl {
        flex: 1 1 auto;
        margin: 0;
        dt {
          font-size: 1.25em;
          margin: 0;
          display: flex;
          gap: 1rem;
          .flay-rank {
            width: 1.25rem;
            aspect-ratio: 1 / 1;
          }
          .flay-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        dd {
          margin: 0.5rem 0 0;
          label {
            margin-right: 1rem;
          }
        }
      }
    }
    .flay.wide {
      flex-direction: column;
      align-items: center;
      max-width: 800px;
      margin: 1rem auto 2rem;
      background-color: var(--color-bg-box);
      box-shadow: 0.25rem 0.5rem 1rem 0.5rem var(--color-box-shadow);
      .flay-cover {
        max-width: 800px;
        width: 100%;
      }
      dl {
        max-width: 800px;
        width: 100%;
        margin-bottom: 1rem;
        dt {
          justify-content: center;
        }
        dd {
          font-weight: 700;
          text-align: center;
          label {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
    .keyword {
      color: orange;
    }
    .flay-next {
      margin: 0;
      padding: 0;
    }
  }
}
