@import './scss/style.scss';
@import './scss/page.layout.scss';

flay-condition,
flay-card,
flay-pagination {
  transition: 0.8s;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}
main > flay-card {
  display: inline-block;
  width: 24rem;
  aspect-ratio: 400 / 269;
}