@import '@toast-ui/editor/dist/toastui-editor.css';
@import '@toast-ui/editor/dist/theme/toastui-editor-dark.css';
@import '@toast-ui/editor-plugin-color-syntax/dist/toastui-editor-plugin-color-syntax.css';
@import 'tui-color-picker/dist/tui-color-picker.css';

main {
  display: grid;
  grid-template-areas:
    'diary-cal'
    'diary-meta'
    'diary-edit';
  grid-template-columns: 1fr;
  grid-template-rows: 14rem 3rem 1fr;
  gap: 0.5rem;

  padding: 0.5rem 3rem;
  height: 100vh;

  #diaryCal {
    grid-area: diary-cal;
  }

  #diaryMeta {
    grid-area: diary-meta;

    .check-group label input[type='radio'] ~ span {
      width: 1.75rem;
    }

    input[type='date'] {
      width: 9rem !important;
      flex-grow: 0 !important;
    }
  }

  #diaryEditor {
    grid-area: diary-edit;

    .toastui-editor-defaultUI {
      border: 1px solid var(--color-border-form);
    }
  }
}

@media screen and (max-width: 900px) {
  main {
    padding: 0.5rem 1rem;
  }
}

.calendar {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;

  font-size: 12px;

  .month {
    flex: 0 0 auto;

    width: 14rem;

    .dates {
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;

      border-top: 1px solid var(--color-border-form);
      border-right: 1px solid var(--color-border-form);

      .date {
        position: relative;
        flex-shrink: 0;
        width: calc(100% / 7);
        height: 2rem;
        padding: 2px 4px;
        text-align: right;
        border-bottom: 1px solid var(--color-border-form);
        border-left: 1px solid var(--color-border-form);

        &.side {
          color: lightgray;
        }

        &.ref {
          cursor: pointer;

          &:hover {
            background-color: rgb(240 248 255 / 25%);
          }

          &.today {
            color: var(--bs-yellow);
          }

          &.written {
            i.fa {
              position: absolute;
              left: 2px;
              bottom: 2px;
            }
          }

          &.active {
            background-color: rgba(214, 134, 29, 0.25);
          }
        }
      }
    }

    .day:nth-child(7n + 1),
    .date:nth-child(7n + 1) {
      color: #d13e3e;
    }

    .day:nth-child(7n),
    .date:nth-child(7n) {
      color: #396ee2;
    }
  }
}
