@import './scss/style.scss';
@import './scss/page.layout.scss';

flay-condition,
flay-page,
flay-pagination {
  opacity: 0;
  transition: 0.8s;
}

flay-page {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 50rem;
}

flay-card {
  width: 400px;
  aspect-ratio: 400 / 269;
}
