body {
  overflow-x: hidden;
}

main {
  &.exists {
    .logo {
      height: 8rem;
      img {
        height: 8rem;
        background-size: 4rem;
      }
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 36rem;
    transition: height 0.4s;
    img {
      background: url(./img/svg/flayground1.svg) no-repeat bottom right / 8rem;
      height: 16rem;
      aspect-ratio: 150 / 40;
    }
  }

  .search {
    position: sticky;
    top: 0;
    font-family: 'Ink Free';

    & > div {
      background-color: var(--color-bg);
      display: flex;
      align-items: baseline;
      border: 1px solid #5f6368;
      border-radius: 1.5rem;
      font-size: 2em;
      margin: 0 auto;
      max-width: 36rem;
      height: 2.75rem;
      width: auto;
      transition: 0.6s;
      &:focus-within {
        box-shadow: 0.25rem 0.5rem 1rem 0.5rem var(--color-box-shadow);
      }
      span {
        flex: 1 1 auto;
        &.search-magnify {
          margin: 4px 0 0 8px;
          height: 2rem;
          line-height: 2rem;
          width: 2rem;
          color: #9aa0a6;
          fill: currentColor;
        }
        &.search-result {
          padding-right: 1rem;
          white-space: nowrap;
          font-size: 0.75em;
        }
      }
      input {
        background-color: transparent;
        border: 0;
        color: var(--color-text);
        padding: 0 0.25rem 0 0.5rem;
        height: 100%;
        width: 100%;
        &:focus-visible {
          outline: none;
        }
      }
    }
  }

  .summary {
    div {
      padding: 0.25rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem 0.5rem;
      span {
        white-space: nowrap;
      }
    }
  }

  .result {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .flay {
      width: 100%;
      display: flex;
      gap: 1rem;
      margin-bottom: 0.5rem;
      img.flay-cover {
        width: 160px;
        aspect-ratio: var(--cover-aspect-ratio);
      }
      dl {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin: 0;
        dt {
          display: flex;
          gap: 1rem;
          font-size: 1.25em;
          margin: 0;
        }
        dd {
          display: flex;
          gap: 1rem;
          margin: 0;
        }
      }
      img.flay-rank {
        width: 1.25rem;
        aspect-ratio: 1 / 1;
      }
      label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .keyword {
        color: orange;
      }
    }
    .flay-next {
      margin: 0;
      padding: 0;
    }
  }
}
