.flay-list-wrapper {
  display: none;
  background-color: var(--color-bg-card);
  border-radius: 0.5rem;
  margin: 0;
  padding: 1rem;
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.summary-list table thead tr th {
  text-align: center !important;
}

.summary-item > .item-key {
  margin: 0.25rem;
  text-align: left;
}
.summary-item > .item-count {
  margin: 0.25rem;
  min-width: 40px;
  font-size: 90%;
}
.summary-item > .item-size {
  margin: 0.25rem;
  min-width: 65px;
  text-align: right;
}

.card {
  display: inline-flex;
  width: 850px;
}
.card-body > .table {
  font-family: D2Coding;
}
.card-body .table-hover tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.card-body table.table th:nth-child(1),
.card-body table.table td:nth-child(1) {
  text-align: left;
}
.card-body table.table th:nth-child(2),
.card-body table.table td:nth-child(2) {
  text-align: right;
}
.card-body table.table th:nth-child(3),
.card-body table.table td:nth-child(3) {
  text-align: right;
}

.card-body table.table thead th {
  border-bottom: 1px solid rgba(238, 238, 238, 0.5);
}
.card-body table.table tfoot th {
  border-top: 1px solid rgba(238, 238, 238, 0.5);
}

td.item-key {
  width: 200px;
}
td.item-count {
  width: 100px;
}
td.item-length {
  width: 100px;
}
td.item-progress {
  min-width: 200px;
}
td.item-progress > .progress {
  border-radius: 0.5rem;
  height: 24px;
  justify-content: center;
}
td.item-progress > .progress > .progress-bar {
  border-radius: 0.5rem;
}

.btn[aria-expanded='true'] {
  color: #007bff;
  background-color: #fff;
  text-shadow: 1px 1px #ff073c;
}

.release-header {
  display: flex;
  justify-content: center;
}

.flay-all-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-border-card);
  cursor: pointer;
  min-height: 3rem;
}
.rank5 {
  text-shadow: 1px 1px 2px var(--rank5);
}
.rank4 {
  text-shadow: 1px 1px 2px var(--rank4);
}
.rank3 {
  text-shadow: 1px 1px 2px var(--rank3);
}
.rank2 {
  text-shadow: 1px 1px 2px var(--rank2);
}
.rank1 {
  text-shadow: 1px 1px 2px var(--rank1);
}
.rank0 {
  text-shadow: 1px 1px 2px var(--rank0);
}
.rank-1 {
  text-shadow: 1px 1px 2px var(--rank-1);
}
.flay-all-cell-year-axis {
  border: 2px solid var(--color-border-card);
  padding: 0.25rem 0;
}

.flay-all-td {
  cursor: pointer;
}
