@media screen and (max-width: 1680px) {
  th:nth-child(2),
  th:nth-child(9),
  th:nth-child(10),
  td:nth-child(2),
  td:nth-child(9),
  td:nth-child(10) {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  th:nth-child(11),
  th:nth-child(12),
  td:nth-child(11),
  td:nth-child(12) {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  th:nth-child(6),
  th:nth-child(7),
  th:nth-child(8),
  td:nth-child(6),
  td:nth-child(7),
  td:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  th:nth-child(13),
  th:nth-child(14),
  td:nth-child(13),
  td:nth-child(14) {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  th:nth-child(1),
  th:nth-child(4),
  td:nth-child(1),
  td:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  th:nth-child(3),
  td:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  th:nth-child(15),
  td:nth-child(15) {
    display: none;
  }
}
