body {
  background: #000;
  overflow: hidden;
  margin: 0;
}

.image-container div#glass {
  position: absolute;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  cursor: none;
  opacity: 0;
  display: none;
  left: -100px;
  top: -100px;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.25), 0 0 16px 8px rgba(0, 0, 0, 0.75) inset;
  z-index: 2;
}
.image-container:hover div#glass {
  opacity: 1;
}
.image-container img#image {
  z-index: 1;
}

.overlay {
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  z-index: 3;
}
.overlay:hover {
  opacity: 1;
}

.info-container div {
  position: fixed;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 4px;
  box-shadow: 0 0 2px 0px rgba(255, 255, 255, 0.5);
}
.info-container div:first-child {
  border-bottom-right-radius: 4px;
  top: 0;
  left: 0;
}
.info-container div:last-child {
  border-top-left-radius: 4px;
  bottom: 0;
  right: 0;
  text-align: right;
}
.info-container label {
  display: inline-block;
  margin: 2px;
  color: #eee;
  font-size: 14px;
  text-shadow: 1px 1px 2px #111;
  transition: 0.3s;
}
.info-container label:empty {
  display: none;
}
.info-container label:hover {
  text-shadow: 1px 1px 2px #2d2d2d;
}

#glassToggle:hover,
#paint:hover,
#imagePath:hover,
#imageUrl:hover {
  cursor: pointer;
  color: OrangeRed !important;
}
#glassSize:before {
  content: 'px ';
}
#glassSize > input {
  width: 40px;
}
#glassZoom:before {
  content: 'x ';
}
#glassZoom > input {
  width: 25px;
}
#imageIndex,
#imageMoveOut,
#paint {
  display: none;
}
#imageIndex:before {
  content: 'go ';
}
#imageIndex > input {
  width: 48px;
}
#imageName {
  color: yellow !important;
}
#imageSize,
#imageLength,
#imageLastModified {
  font-size: 80% !important;
}
#imageMoveOut:hover {
  cursor: pointer;
  color: #dc3545 !important;
}
#urlInput {
  display: none;
  z-index: 4;
}
#urlInput > input {
  background: rgba(0, 0, 0, 0.75);
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 2rem 1rem rgba(255, 255, 255, 0.5);
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 1rem;
}

i.fa {
  margin: 0 4px;
}
input[type='number'] {
  background: transparent;
  border: 0;
  color: #eee;
  margin: 0;
  padding: 0;
}
