body {
  background-color: #000;
  overflow: hidden;
}
#imageWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  transition: 0.3s;
  text-align: center;
}
#controlBox {
  opacity: 0;
  transition: 0.3s;
}
#controlBox:hover,
#imageWrap:hover ~ #controlBox {
  opacity: 1;
}
#controlBox div {
  border-top-left-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 4px 8px;
  box-shadow: 0 0 2px 0px rgba(255, 255, 255, 0.5);
  color: #eee;
  font-size: 14px;
  text-shadow: 1px 1px 2px #111;
}
#controlBox div:empty {
  display: none;
}
#controlBox div#notice {
  background-color: transparent;
  box-shadow: none;
}
#controlBox div input {
  background: transparent;
  border: 0;
  color: #eee;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: right;
}
#controlBox div input#bgIntervalTime {
  width: 20px;
}
#controlBox div input#currNo {
  width: 30px;
}
#controlBox div input#iWidth,
#controlBox div input#iHeight {
  width: 40px;
}
#controlBox div span {
  margin: 0 2px;
}
#controlBox div a i.fa {
  margin: 0 4px;
}
#pause.active,
#random.active,
#autofit.active {
  color: #0056b3;
  text-shadow: 0 0 1px #0056b3, 0 0 8px #fff;
}
.msgBox {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  color: #eee;
  display: block;
  font-size: 14px;
  margin-bottom: 2px !important;
  padding: 4px 8px;
  text-shadow: 1px 1px 2px #111;
}

.image-card {
  width: 250px;
  height: 300px;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 8px 4px rgba(250, 250, 250, 1), 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  margin: 0.5rem;
  cursor: grab;
  display: inline-block;
  background: #181818 center no-repeat / contain;
  transition: background-size 0.3s;
}
.image-card.full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
}
.image-card.full > div {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: auto;
  opacity: 0;
  transition: 0.3s;
}
.image-card.full:hover > div {
  opacity: 1;
}
.image-card.full > div > label {
  font-size: 1rem;
}
.image-card.full > div > label.hover {
  font-size: 1.25rem;
}
.image-card.full > div > label.hover:hover {
  cursor: pointer;
  text-shadow: 0 0 2px #000;
}
