@import './style/style.scss';

[theme='dark'] {
  body {
    background-blend-mode: unset;
  }
}

body {
  background-image: url(./svg/flayground-text.svg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 80%;
  background-blend-mode: exclusion;
}
