$textColor: #eee;

body {
  position: fixed;
  inset: 0;
  background: #0f0f0f;
  color: #{$textColor};
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  header {
    text-align: center;
    font-size: 5rem;
  }

  main {
    margin-bottom: auto;

    article {
      margin: 2rem auto;

      h2 {
        display: flex;
        font-size: 3rem;
        margin: 0 0 1rem;

        &:hover {
          a:first-child {
            opacity: 1;
            transition: 0.5s 0.3s;
          }
        }

        a {
          color: #{$textColor};
          text-decoration: none;
          transition: 0.5s;

          &:hover {
            cursor: pointer;
          }

          &:first-child {
            flex: 0 0 3rem;
            opacity: 0;

            &:hover {
              color: #f00 !important;
              text-shadow: 0 0 2px #f00, 0 0 4px #f00, 0 0 6px #f00, 0 0 8px #999999, 0 0 10px #000000;
            }

            i {
              min-width: 42px;
            }
          }

          &:nth-child(2) {
            flex: 1 1 auto;
            white-space: nowrap;

            &:hover {
              color: orange;
            }
          }
        }
      }
    }
  }

  footer {
    width: 100%;

    div {
      margin: 1rem 2rem;

      &.popup-wrap {
        display: flex;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;

        input[type='search'] {
          flex: 1 1 auto;
        }

        input[type='number'] {
          width: 5rem;
        }
      }

      input,
      button,
      textarea {
        background-color: transparent;
        border: 0;
        color: #{$textColor};
        font-size: 2rem;
        text-align: center;
      }

      textarea {
        width: 100%;
        height: 16rem;
      }
    }
  }
}

.chalk {
  font-family: 'Ink Free';
  mask-image: url(./img/pattern/pattern-static.png);
  -webkit-mask-image: url(./img/pattern/pattern-static.png);
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #999999, 0 0 10px #000000;
}
