body {
  overflow-x: hidden;
}
.actress-cover-wrapper {
  position: fixed;
  top: 10rem;
  left: 0;
  right: 0;
  height: 0;
  background-attachment: fixed;
  margin: 0;
  z-index: 74;
  transition: height 1s;
}
nav.navbar:hover ~ .actress-cover-wrapper {
  height: calc(100% - 9rem);
}
input.form-control.input-invalid {
  color: red;
}
.btn-group > .btn {
  border: 1px solid var(--color-border-form);
}

#chartdiv {
  background-color: rgba(0, 0, 0, 0.5);
  height: 8rem;
}
