@import './style/style.scss';
@import './style/layout.sticky-header.scss';

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;

  fieldset {
    display: inline-block;
    border: 1px solid var(--color-border);
    border-radius: 0.25rem;
    margin: 0;
    padding: 0;
    transition: 0.4s;

    &:hover {
      box-shadow: var(--box-shadow);
      legend {
        box-shadow: var(--box-shadow-small);
      }
    }

    legend {
      background-color: var(--color-bg);
      border: 1px solid var(--color-border);
      border-radius: 0.25rem;
      margin: 0.25rem 0.5rem;
      padding: 0.25rem 0.5rem;
      font-size: var(--size-large);
      transition: 0.4s;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 1rem 1.5rem;
      margin: 0;
      border: 0;
      padding: 0.75rem;

      flay-card {
        width: 480px;
        border-radius: 0.25rem;

        &.shot {
          box-shadow: 0 0 0.5rem 0.125rem #f00;
        }
      }
    }
  }
}

#next {
  display: block;
  width: 100%;
  padding: 0.25rem 0 1rem;
}
