@import './css/style.scss';
@import './css/layout.card.scss';

main {
  div {
    // background-color: #0004;
    margin: 1rem 1rem 2rem;
    border-radius: 0.5rem;
    padding: 0;
    box-shadow: var(--box-shadow);

    label {
      background-color: transparent;
      font-size: var(--font-largest);
      padding: 0.25rem 0.5rem;
    }
    div {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 1rem 1.5rem;
      background: transparent;
      margin: 0;
      border: 0;
      padding: 0.75rem;
      box-shadow: none;

      &:empty {
        padding: 0;
      }

      flay-card {
        width: 480px;
        border-radius: 0.25rem;
        box-shadow: var(--box-shadow-small);

        &.shot {
          box-shadow: 0 0 0.5rem 0.125rem #f00;
        }
      }
    }
  }
}

#next {
  display: block;
  width: 100%;
  padding: 0.25rem 0 1rem;
}
