@import './style/style.scss';
@import './style/layout.sticky-header.scss';
@import './style/layout.grid-card.scss';

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem 1rem;
  justify-content: center;

  div {
    box-shadow: inset 0 0 1rem 0.5rem rgba(245, 227, 239, 0.3);
    border: 1px solid transparent;
    border-radius: var(--border-radius-huge);
    padding: 0.125rem 0.5rem;
    transition: 0.4s;

    &:hover {
      box-shadow:
        inset 0 0 1rem 0.5rem rgba(245, 227, 239, 0.5),
        var(--box-shadow);
    }

    label {
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    display: flex;

    .favorite {
      width: 1.5rem;
    }
    .name {
      width: 12rem;
    }
    .local-name {
      width: 8rem;
    }
    .birth {
      width: 10rem;
    }
    .body {
      width: 7rem;
    }
    .height {
      width: 3rem;
    }
    .debut {
      width: 3rem;
    }
  }
}
