@import './style/style.scss';
@import './style/component.css';

body {
  position: fixed;
  inset: 0;

  display: grid;
  grid-template-columns: 1fr 300px;

  main {
    overflow: auto;

    header {
      position: sticky;
      top: 0;
      z-index: 1;

      background-color: var(--color-bg);
      border-bottom: 1px solid var(--color-border);
      padding: 8px;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: baseline;
      gap: 12px;

      label {
        font-size: var(--size-normal);
      }
      label#count {
        margin-left: auto;
      }
    }

    article {
      margin: 0;
      padding: 20px 0 20px 20px;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 20px;

      div {
        width: 200px;
        height: 200px;

        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        box-shadow:
          inset 0 2px 16px 4px var(--color-black-alpha-light),
          0 2px 8px 4px var(--color-black-alpha-dark);
      }
    }

    $size: 100;

    @while $size <= 2560 {
      article.size-#{$size} {
        div {
          width: #{$size}px;
          height: #{$size}px;
        }
      }
      $size: $size + 50;
    }

    div.preview {
      position: fixed;
      top: 0;
      left: 0;
      right: 300px;
      bottom: 0;

      display: none;
      align-content: center;
      justify-content: center;
      align-items: center;

      background-color: rgba(0, 0, 0, 0.5);

      &.show {
        display: flex;
      }

      image-frame {
        border: 4px solid var(--color-border-active);
      }
    }
  }

  aside {
    overflow: auto;
    border-left: 1px solid var(--color-border);
    margin: 0;
    padding: 0;

    div {
      padding: 0 0 0 14px;
      line-height: 20px;

      &.fold {
        label {
          span {
            &::before {
              content: '▶';
              cursor: zoom-in;
            }
          }
        }

        div {
          display: none;
        }
      }

      label {
        span {
          margin-right: 4px;

          &::before {
            content: '▼';
            cursor: zoom-out;
            font-size: 16px;
            font-weight: 400;
          }

          &.no-child::before {
            content: '▷';
            cursor: default;
          }
        }

        a {
          font-size: 16px;
          font-weight: 400;
          white-space: nowrap;
          overflow: hidden;

          &.active {
            text-shadow: var(--text-shadow-active);
          }
        }
      }
    }

    & > div {
      padding: 0 0 16px 8px;
    }
    & > div > div {
      padding: 0;
    }
  }
}
