@import './style/style.scss';

@keyframes slideLeft {
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
}
::view-transition-old(one) {
  animation-name: slideLeft;
}
::view-transition-new(one) {
  animation-name: slideRight;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--color-bg);
  z-index: 1;
}

main {
  view-transition-name: one;
  position: fixed;
  inset: 0;
  background: center center / contain no-repeat transparent;
}
