@import './style/style.scss';
@import './style/component.css';
@import '@toast-ui/editor/dist/toastui-editor.css';
@import '@toast-ui/editor/dist/theme/toastui-editor-dark.css';
@import '@toast-ui/editor-plugin-color-syntax/dist/toastui-editor-plugin-color-syntax.css';
@import 'tui-color-picker/dist/tui-color-picker.css';

// grid
main {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;

  #grid-calendar {
    flex: 0 0 auto;
  }
  #grid-diary {
    flex: 1 1 auto;
    padding: 1rem;
  }
}

#diaryWrap {
  display: grid;
  grid-template-areas:
    'diary-meta'
    'diary-body'
    'diary-attach';
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 9rem;
  gap: 0.5rem;

  #diaryMeta {
    grid-area: diary-meta;
  }
  #diaryBody {
    grid-area: diary-body;
  }
  #diaryAttch {
    grid-area: diary-attach;
  }
}

#diaryWrap {
  position: relative;
  height: 100%;

  #diaryMeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    border: 1px solid var(--color-border-active);

    #diaryTitle {
      flex: 1 1 auto;
    }

    #diaryWeather {
      label {
        img {
          width: 2rem;
        }
      }
    }

    #diaryDate {
      flex: 0 1 auto;
    }
  }

  #diaryBody {
    position: relative;
    .toastui-editor-defaultUI {
      border: 1px solid var(--color-border-active);
      border-radius: 0;
    }
  }
}

#diaryViewer {
  display: none;
  position: fixed;
  inset: 0;
  margin: 0;
  padding: 0;
  z-index: 999;

  #diaryViewerInner {
    position: absolute;
    inset: 0;
    overflow: auto;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--color-bg);
    border-radius: 0.25rem;

    .toastui-editor-contents {
      padding: 1rem;

      img {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  #diaryViewerClose {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    border: 0;
    padding: 0.5rem;
    font-size: 2rem;
    z-index: 999;
  }
}

#diaryCal {
  .calendar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 1rem;

    font-size: 12px;
    padding: 0.25rem 1rem;
    overflow: auto;

    .month {
      flex: 0 0 auto;
      width: 14rem;

      .month-name {
        display: block;
        font-size: var(--size-normal);
        font-weight: 400;
        text-align: center;
      }

      .dates {
        display: grid;
        grid-template-columns: repeat(7, minmax(14%, auto));
        grid-template-rows: repeat(6, minmax(40px, auto));

        .date {
          position: relative;
          height: 2rem;
          padding: 2px 4px;
          box-shadow: 0 0 1px 0 orange inset;

          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;

          &.side {
            color: lightgray;
          }

          &.ref {
            cursor: pointer;

            &:hover {
              background-color: rgb(240 248 255 / 25%);
            }

            &.today {
              color: yellow;
              text-shadow: 1px 1px 1px orangered;
            }

            &.written {
              i.fa {
                position: absolute;
                left: 2px;
                bottom: 2px;
              }
            }

            &.active {
              background-color: rgba(214, 134, 29, 0.25);
            }
          }

          span {
            background: transparent;
            color: inherit;
            font-style: normal;
            font-size: 14px;
          }
          label {
            background: transparent;
            color: orange;
            font-size: 16px;
          }
        }
      }

      .day:nth-child(7n + 1),
      .date:nth-child(7n + 1) {
        color: #d13e3e;
      }

      .day:nth-child(7n),
      .date:nth-child(7n) {
        color: #396ee2;
      }
    }
  }
}
