@import './css/style.scss';
@import './css/page.layout.scss';

#layer {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: transparent;
}
#layer > * {
  box-shadow: var(--box-shadow);
}
