@import './style/style.scss';

body {
  & > main {
    position: fixed;
    inset: 0;

    display: grid;
    grid-template-rows: 4rem 1fr 3rem;

    & > header {
      overflow: auto;
    }
    & > article {
      overflow: hidden;
    }
    & > footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
    }
  }
}
