@import './style/style.scss';
@import './style/layout.sticky-header.scss';

header {
  .head-group {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    h1 {
      margin: 0;
      label {
        border: 0;
      }
    }
    div {
      display: flex;
      gap: 1rem;
      input {
        border: 0;
        width: auto;
      }
    }
  }
  .tab-group {
    margin-top: 1rem;
    .tab-button {
      margin: 0 0.5rem;
    }
  }
}

main {
  .tab-content {
    padding: 0 1rem 1rem;
  }
}

#studioActress {
  margin: 0 auto;
  max-width: 1080px;
  h2 {
    margin: 0;
  }
  ol {
    li {
      display: flex;
      justify-content: space-between;
      margin: auto 1rem;
      border-top: 1px solid transparent;
      border-bottom: 2px solid transparent;
      padding: 2px;

      &:not(.thead):hover {
        border-top-color: #000c;
        border-bottom-color: #000c;
      }

      &:not(.thead) {
        label {
          font-size: 90%;
          font-weight: 400;
          a {
            font-size: 100%;
          }
        }
      }

      .name {
        flex: 1 1 auto;
      }
      .sum {
        flex: 0 0 4rem;
        text-align: right;
      }
      .avg {
        flex: 0 0 4rem;
        text-align: right;
      }
      .size {
        flex: 0 0 4rem;
        text-align: right;
      }
      .shot {
        flex: 0 0 4rem;
        text-align: right;
      }
    }
  }
}

#rankGrounp {
  ul {
    li {
      margin-bottom: 1rem;
      div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;

        &.thead {
          gap: 1rem;
          .count {
            font-size: 90%;
            margin-left: auto;
          }
          .length {
            font-size: 90%;
            flex: 0 0 5rem;
            text-align: end;
          }
        }
        &.list {
          padding: 0.5rem 0 0 1rem;
        }
      }
    }
  }
}

#timeline {
  .timeline-grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(4rem, auto));
    gap: 0.25rem;

    .grid-head,
    .grid-data {
      border-right: 1px solid var(--color-border);
      border-bottom: 1px solid var(--color-border);
    }

    .grid-data.time {
      display: flex;
      justify-content: space-between;
    }

    .grid-data.rank {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: flex-start;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

#actressAge {
  .actressAge-grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(4rem, auto));
    gap: 0.25rem;

    .grid-head,
    .grid-data {
      border-right: 1px solid var(--color-border);
      border-bottom: 1px solid var(--color-border);
    }

    .grid-data.time {
      display: flex;
      justify-content: space-between;
    }

    .grid-data.rank {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: flex-start;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

.row {
  display: flex;
  .col {
    flex: 1 1 50%;
  }
}

label.flay {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 0.125rem;

  &.archive {
    background-color: var(--color-text-secondary);
  }
  &.shot {
    box-shadow: inset 0 0 0.75rem 0.5rem var(--color-red);
  }
  &.active {
    border: 1px solid var(--color-border-active);
  }
}

#shotFlay {
  .grid-column {
    display: grid;
    grid-template-columns: 13rem 1fr 13rem;
    margin: auto;
    width: 100%;
  }

  .statistics {
    position: relative;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 0.25rem 0.5rem;
      margin-bottom: 1rem;

      input:checked + label {
        span {
          color: var(--color-checked);
        }
      }

      input:disabled + label {
        span {
          color: var(--color-text-secondary);
        }
      }

      label {
        display: flex;
        justify-content: space-between;

        font-size: 90%;
        font-weight: 400;
        background-color: var(--color-bg-transparent);
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;

        span:nth-child(2) {
          flex: 0 0 2rem;
          text-align: end;
          margin-left: auto;
        }
        span:nth-child(3) {
          flex: 0 0 2rem;
          text-align: end;
        }
      }
    }
  }

  ol.shot-flay-list {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(20%, 450px));

    margin: 0 auto auto;
    width: 100%;

    li {
      div {
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5rem;

        aspect-ratio: var(--cover-aspect-ratio);
        background: center center / cover no-repeat transparent;
        box-shadow: inset 0 0 1rem 0.5rem var(--color-bg-hover);
        border-radius: 0.25rem;
        margin: 1rem;
      }

      label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.release,
        &.opus,
        &.studio {
          display: none;
        }

        span {
          background-color: var(--color-bg-transparent);
          padding: 0 0.5rem;
          border-radius: 0.25rem;
        }
      }
    }
  }
}
