@import './style/layout.sticky-header.scss';

body {
  & > header {
    div {
      input {
        &#tagId {
          max-width: 3rem;
        }
        &#tagName {
          max-width: 12rem;
        }
        &#tagDesc {
          flex: 1 1 auto;
        }
      }
    }
  }

  & > main {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem 2rem;

    margin: 0;
    padding: 1rem;

    fieldset {
      border: 1px dashed var(--color-border-reversed);
      margin-bottom: 0.5rem;

      legend {
        font-weight: 700;
        text-transform: capitalize;
        text-shadow: var(--text-shadow);
        padding: 0 0.5rem;
      }

      div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem 0.25rem;
      }
    }
  }
}

.flay-tag-info {
  background-color: var(--color-bg);
  box-shadow: inset 0 0 1rem 0.5rem rgba(245, 227, 239, 0.3);
  border: 1px solid transparent;
  border-radius: var(--border-radius-huge);
  margin: 0;
  padding: 0.5rem;
  min-width: 6rem;
  transition: 0.4s;

  &:hover {
    box-shadow:
      inset 0 0 1rem 0.5rem rgba(245, 227, 239, 0.5),
      var(--box-shadow);
  }

  dt {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.5rem;

    label {
      font-size: inherit;
    }
    .icon {
      font-weight: 400;
      min-width: 1rem;
      text-align: left;
      svg {
        width: var(--size-small);
      }
    }
    .name {
      cursor: pointer;
      &:hover {
        text-shadow: var(--text-shadow-hover);
      }
    }
    .count {
      font-weight: 400;
      min-width: 1rem;
      text-align: right;
      &.zero {
        color: var(--color-red);
      }
    }
  }
  dd {
    margin: 0;
    text-align: center;
    .desc {
      font-size: var(--size-small);
      font-weight: 400;
    }
  }
}
