@import './style/style.scss';
@import './style/layout.sticky-header.scss';

main {
  ol {
    padding: 1rem;
    li {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 0.5rem;
      margin: 0 0 0.25rem;

      label {
        padding: 0.125rem 0.25rem;
      }
      .opus {
        flex: 0 0 8rem;
      }
      .progress {
        flex: 1 0 auto;
        border: 1px solid var(--color-border-reversed);
        height: 1rem;

        .progress-bar {
          background-color: var(--color-bg-active);
          height: 100%;
        }
      }
      .time {
        flex: 0 0 4rem;
      }
      .duration {
        flex: 0 0 4rem;
      }
      .lastPlayed {
        flex: 0 0 6rem;
        font-size: var(--size-normal);
        font-weight: 400;
      }
    }
  }
}
