@import './style/style.scss';
@import './style/component.css';

body {
  & > main {
    position: fixed;
    inset: 0;

    display: grid;
    grid-template-rows: 4rem 1fr 3rem;

    & > header {
      position: relative;
    }
    & > article {
      position: relative;
    }
    & > footer {
      position: relative;
    }
  }
}
