@import './style/style.scss';

main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: center center / cover no-repeat transparent;
  background-blend-mode: luminosity;
  box-shadow: inset 0 0 4rem 0rem #000;
  display: flex;
  padding: 2rem;
  transition: background 0.2s;

  image-frame {
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: transparent;
  background-image: linear-gradient(0, black, transparent);
  opacity: 0;
  transition: opacity 0.4s;

  &:hover {
    opacity: 1;
  }

  div.info {
    display: flex;
    justify-content: center;
    gap: 0 1rem;
    background-color: transparent;
    padding: 0.25rem 1rem;

    label {
      background-color: transparent;
      text-shadow: var(--text-shadow);
      font-size: var(--size-normal);

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &#imgIdx {
        flex: 0 0 auto;
      }
      &#imgSize {
        flex: 0 0 auto;
      }
    }
  }
}

.progress {
  height: 1px;

  .progress-bar {
    background-color: #f00;
    height: 1px;
    transition: 0.4s;
  }
}
