@import './style/style.scss';

main {
  position: fixed;
  inset: 0;

  background: transparent no-repeat fixed top center / 800px;

  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

  article {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    aspect-ratio: 16 / 9 auto;
    height: 100%;
    padding: 2rem;

    flay-video-player {
      box-shadow: var(--box-shadow);
    }
  }
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  .progress {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    .progress-bar {
      position: relative;
      height: 0.125rem;
      background-color: #f00;
      margin: 0;
      padding: 0;
      transition: 1s;
    }
  }

  .video-control-panel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    input[type='number'] {
      font-size: var(--size-normal);
      width: 2.5rem;
    }

    label {
      font-size: var(--size-normal);
    }

    button#play-next-flay {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      transition: 0.4s;

      &:hover {
        color: var(--color-orange);
        box-shadow: var(--box-shadow-small);
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
