@import './style/style.scss';
@import './style/layout.sticky-header.scss';
@import './style/layout.grid-card.scss';

header {
  div {
    input {
      &#tagId {
        max-width: 3rem;
      }
      &#tagName {
        max-width: 12rem;
      }
      &#tagDesc {
        flex: 1 1 auto;
      }
    }
  }
}

main {
  margin: 0;
  padding: 1rem;

  ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 0.5rem 0.25rem;

    li {
      box-shadow: inset 0 0 1rem 0.5rem rgba(245, 227, 239, 0.3);
      border: 1px solid var(--color-transparent);
      border-radius: var(--border-radius-huge);
      padding: 0.5rem;
      min-width: 6rem;
      transition: 0.4s;

      &:hover {
        box-shadow:
          inset 0 0 1rem 0.5rem rgba(245, 227, 239, 0.5),
          var(--box-shadow);
      }

      dl {
        margin: 0;
        dt {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          gap: 0.5rem;

          label {
            font-size: inherit;
          }
          .edit {
            cursor: pointer;
            min-width: 1rem;
            text-align: right;
            &:hover {
              color: var(--color-orange);
            }
            svg {
              width: var(--size-small);
              transition: 0.2s;
            }
          }
          .name {
            cursor: pointer;
            &:hover {
              text-shadow: var(--text-shadow-hover);
            }
          }
          .count {
            font-weight: 400;
            min-width: 1rem;
            text-align: left;
            &.zero {
              color: var(--color-red);
              font-weight: 300 !important;
            }
          }
        }
        dd {
          margin: 0;
          text-align: center;
          .desc {
            font-size: var(--size-small);
            font-weight: 400;
          }
        }
      }
    }
  }
}
