body {
  > main {
    position: fixed;
    inset: 0;
    display: grid;
    grid-template-rows: 3rem 1fr 2rem;

    > header {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid var(--color-border);

      input[type='number'] {
        width: 4rem;
      }
    }

    > article {
      overflow-y: auto;

      > div {
        margin: 2rem;
        border: 1px solid var(--color-border);
        border-radius: 0.125rem;
        padding: 1rem;
        box-shadow: var(--box-shadow) inset;

        &.already-view {
          box-shadow: 0 2px 16px 4px var(--color-orange) inset;
        }

        > div {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 0 0.75rem;

          margin-bottom: 1rem;
          border-bottom: 1px solid var(--color-border);
          min-height: 2rem;

          &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
          }

          > label {
            font-size: var(--size-normal);
            font-weight: 400;
            padding: 0.25rem;

            &:hover {
              border-radius: 0.25rem;
              background-color: var(--color-bg-transparent);
            }
          }

          &.cover > img {
            aspect-ratio: var(--cover-aspect-ratio);
            max-width: 1000px;
            width: 100%;
            height: auto;
          }
          &.opus > label {
            font-size: var(--size-large);
          }
          &.video > label {
            color: var(--color-orange);
            text-shadow: var(--text-shadow);
          }
          &.posted > label {
            font-size: var(--size-small);
          }
        }
      }
    }

    > footer {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid var(--color-border);

      button:disabled {
        display: none;
      }
    }
  }

  #notice,
  #starter {
    position: fixed;
    inset: 0;
    z-index: 9;
    background-color: var(--color-bg-transparent);

    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      display: flex;
      flex-direction: column;
      background-color: var(--color-bg);
      border: 1px solid var(--color-border);
      border-radius: 0.25rem;
      padding: 1rem;
      box-shadow: var(--box-shadow);
    }
  }
}
