@import './style/style.scss';
@import './style/component.css';

main {
  position: fixed;
  inset: 0;

  display: grid;
  grid-template-areas:
    'nav header'
    'nav article';
  grid-template-rows: 277px 1fr;
  grid-template-columns: 408px 1fr;

  header {
    grid-area: header;
    &.dropzone-wrapper {
      flex-wrap: nowrap;
    }
  }

  nav {
    grid-area: nav;
  }

  article {
    grid-area: article;
    border-top: 1px solid var(--color-border);
  }

  .dropzone-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
    gap: 8px;
    margin-right: 8px;
    padding-bottom: 8px;

    .dropzone {
      width: 400px;
      aspect-ratio: 400 / 269;
    }
  }

  flay-develop {
    display: block;
    box-shadow: var(--box-shadow-large);
    border: 4px solid var(--color-border-reversed);
  }
}
