@import './style/style.scss';

@keyframes slideLeft {
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
}
::view-transition-old(one) {
  animation-name: slideLeft;
}
::view-transition-new(one) {
  animation-name: slideRight;
}

body {
  & > main {
    position: fixed;
    inset: 0;

    display: grid;
    grid-template-rows: 4rem 1fr;

    & > header {
      position: relative;
    }
    & > article {
      view-transition-name: one;

      img {
        aspect-ratio: var(--cover-aspect-ratio);
        width: 800px;
        height: auto;
      }
      div {
        position: relative;
        margin-top: 0.25rem;
        line-height: 2rem;
        min-height: 2rem;
        text-align: center;
        font-weight: 700;

        &::after {
          position: absolute;
          top: 0;
          font-size: smaller;
          font-weight: 400;
          color: var(--color-text-secondary);
        }

        &.last-access::after,
        &.last-modified::after,
        &.last-play::after {
          left: calc(50% + 3rem);
        }
        &.last-access::after {
          content: 'lastAccess';
        }
        &.last-modified::after {
          content: 'lastModified';
        }
        &.last-play::after {
          content: 'lastPlayed';
        }

        &.play::after,
        &.shot::after,
        &.rank::after {
          left: calc(50% + 1rem);
        }
        &.play::after {
          content: 'play';
        }
        &.shot::after {
          content: 'shot';
        }
        &.rank::after {
          content: 'rank';
        }

        &.jp-title,
        &.jp-desc {
          font-size: smaller;
        }
      }
    }
  }
}
