@import './style/style.scss';

main {
  position: fixed;
  inset: 0;

  background: transparent no-repeat fixed top center / 800px;

  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

  article {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    aspect-ratio: 16 / 9 auto;
    height: 100%;
    padding: 2rem;

    flay-video-player {
      box-shadow: var(--box-shadow);
    }
  }

  .progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;

    .progress-bar {
      position: relative;
      height: 2px;
      background-color: #f00;
      transition: 0.5s;
      margin: 0;
      padding: 0;
    }
  }

  button#nextFlay {
    position: fixed;
    top: 0;
    right: 0;
    font-size: var(--size-huge);
    margin: 0.5rem;
  }
}
