@import './style/style.scss';

main {
  position: fixed;
  inset: 0;

  background: transparent no-repeat fixed top center / 800px;

  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

  article {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    aspect-ratio: 16 / 9 auto;
    height: 100%;
    padding: 2rem;

    flay-video-player {
      box-shadow: var(--box-shadow);
    }
  }
}

.progress {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

  &:hover {
    .progress-bar {
      .progress-marker {
        opacity: 1;
      }
    }
  }

  .progress-bar {
    position: relative;
    height: 2px;
    background-color: #f00;
    margin: 0;
    padding: 0;
    transition: 1s;

    display: flex;
    justify-content: center;

    .progress-marker {
      &:hover {
        opacity: 1;
      }
      opacity: 0;
      display: block;
      position: absolute;
      bottom: 0;
      font-size: var(--size-smallest);
      font-weight: normal;
      border: 1px solid var(--color-border);
      box-shadow: var(--box-shadow-small);
      padding: 0.125rem 0.25rem;
      border-radius: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
}

button#nextFlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0.5rem;
  transition: 0.4s;

  &:hover {
    color: var(--color-orange);
    box-shadow: var(--box-shadow);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

flay-cover {
  z-index: -1;
  width: 800px;
  margin: auto;
}
