@import './style/style.scss';
@import './style/layout.sticky-header.scss';
@import './style/layout.grid-card.scss';

header {
  .studio-info {
    #studioName {
      flex: 1 1 auto;
    }
    #studioCompany {
      flex: 1 1 auto;
    }
    #studioHomepage {
      flex: 1 1 auto;
    }
    #flayRank {
      flex: 0 1 auto;
    }
    #totalCount {
      flex: 0 0 5rem;
    }
  }
  .actress-list,
  .tag-list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    border: 1px dashed chocolate;

    label {
      font-size: var(--size-small);
      line-height: 20px;
      border: 0 !important;
    }
  }
}
