@import './style/style.scss';
@import './style/layout.sticky-header.scss';
@import './style/layout.grid-card.scss';

#favorite + label {
  display: inline-flex;
  align-items: center;
}
#name {
  flex: 1 1 auto;
}
#localName {
  flex: 1 1 auto;
}
#birth {
  flex: 1 1 auto;
}
#age {
  flex: 0 1 auto;
  width: 50px;
}
#body {
  flex: 1 1 auto;
}
#height {
  flex: 0 1 auto;
  width: 100px;
  text-align: right;
}
#debut {
  flex: 0 1 auto;
  width: 100px;
  text-align: right;
}
#comment {
  flex: 1 1 auto;
  padding: 0.25rem;
}
#flayRank {
  flex: 0 1 auto;
}
#totalCount {
  flex: 0 0 5rem;
}

header > div button {
  display: initial;
}

header {
  max-width: none;
  display: grid;
  grid-template-columns: 1fr minmax(900px, 999px) 1fr;
  height: 11rem;

  .header-center {
    display: flex;
    flex-direction: column;
    width: 100%;

    .actress-info {
      display: flex;
      width: 100%;
      min-width: 900px;
      max-width: 999px;
      margin: auto;
    }
  }

  .header-side {
    overflow: auto;

    &.studio-list,
    &.tag-list {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0;
      border: 1px dashed chocolate;
      margin: 2px;

      label {
        font-size: var(--size-small);
        line-height: 20px;
        border: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  // benq 세로 풀
  header {
    grid-template-columns: 1fr;
    .header-side {
      display: none;
    }
  }
}

flay-card.shot {
  box-shadow: 0 0 0.25rem 0.125rem #f00;
}
