@import './style/style.scss';

main {
  position: fixed;
  inset: 0;

  &.loaded {
    iframe {
      &#login {
        display: none;
      }
      &#list {
        height: 100vh;
      }
    }
  }

  iframe {
    position: relative;
    border: 0;
    width: 100%;

    &#login {
      height: 100px;
    }

    &#list {
      height: 100px;
    }
  }
}
