@import './style/style.scss';
@import './style/layout.sticky-header.scss';

body {
  & > header {
    display: grid;
    grid-template-columns: 1fr minmax(900px, 999px) 1fr;
    height: 11rem;

    .header-center {
      display: flex;
      flex-direction: column;
      width: 100%;

      .actress-info {
        display: flex;
        gap: 0.25rem;
        width: 100%;
      }
    }

    .header-side {
      width: 100%;
      height: 100%;
      overflow: auto;

      &.studio-list,
      &.tag-list {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0;
        border: 1px dashed chocolate;
        padding: 2px;

        label {
          font-size: var(--size-small);
          line-height: 20px;
          border: 0 !important;
        }
      }
    }
  }

  & > article {
    padding: 0.5rem;
    & > .flay-card {
      margin: 0.5rem;
    }
  }

  & > footer {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background-color: var(--color-bg-transparent);
    border-top-left-radius: 1rem;
    &:hover {
      background-color: var(--color-bg);
      box-shadow: 0 0 16px 4px var(--color-black-alpha-dark);
    }
    transition: 0.4s;
  }
}

@media screen and (max-width: 1080px) {
  // benq 세로 풀
  body > header {
    grid-template-columns: 1fr;
    .header-side {
      display: none;
    }
  }
}

#favorite + label {
  display: inline-flex;
  align-items: center;
}
#name {
  flex: 1 1 auto;
}
#localName {
  flex: 1 1 auto;
}
#birth {
  flex: 1 1 auto;
}
#age {
  flex: 0 1 auto;
  width: 50px;
}
#body {
  flex: 1 1 auto;
}
#height {
  flex: 0 1 auto;
  width: 100px;
  text-align: right;
}
#debut {
  flex: 0 1 auto;
  width: 100px;
  text-align: right;
}
#comment {
  flex: 1 1 auto;
  padding: 0.25rem;
  font-size: var(--size-normal);
}
#flayRank {
  flex: 0 1 auto;
}
#totalCount {
  flex: 0 0 5rem;
}
