.modal-window {
  position: absolute;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
  z-index: 13;
  border-radius: 4px;
  box-shadow: var(--box-shadow-smallest);
  transition: box-shadow 0.4s;
  user-select: none;

  .edges {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;

    .edge {
      position: absolute;
      overflow: hidden;
      -webkit-tap-highlight-color: transparent;

      &.top,
      &.bottom {
        cursor: ns-resize;
        height: 8px;
      }
      &.left,
      &.right {
        cursor: ew-resize;
        width: 8px;
      }
      &.top-left,
      &.bottom-right {
        cursor: nwse-resize;
        height: 8px;
        width: 8px;
      }
      &.top-right,
      &.bottom-left {
        cursor: nesw-resize;
        height: 8px;
        width: 8px;
      }
    }
  }

  .inner {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-bg-window);
    border: 2px solid var(--color-border-window);
    border-radius: 4px;
    display: grid;
    grid-template-rows: 2rem 1fr;

    .title-panel {
      position: relative;
      width: 100%;
      overflow: hidden;
      border-bottom: 1px solid var(--color-border-window);
      border-radius: 2px 2px 0px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: move;
        flex-grow: 1;
        height: 100%;
        padding: 3px 3px 3px 8px;
        z-index: 1;

        span {
          color: var(--color-text-window);
          font-weight: 700;
          font-size: var(--size-small);
        }
      }

      .buttons {
        display: flex;
        gap: 0.5rem;
        padding: 0 0.25rem;

        .btn {
          color: var(--color-text-window);
          svg {
            width: 1.25rem;
          }
          &:hover {
            svg {
              color: var(--color-orange);
            }
          }
        }
      }
    }

    .body-panel {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden auto;
      -webkit-tap-highlight-color: transparent;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  &.maximize {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100vh !important;

    .edges {
      display: none;
    }
  }

  &.minimize {
    height: 2rem !important;

    .edges {
      display: none;
    }
  }

  &.floating {
    .edges {
      position: relative;
      .edge {
        position: fixed;
        z-index: 2;
      }
    }
    .inner {
      .title-panel {
        .title span,
        .buttons .btn {
          color: var(--color-text);
        }
        .title {
          z-index: 2;
        }
      }
      .body-panel {
        z-index: 0;
      }
    }
    .outer {
      position: fixed;
      inset: 0;
      background-color: transparent;
      z-index: 0;
    }
  }

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

[debug='1'],
[debug='2'] {
  .modal-window {
    .edges {
      .edge {
        background-color: rgba(65, 133, 70, 0.25);
        background-color: #0f0a;
      }
      .top-left,
      .bottom-right,
      .top-right,
      .bottom-left {
        background-color: rgba(218, 87, 166, 0.25);
        background-color: #f00a;
      }
    }
    .inner {
      .title-panel {
        .title {
          background-color: #ff0a;
        }
      }
    }
    .outer {
      background-color: #f003;
    }
  }
}
