<!doctype html>
<html lang="en" theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>flay tag</title>
    <link rel="icon" type="image/png" href="./favicon/flay_1.png" />
    <!-- HtmlWebpackPlugin이 자동으로 CSS와 JS를 주입합니다 -->
  </head>
  <body>
    <header class="sticky">
      <div class="head-container tags"></div>
      <div class="head-container zone-container"></div>
      <div class="head-container stats-container">
        <div class="head-row stats rank-stats"></div>
        <div class="head-row stats actress-stats"></div>
      </div>
    </header>
    <main></main>
    <footer>
      <span id="flayCount">0</span>
    </footer>
  </body>
</html>
