@charset "UTF-8";

/*
	URLs starting with: https://www.pandalive.co.kr/live/play
 */

#header_wide, .worldMsgTopTab, .fullboard, #watermark {
	display: none!important;
}

.plyr {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 0;
}
#castView .tabPlayer .playMenu {
	position: fixed!important;
	left: 0;
	right: 0;
	top: 0;
	border: 0!important;
	padding-bottom: 20px;
}
#castView .tabPlayer .playMenu .subtitle {
	display: inline;
}

#castView .tabPlayer .playMenu #muteLayer, .tabList {
	display: none!important;
}
#castView .tabPlayer .playMenu .viewTimeText {
	opacity: 0;
}

#castView .tabPlayer .playMenu ul li.store,
#castView .tabPlayer .playMenu ul li.heart,
#castView .tabPlayer .playMenu ul li.screen {
	display: none!important;
}
#castView > .tabChat {
	padding-top: 50px;
}
#castView > .tabChat > div {
	background: transparent;
	border: 0;
	height: calc(100% - 100px) !important;
}
#castView > .tabChat > div > h2 {
	background: transparent;
	border: 0;
	text-align: right;
	margin-right: 30px;
}
#castView > .tabChat > div > a,
#castView > .tabChat > div > ul,
#castView > .tabChat > div > div
{
	display: none!important;
}

#spinner img, #adult_icon {
	display: none!important;
}

#video_blind {
	opacity: 0!important;
}
