@charset "UTF-8";

/*
	URLs starting with: https://www.pandalive.co.kr/live/play
 */

body {
	overflow: hidden;
}

/*
	비디오 위치 조정
 */
.player-box .player-wrap {
	position: fixed;
}

/*
	화면에 보이는 잡티 제거
 */
.xrat,
.live_logo,
.btnSound,
#watermark {
	display: none;
}

/*
	위, 좌, 우 가리기
 */
#header,
#sideArea,
.live_right_area {
	display: none;
}

/* 방송 정보 안볼거 치우기 */
.live_left_area .bjZone {
	position: fixed;
	top: -200px;
}

/* 타 방송 목록 가리기 */
.live_left_area div.player_infor_area + div {
	display: none;
}

/* 방송명 */
.bj_infor .tit {
	position: fixed;
	top: 0;
	left: 30px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	z-index: 9999;
}
/* BJ 이름 */
.bj_infor .nick {
	position: fixed;
	top: 30px;
	left: 30px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	z-index: 9999;
}
/* 시청자수 */
.bj_infor .infor .ic1 {
	position: fixed;
	top: 60px;
	left: 30px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	z-index: 9999;
}
/* 시청자수 글자 제거 */
.live_left_area .bjZone .bj_infor .infor li span {
	display: none;
}
/* 북마크 */
.live_left_area .bjZone .player_item_list .item li .btnBookmk {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
}
/* 추천 */
.live_left_area .bjZone .player_item_list .item li .btnUp {
	position: fixed;
	top: 0;
	right: 30px;
	background-color: rgba(255, 255, 255, 0.125);
	border-radius: 50%;
	z-index: 9999;
}
.live_left_area .bjZone .player_item_list .item li .btnUp .over {
	width: 0;
	height: 0;
}
/* 해상도 */
.live_left_area .bjZone .player_item_list .hd {
	position: fixed;
	top: 0;
	right: 60px;
	z-index: 9999;
}
.live_left_area .bjZone .player_item_list .hd button {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.live_left_area .bjZone .player_item_list .hd button.on {
	color: #f008;
}
