html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  > map {
    display: block;
    width: 100%;
    height: 100%;
  }

  > #search {
    position: fixed;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.4rem 1.2rem;
    background: var(--color-bg-transparent);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-hugest);
    color: var(--color-text);
    font-size: var(--size-small);
    font-family: var(--font-family);
    width: 20rem;
    outline: none;
    backdrop-filter: blur(6px);
    z-index: 10;
    transition: border-color 0.2s;

    &:focus {
      border-color: chocolate;
    }
  }
}
