@charset "UTF-8";

/*
	URLs starting with: https://www.pandalive.co.kr/
 */

body {
  background-color: #000;
  overflow-x: hidden;
}

/* **** 목록 **** */

#wrapper {
  padding: 0;
  min-width: unset;
}

#top-nav-container,
#sidebar,
#live-search-container,
#main-footer,
.toaster-container {
  display: none;
}

#main-container {
  margin: 0;
}

#main-container > div > div {
  padding: 0;
}
#live-container > ul > li {
  padding: 8px;
}

/* **** 방송 **** */

#video-section {
  position: fixed;
  inset: 0;
  z-index: 1111;
  padding: 0;
}

#video-section > img,
#watermark,
#video-section > div > div > button,
#video-section > div > div > div.pzp-pc__bottom > div.pzp-pc__bottom-buttons > div.pzp-pc__bottom-buttons-right > div,
#player-area > div:nth-child(2) > section > div > div.relative.flex.shrink-0.items-center > .text-baseFg {
  display: none;
}

/* 공통 */
#player-area > div:nth-child(2) > section > div > div.relative.cursor-pointer.rounded-full > div > img,
#player-area > div:nth-child(2) > section > div > div.ml-2.flex.flex-1.flex-col.self-center > h2 > div,
#player-area > div:nth-child(2) > section > div > div.ml-2.flex.flex-1.flex-col.self-center > div.flex.items-center.gap-1 > div > span,
#player-area > div:nth-child(2) > section > div > div.ml-2.flex.flex-1.flex-col.self-center > div.video_information_live_data > div > span:nth-child(1),
#player-area > div:nth-child(2) > section > div > div.relative.flex.shrink-0.items-center {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1112;
  background-color: #0009;
  color: #ffffff;
  margin: 0;
  border-radius: 0 0 4px 0;
  padding: 4px 8px;
  height: 32px;
}

/* BJ 사진 */
#player-area > div:nth-child(2) > section > div > div.relative.cursor-pointer.rounded-full > div > img {
  border-radius: 0;
  padding: 0;
  height: 64px;
  width: 64px;
}
/* 방 제목 */
#player-area > div:nth-child(2) > section > div > div.ml-2.flex.flex-1.flex-col.self-center > h2 > div {
  left: 64px;
}
/* BJ 이름 */
#player-area > div:nth-child(2) > section > div > div.ml-2.flex.flex-1.flex-col.self-center > div.flex.items-center.gap-1 > div > span {
  top: 32px;
  left: 64px;
}
#player-area > div:nth-child(2) > section > div > div.ml-2.flex.flex-1.flex-col.self-center > div.flex.items-center.gap-1 > div > span > span {
  color: #ffffff;
}
/* 시청자수 */
#player-area > div:nth-child(2) > section > div > div.ml-2.flex.flex-1.flex-col.self-center > div.video_information_live_data > div > span:nth-child(1) {
  top: 64px;
}
/* 추천, 즐겨찾기 */
#player-area > div:nth-child(2) > section > div > div.relative.flex.shrink-0.items-center {
  top: 96px;
  padding: 4px 2px;
}

#video-section > div.relative.h-full.w-full.bg-black {
  padding-top: 1%;
}
/* 검열 화면 */
#player-area > div:nth-child(2) > div > div.hidden {
  display: none !important;
}
