@charset "UTF-8";

/*
	URLs starting with: https://www.pandalive.co.kr/
 */

body {
  background-color: #000;
  overflow-x: hidden;
}

/* **** 목록 **** */

#wrapper {
  padding: 0;
}

#top-nav-container,
#sidebar,
#live-search-container {
  display: none;
}

#main-container {
  margin: 0;
}

/* **** 방송 **** */

#video-section {
  position: fixed;
  inset: 0;
  z-index: 1111;
  padding: 0;
}

#video-section > img,
#watermark,
#video-section > div > div > button,
#video-section > div > div > div.pzp-pc__bottom > div.pzp-pc__bottom-buttons > div.pzp-pc__bottom-buttons-right > div,
#player-area > div:nth-child(2) > section > div > div.relative.flex.shrink-0.items-center > .text-baseFg {
  display: none;
}

/* 방 제목 */
#player-area > div:nth-child(2) > section > div > div.ml-2.flex.flex-1.flex-col.self-center > h2 > div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1112;
  background-color: #0009;
  color: #ffffff;
  padding: 4px 8px;
  border-bottom-right-radius: 4px;
}
/* 시청자수 */
#player-area > div:nth-child(2) > section > div > div.ml-2.flex.flex-1.flex-col.self-center > div.video_information_live_data > div > span:nth-child(1) {
  position: fixed;
  top: 35px;
  left: 0;
  z-index: 1114;
  background-color: #0009;
  color: #ffffff;
  padding: 4px 8px;
  border-bottom-right-radius: 4px;
}
/* 추천, 즐겨찾기 */
#player-area > div:nth-child(2) > section > div > div.relative.flex.shrink-0.items-center {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1113;
  background-color: #0009;
  padding: 4px 2px;
  border-bottom-left-radius: 4px;
}

#video-section > div.relative.h-full.w-full.bg-black {
  padding-top: 1%;
}
/* 검열 화면 */
#player-area > div:nth-child(2) > div > div.hidden {
  display: none !important;
}
