body {
	overflow: hidden !important;
	background-color: #000 !important;
}

#popkonWrap {
	min-width: initial;
	padding-top: 0;
}

#popkonWrap #reHeader div.header_inner div.gnb_main_area {
	display: none;
}
#popkonWrap #reHeader div.header_inner div#sideNav.snb_area {
	width: 60px;
}
#popkonWrap #reHeader div.header_inner div#sideNav.snb_area div#mCSB_1 div#mCSB_1_container div.snb_inner {
	padding-top: 240px;
}
#popkonWrap #reHeader div.header_inner div#sideNav.snb_area div#mCSB_1 div#mCSB_1_container div.snb_inner ul.snb_list:nth-child(2) {
	display: none;
}
#popkonWrap #reHeader div.header_inner div#sideNav.snb_area div#mCSB_1 div#mCSB_1_container div.snb_inner ul.snb_list:nth-child(3) li:not(:first-child) {
	display: none;
}
#popkonWrap #reHeader div.header_inner div#sideNav.snb_area div#mCSB_1 div#mCSB_1_container div.snb_inner ul.snb_list li a {
	padding: 0 20px;
}
#popkonWrap #reHeader div.header_inner div#sideNav.snb_area div#mCSB_1 div#mCSB_1_container div.snb_inner div.snb_down {
	display: none;
}

#popkonWrap div#container div.content {
	margin: 0 0 0 65px !important;
	width: calc(100% - 65px);
}
#popkonWrap div#container div.content div.cont_row div.popkon_vod li:first-child {
	margin: 0 0 15px 14px;
}
#popkonWrap div#container div.content div.cont_row div.popkon_vod li:nth-child(5n + 1) {
	margin: 0 0 15px 14px;
}

#popkonWrap #reFooter {
	display: none !important;
}

/* 필요없는 화면 가리기 */
#popkonWrap #reHeader {
	display: none !important;
}
#popkonWrap #container div.content div.cont_row div div.vod_title {
	display: none !important;
}
#popkonWrap #container div.content div.cont_row div div.popkon_vod {
	display: none !important;
}
#popkonWrap #reFooter {
	display: none !important;
}

/* 플에이어 */
.mv_player .vlive_wrap .vlive_area {
	/* 플레이어 크기 화면 가득하게 */
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	height: 100% !important;
	width: 100% !important;
	max-width: unset !important;
}
.mv_player .vlive_wrap .vlive_area::after {
	/* 19 표시 제거 */
	display: none;
}
.mv_player .vlive_wrap .partners {
	/* 팝콘 이름 제거 */
	display: none;
}
.mv_player .vlive_wrap .vlive_event {
	/* 추천, 즐찾 위치 */
	position: fixed !important;
	bottom: 0 !important;
	right: 0 !important;
}
.mv_player .vlive_wrap .vlive_event a {
	/* 추천, 즐찾 shadow */
	text-shadow: 1px 1px 1px #000;
}
.mv_player .vlive_wrap .vlive_event a.btn_mgp {
	/* 메가폰 삭제 */
	display: none !important;
}
.mv_player .vlive_wrap .vlive_event a.btn_pkon {
	/* 팝콘 삭제 */
	display: none !important;
}
.mv_player .vlive_wrap .clean_campaign {
	/* 클린 캠페인 무력화 */
	background: transparent !important;
}
.mv_player .vlive_wrap .watermark_wrap {
	/* 워터마크 무력화 */
	display: none;
}
.mv_player .vlive_wrap #video-controls {
	/* 컨트롤러 위치 */
	z-index: 9999;
	position: fixed;
	left: 0;
	bottom: 0;
	width: auto;
	padding: 0;
}
.mv_player .vlive_wrap #video-controls #videoPlay {
	/* 컨트롤러 바탕색 */
	background-color: transparent !important;
}

/* BJ 정보 */
.mv_player_info {
	border: 0 !important;
}
.mv_player_info .mv_info_box .mv_info_img {
	display: none !important;
}
.mv_player_info .mv_info_box .mv_info_txt ul {
	position: fixed;
	bottom: 0;
	left: 320px;
}
.mv_player_info .mv_info_box .mv_info_txt ul li.js-info-ptitle {
	/* 방제목 */
	color: #fff;
	font-size: 100% !important;
	font-weight: 700;
	line-height: 40px;
	text-shadow: 1px 1px 1px #000;
}
.mv_player_info .mv_info_box .mv_info_txt ul li:nth-child(2) {
	height: 0px;
}
.mv_player_info .mv_info_box .mv_info_txt ul li:nth-child(2) .mc_nick_group .mc_nick.js-info-nickname {
	/* BJ 이름 */
	position: fixed;
	left: 260px;
	bottom: 0;
	display: inline-block;
	font-size: 100% !important;
	font-weight: 700;
	line-height: 40px;
	text-shadow: 1px 1px 1px #000;
}
.mv_player_info .mv_info_box .mv_info_txt ul li:nth-child(2) .mc_nick_group .mc_control_box {
	display: none !important;
}
.mv_player_info .mv_info_box .mv_info_txt ul li:nth-child(3) {
	display: none !important;
}

/* 채팅창 */
.comment_area .cbox_wrap {
	position: fixed;
	right: 0;
	bottom: 40px;
	background: transparent;
	border: 0;
}
.comment_area .cbox_wrap .cbox_head {
	width: 0;
	color: transparent;
}
.comment_area .cbox_wrap .cbox_head .cbox_title {
	display: none;
}
.comment_area .cbox_wrap .cbox_head .cbox_count {
	/* 시청자수 위치 조정해서 보이기 */
	position: fixed;
	bottom: 0;
	left: 220px;
	line-height: 40px;
	color: #fff;
	font-weight: 700;
	font-size: 100% !important;
	text-shadow: 1px 1px 1px #000;
}
.comment_area .cbox_wrap .cbox_content_wrap {
	/* 채팅장 위치, 크기 조정 */
	background-color: rgba(255, 255, 255, 0.5);
	width: 180px;
	display: none; /* 채팅 보기시 수정! */
}
.comment_area .cbox_wrap .cbox_content_wrap ul {
	/* 채팅창 스크롤바 가리기 */
	overflow: hidden;
}
.comment_area .cbox_wrap .cbox_content_wrap ul li.cbox_noti {
	/* 추천 채팅 가리기 */
	display: none;
}
.comment_area .cbox_wrap .cbox_write_wrap {
	display: none;
}
