.flay-tag {
  padding-bottom: 1rem;

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 0.25rem 0.5rem;

    label {
      font-size: var(--size-normal);
      padding: 0.25rem;
      transition: box-shadow 0.4s 0.2s;
    }

    .tag-new-btn {
      font-size: var(--size-normal);
    }
  }

  .tag-new {
    display: none;
    text-align: center;

    &.show {
      display: block;
    }

    input {
      margin: 0.25rem;
      border: 0;
      padding: 0.25rem;
    }
  }

  .card {
    padding: 0;

    .tag-list {
      label {
        padding: 0.125rem;
      }
      input:not(:checked) + label {
        display: none;
      }
      .tag-new-btn {
        display: none;
      }
    }
  }

  .candidate {
    text-shadow: var(--text-shadow-active);
  }

  &.archive {
    * {
      color: var(--color-gray-dark);
    }
  }
}

@media screen and (max-height: 997px) {
  .flay-tag {
    .tag-list {
      gap: 0.125rem 0.25rem;
      label {
        padding: 0.125rem;
      }
      button {
        display: none;
      }
    }
  }
}

@media screen and (max-height: 989px) {
  .flay-tag {
    .tag-list {
      input[type='checkbox']:not(:checked) + label {
        display: none;
      }
    }
  }
}
