.flay-tag {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 0.125rem 1rem;

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    margin-bottom: 0.25rem;

    &:hover {
      label {
        background-color: rgba(165, 181, 255, 0.125);
        border-color: rgba(165, 181, 255, 0.25);

        &:hover {
          background-color: rgba(165, 181, 255, 0.25);
        }
      }
    }

    label {
      font-size: var(--size-normal);
      padding: 0.125rem 0.25rem 0.25rem;
      transition: box-shadow 0.4s 0.2s;
      border-radius: 0.25rem;
      border: 1px solid transparent;

      &.candidate {
        text-shadow: var(--text-shadow-active);
      }
    }
  }

  &.card {
    padding: 0;
    column-gap: 0.125rem;

    .tag-list {
      display: inline-flex;
      label {
        padding: 0.125rem;
      }
      input:not(:checked) + label {
        display: none;
      }
    }
  }

  &.archive {
    * {
      color: var(--color-gray-dark);
    }
  }
}
