.flay-tag {
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    margin-bottom: 0.25rem;

    &:hover {
      label {
        background-color: var(--color-bg-transparent);
      }
    }

    label {
      color: #cdcdcd;
      font-size: var(--size-normal);
      padding: 0.125rem 0.25rem 0.25rem;
      transition: box-shadow 0.4s 0.2s;
      border-radius: 0.25rem;

      &.candidate {
        text-shadow: var(--text-shadow-active);
      }
    }
  }

  &.card {
    padding: 0;

    .tag-list {
      label {
        padding: 0.125rem;
      }
      input:not(:checked) + label {
        display: none;
      }
    }
  }

  &.archive {
    * {
      color: var(--color-gray-dark);
    }
  }
}

@media screen and (max-height: 997px) {
  .flay-tag {
    .tag-list {
      gap: 0.125rem 0.25rem;
      label {
        padding: 0.125rem;
      }
    }
  }
}

@media screen and (max-height: 989px) {
  .flay-tag {
    .tag-list {
      input[type='checkbox']:not(:checked) + label {
        display: none;
      }
    }
  }
}
