.flay-files > div.info {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}
.flay-files > div.list {
  display: none;
}
.flay-files > div.list.show {
  display: block;
}
.flay-files > div.list > ol {
  margin: 0;
  padding: 0.5rem;
  list-style: none;
  text-align: left;
  border: 2px dashed purple;
  border-bottom: 0;
}
.flay-files > div.list > ol > li {
  font-size: var(--size-smallest);
  font-family: D2Coding;
  margin-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.flay-files > div.list > ol > li:last-child {
  margin-bottom: 0;
}
.flay-files > div.list > div.rename-flay {
  display: flex;
}
.flay-files > div.list > div.rename-flay > input#studio {
  flex: 0 0 auto;
  width: 4rem;
}
.flay-files > div.list > div.rename-flay > input#opus {
  flex: 0 0 auto;
  width: 3rem;
}
.flay-files > div.list > div.rename-flay > input#title {
  flex: 1 1 auto;
}
.flay-files > div.list > div.rename-flay > input#actress {
  flex: 0 0 auto;
  width: 6rem;
}
.flay-files > div.list > div.rename-flay > input#release {
  flex: 0 0 auto;
  width: 4rem;
}
.flay-files > div.list > div.rename-flay > input {
  cursor: auto;
}
.flay-files > div.list > div.rename-flay > input,
.flay-files > div.list > div.rename-flay > button {
  font-size: var(--size-smallest);
  font-family: D2Coding;
  border: 2px dashed purple;
  border-right: 0;
  padding: 4px;
}
.flay-files > div.list > div.rename-flay > button {
  font-size: var(--size-small);
  border-right: 2px dashed purple;
}

.flay-files.small .sub-btn,
.flay-files.small .size-label,
.flay-files.small .files-btn {
  display: none !important;
}

.flay-files.card .size-label,
.flay-files.card .files-btn {
  display: none;
}
