[theme='dark'] {
  --color-bg: #242424;
  --color-bg-notice: #111;
  --color-bg-cover: #111;

  --color-text: #eee;
  --color-text-secondary: #888;
  --color-text-shadow-over: orange;
  --color-text-placeholder: #aaa;

  --color-checked: orange;
  --color-checked-over: #ffa50080;

  --color-border: #111;
  --color-border-active: orange;

  --box-shadow: 0 2px 16px 4px #000;
  --box-shadow-small: 0 2px 16px 4px #000;
  --box-shadow-cover: inset 0 0 0.5rem 0.25rem #ccc;
}

[theme='light'] {
  --color-bg: #fff;
  --color-bg-notice: #ccc;
  --color-bg-cover: #ccc;

  --color-text: #242424;
  --color-text-secondary: #888;
  --color-text-shadow-over: orange;
  --color-text-placeholder: #555;

  --color-checked: orange;
  --color-checked-over: #ffa50080;

  --color-border: #ddd;
  --color-border-active: orange;

  --box-shadow: 0 2px 16px 4px #000;
  --box-shadow-small: 0 2px 16px 4px #000;
  --box-shadow-cover: inset 0 0 0.5rem 0.25rem #000;
}

:root {
  --font-smallest: 0.7rem;
  --font-small: 0.875rem;
  --font-normal: 1rem;
  --font-large: 1.25rem;
  --font-largest: 1.5rem;

  --border-radius: 0.125rem;
}
