[theme='dark'] {
  --color-bg: #242424;
  --color-bg-notice: #111;
  --color-bg-cover: #111;
  --color-bg-hover: #444;

  --color-text: #eee;
  --color-text-secondary: #888;
  --color-text-placeholder: #aaa;
  --color-text-danger: #f00;

  --color-checked: orange;

  --color-border: #111;
  --color-border-active: orange;

  --box-shadow: 0 2px 16px 4px #000;
  --box-shadow-small: 0 2px 8px 2px #0008;

  --text-shadow: 1px 1px 2px orange;
}

[theme='light'] {
  --color-bg: #fff;
  --color-bg-notice: #ccc;
  --color-bg-cover: #ccc;
  --color-bg-hover: #aaa;

  --color-text: #242424;
  --color-text-secondary: #888;
  --color-text-placeholder: #555;
  --color-text-danger: #f00;

  --color-checked: orange;

  --color-border: #ddd;
  --color-border-active: orange;

  --box-shadow: 0 2px 16px 4px #000;
  --box-shadow-small: 0 2px 16px 4px #000;

  --text-shadow: 1px 1px 2px orange;
}

:root {
  --font-smallest: 0.7rem;
  --font-small: 0.875rem;
  --font-normal: 1rem;
  --font-large: 1.25rem;
  --font-largest: 1.5rem;

  --border-radius: 0.125rem;

  --cover-aspect-ratio: 400 / 269;
}
