flay-actress,
flay-cover,
flay-files,
flay-opus,
flay-rank,
flay-release,
flay-studio,
flay-tag,
flay-title,
flay-comment,
flay-pagination,
flay-condition,
flay-card,
flay-page,
flay-register,
flay-batch,
flay-candidate,
tag-layer {
  position: relative;
  display: block;
  overflow: hidden;
  color: var(--color-text);
}

flay-actress,
flay-cover,
flay-files,
flay-opus,
flay-rank,
flay-release,
flay-studio,
flay-tag,
flay-title,
flay-comment {
  min-height: 2rem;
  padding: 0 0.5rem;
}

flay-cover {
  padding: 0;
}

flay-pagination {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

flay-page {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

@media screen and (min-width: 1278px) {
  flay-page {
    max-width: 1200px;
  }
}

@media screen and (max-width: 900px) {
  flay-page {
    max-width: 800px;
  }
}

flay-batch {
  max-width: 100%;
}

flay-candidate {
  max-height: 100%;
}

tag-layer {
  margin: 0 1rem;
}
