header,
main,
article,
footer,
div,
pre,
nav,
ul,
ol,
span,
label,
a,
button,
input,
select,
option,
textarea {
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a,
button,
input[type='text'],
input[type='search'],
input[type='number'],
input[type='date'],
input[type='checkbox'] + label,
input[type='radio'] + label,
select,
textarea {
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: var(--font-large);
  font-weight: 700;
  text-shadow: var(--text-shadow);
  outline: none;
  transition: 0.2s;
}

a {
  text-decoration: none;
}
a:not(.disable):hover {
  text-shadow: var(--text-shadow-hover);
}

button:not(.disable):hover {
  text-shadow: var(--text-shadow-hover);
}
button > svg {
  width: 1.75rem;
}

input[type='text'],
input[type='search'],
input[type='number'],
input[type='date'] {
  padding: 0.25rem 0;
  text-align: center;
}

input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}
input[type='checkbox'] + label:hover,
input[type='radio'] + label:hover {
  text-shadow: var(--text-shadow-hover);
}
input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
  color: var(--color-checked);
}
input[type='checkbox'] + label > svg,
input[type='radio'] + label > svg {
  height: var(--font-large);
  width: var(--font-large);
}

select {
  padding: 0.25rem 0;
}
select option {
  font-size: var(--font-normal);
}

textarea {
  padding: 0.25rem 0;
  width: 100%;
}

img {
  position: relative;
  display: block;
  margin: auto;
  height: 100%;
}

pre {
  font-family: D2Coding;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  font-size: var(--font-large);
  font-weight: 700;
}

input::spelling-error,
textarea::spelling-error {
  text-decoration: none;
}

.disable {
  color: var(--color-text-secondary) !important;
  cursor: initial !important;
}
.hide {
  display: none !important;
}
.error {
  color: var(--color-text-danger) !important;
}

i.badge {
  float: right;
  margin: 0 0 0 0.25rem;
  font-size: var(--font-small);
  font-style: normal;
  font-weight: 400;
}

/* 커스텀 엘리먼트 small 모드 */
div.small label,
div.small label a {
  font-size: var(--font-small) !important;
  padding: 0rem !important;
}
div.small label {
  padding: 0.125rem !important;
}
