div {
  position: relative;
}

a,
pre,
div,
span,
label,
button,
input,
textarea,
nav,
header,
main,
article,
footer {
  background-color: var(--color-bg);
  color: var(--color-text);
}

a,
input,
button,
textarea,
label,
input[type='checkbox'] + label,
input[type='radio'] + label {
  position: relative;
  background-color: transparent;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: var(--font-large);
  outline: none;
}

/* img */
img {
  position: relative;
  display: block;
  margin: auto;
  height: 100%;
}

/* pre */
pre {
  font-family: D2Coding;
}

/* ::spelling-error off */
input::spelling-error,
textarea::spelling-error {
  text-decoration: none;
}

/* button */
button {
  position: relative;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  font-size: var(--font-large);
  font-weight: 700;
  outline: none;
}
button:not(.disable):hover {
  text-shadow: var(--text-shadow);
  cursor: pointer;
}
button > svg {
  display: inline-flex;
  width: 1.75rem;
}

/* input checkbox, radio */
input {
  outline: none;
}
input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}
input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
}
input[type='checkbox'] + label:hover,
input[type='radio'] + label:hover {
  text-shadow: var(--text-shadow);
  transition: 0.4s;
}
input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
  color: var(--color-checked);
}
input[type='checkbox'] + label > svg,
input[type='radio'] + label > svg {
  display: inline-block;
  height: var(--font-large);
  width: var(--font-large);
}

/* input text, search, textarea  */
input[type='text'],
input[type='search'],
input[type='number'],
input[type='date'],
textarea {
  position: relative;
  background-color: transparent;
  color: var(--color-text);
  margin: 0;
  border: 0;
  padding: 0.25rem 0;
  font-family: 'Malgun Gothic';
  font-size: var(--font-large);
  text-align: center;
}

/* textarea */
textarea {
  width: 100%;
}

/* select */
select {
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  border: 0;
  padding: 0.25rem 0;
  font-size: var(--font-large);
  outline: none;
}
select option {
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-normal);
}

/* label */
label {
  font-weight: 700;
}

/* a */
a {
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
a:not(.disable):hover {
  cursor: pointer;
  text-shadow: var(--text-shadow);
}

/* class */
.disable {
  color: var(--color-text-secondary);
}

/* badge */
i.badge {
  float: right;
  margin: 0 0 0 0.25rem;
  font-size: var(--font-small);
  font-style: normal;
  font-weight: normal;
}

/* 커스텀 엘리먼트 small 모드 */
div.small label,
div.small label a {
  font-size: var(--font-small) !important;
  padding: 0rem !important;
}
div.small label {
  padding: 0.125rem !important;
}
