div {
  position: relative;
  text-align: center;
}

a,
pre,
div,
span,
label,
button,
input,
textarea,
nav,
header,
main,
article,
footer {
  background-color: var(--color-bg);
  color: var(--color-text);
}

a,
input,
button,
textarea,
label,
input[type='checkbox'] + label,
input[type='radio'] + label {
  position: relative;
  background-color: transparent;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0.25rem;
  font-size: var(--font-large);
  outline: none;
}

/* img */
img {
  position: relative;
  display: block;
  margin: auto;
  height: 100%;
}

/* pre */
pre {
  font-family: D2Coding;
}

/* ::spelling-error off */
input::spelling-error,
textarea::spelling-error {
  text-decoration: none;
}

/* button */
button {
  position: relative;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  font-size: var(--font-largest);
  font-family: D2Coding;
  outline: none;
}
button:not(.disable):hover {
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
  cursor: pointer;
}
button > svg {
  display: inline-flex;
  width: 1.75rem;
}

/* input checkbox, radio */
input {
  outline: none;
}
input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}
input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
}
input[type='checkbox'] + label:hover,
input[type='radio'] + label:hover {
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
}
input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
  color: var(--color-checked);
}
input[type='checkbox'] + label > svg,
input[type='radio'] + label > svg {
  display: inline-block;
  height: var(--font-large);
  width: var(--font-large);
}

/* input text, search, textarea  */
input[type='text'],
input[type='search'],
textarea {
  position: relative;
  background-color: transparent;
  color: var(--color-text);
  margin: 0;
  border: 0;
  padding: 0.25rem 0;
  font-size: var(--font-large);
  text-align: center;
}

/* textarea */
textarea {
  width: 100%;
}

/* select */
select {
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  border: 0;
  padding: 0.25rem 0;
  font-size: var(--font-large);
  outline: none;
}
select option {
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-normal);
}

/* label */
label {
  font-weight: 700;
}

/* a */
a {
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
a:not(.disable):hover {
  cursor: pointer;
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
}

flay-card {
  position: relative;
}

/* 스크롤 바 영역 전체 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 0px solid #fff;
  background-color: rgba(255, 255, 255, 0);
}
/* 상하, 좌우 화살표가 포함된 부분 */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
}
/* 화살표를 제외한 몸통 부분 */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0);
}
/* 몸통 부분에서 실제 움직이는 부분 */
::-webkit-scrollbar-thumb {
  height: 50px;
  width: 50px;
  background-color: rgba(36, 36, 36, 0.75);
  border-radius: 8px;
}

/* class */
.disable {
  color: var(--color-text-secondary);
}

/* badge */
i.badge {
  float: right;
  margin: 0 0 0 0.25rem;
  font-size: var(--font-small);
  font-style: normal;
  font-weight: normal;
}

/* 커스텀 엘리먼트 small 모드 */
div.small label,
div.small label a {
  font-size: var(--font-small) !important;
  padding: 0rem !important;
}
div.small label {
  padding: 0.125rem !important;
}
