/* 스크롤 바 영역 전체 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 0;
  background-color: transparent;
}
/* 상하, 좌우 화살표가 포함된 부분 */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  width: 8px;
  height: 8px;
  display: block;
  background-color: transparent;
}
/* 화살표를 제외한 몸통 부분 */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
}
/* 몸통 부분에서 실제 움직이는 부분 */
::-webkit-scrollbar-thumb {
  background-color: #aaa4;
  border-radius: 4px;
}
