div {
  position: relative;
  text-align: center;
}

/* common: button */
button {
  position: relative;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
  color: var(--color-text);
  font-size: 1.5rem;
  font-family: D2Coding;
}
button:hover {
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
  cursor: pointer;
}

/* common: input checkbox, radio */
input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0,0,0,0);
}
input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
}
input[type='checkbox'] + label:hover,
input[type='radio'] + label:hover {
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
}
input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
  color: var(--color-checked);
}

label {
  font-size: 1.25rem;
  font-weight: 700;
}

/* for FlayActress */
div.actress > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
div.actress > div > span {
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}
div.actress > div > span > label {
  display: inline-flex;
}
div.actress > div > .name {
  margin-right: auto;
}

/* for FlayCover */
div.cover {
  aspect-ratio: 400 / 269;
  background: transparent no-repeat center / contain;
}
div.cover img {
  border-radius: 0.25rem;
  width: 100%;
}

/* for FlayFiles */
div.files {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
ol.files {
  display: none;
}
ol.files.show {
  display: block;
}
ol.files li {
  font-size: 0.875rem;
  font-family: D2Coding;
}

/* for FlayOpus */

/* for FlayRank */
div.rank {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

div.rank-group {
  display: inline-flex;
  gap: 0.5rem;
}
div.rank-group label svg {
  aspect-ratio: 157 / 150;
}
div.rank-group input[value='-1']:checked + label {
  color: #f00a;
}
div.rank-group input[value='0']:checked + label {
  color: #0ff8;
}

/* for FlayRelease */

/* for FlayStudio */

/* for FlayTag */
div.tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem 0.75rem;
}
div.tag label {
  font-size: 1rem;
}

/* fir FlayTitle */
div.title label {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
