div {
  position: relative;
  text-align: center;
}

/* common: button */
button {
  position: relative;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  font-size: var(--font-largest);
  font-family: D2Coding;
  outline: none;
}
button:hover {
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
  cursor: pointer;
}
button > svg {
  display: inline-block;
  width: 1.75rem;
}

/* common: badge */
i.badge {
  float: right;
  margin: 0 0 0 0.25rem;
  font-size: var(--font-small);
  font-style: normal;
  font-weight: normal;
}

/* common: input checkbox, radio */
input {
  outline: none;
}
input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0,0,0,0);
}
input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
}
input[type='checkbox'] + label:hover,
input[type='radio'] + label:hover {
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
}
input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
  color: var(--color-checked);
}
input[type='checkbox'] + label > svg,
input[type='radio'] + label > svg {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
}

/* common: input text, search  */
input[type='text'],
input[type='search'] {
  position: relative;
  background-color: transparent;
  color: var(--color-text);
  margin: 0;
  border: 0;
  padding: 0.25rem 0;
  font-size: var(--font-large);
  text-align: center;
}

/* common: select */
select {
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  border: 0;
  padding: 0.25rem 0;
  font-size: var(--font-large);
  outline: none;
}
select option {
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-normal);
}

/* common: label, a */
label, a {
  font-size: var(--font-large);
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
a:hover {
  cursor: pointer;
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
}

/* for FlayActress */
div.actress > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
div.actress > div > span {
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}
div.actress > div > span > label {
  display: inline-flex;
}
div.actress > div > .name {
  margin-right: auto;
}
@media screen and (max-width: 600px) {
  .localName,
  .age,
  .body,
  .height,
  .debut {
    display: none;
  }
}
div.actress.small .localName,
div.actress.small .age,
div.actress.small .body,
div.actress.small .height,
div.actress.small .debut {
  display: none;
}
div.actress.small > div {
  gap: 0.5rem;
}
div.actress.small svg {
  width: 1rem;
  height: 1rem;
}
div.actress.small a {
  font-size: var(--font-small);
}

/* for FlayComment */
div.comment input {
  position: relative;
  display: block;
  background-color: transparent;
  color: var(--color-text);
  margin: 0;
  border: 0;
  padding: 0.25rem 0;
  width: 100%;
  font-size: var(--font-large);
  text-align: center;
}
div.comment .placeholder {
  color: var(--color-text-placeholder);
}

/* for FlayCover */
div.cover {
  aspect-ratio: 400 / 269;
  background: transparent no-repeat center / contain;
}
div.cover img {
  border-radius: 0.25rem;
  width: 100%;
}

/* for FlayFiles */
div.files {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
div.files .files-btn {
  display: inline-flex;
}
ol.files {
  display: none;
  margin: 0.5rem;
  padding: 0;
  list-style: none;
}
ol.files.show {
  display: block;
}
ol.files li {
  font-size: var(--font-small);
  font-family: D2Coding;
  margin-bottom: 0.25rem;
}
@media screen and (max-width: 600px) {
  .sub-btn,
  .play-label,
  .size-label,
  .files-btn {
    display: none;
  }
}
div.files.small .sub-btn,
div.files.small .play-label,
div.files.small .size-label,
div.files.small .files-btn {
  display: none;
}
div.files.small button {
  font-size: var(--font-normal);
}

/* for FlayOpus */
div.opus.small label {
  font-size: var(--font-small);
}

/* for FlayRank */
div.rank {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
div.rank div.rank-group {
  display: inline-flex;
  gap: 0.5rem;
}
div.rank div.rank-group label svg {
  aspect-ratio: 157 / 150;
}
div.rank div.rank-group input[value='-1']:checked + label {
  color: #f00a;
}
div.rank div.rank-group input[value='0']:checked + label {
  color: #0ff8;
}
@media screen and (max-width: 600px) {
  .score-label {
    display: none;
  }
}
div.rank.small {
  gap: 0.5rem;
}
div.rank.small .score-label {
  display: none;
}
div.rank div.rank-group {
  gap: 0.25rem;
}
div.rank.small label {
  font-size: var(--font-normal);
}
div.rank.small label svg {
  width: 1.25rem;
  height: 1.25rem;
}
div.rank.small button {
  font-size: var(--font-normal);
}

/* for FlayRelease */
div.release {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .modified-label,
  .access-label,
  .played-label {
    display: none;
  }
}
div.release.small .modified-label,
div.release.small .access-label,
div.release.small .played-label {
  display: none;
}
div.release.small label {
  font-size: var(--font-small);
}

/* for FlayStudio */
div.studio.small label {
  font-size: var(--font-small);
}

/* for FlayTag */
div.tag .tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem 0.75rem;
}
div.tag .tag-list label {
  font-size: var(--font-normal);
}
div.tag .tag-list .tag-new-btn {
  font-size: var(--font-normal);
}
div.tag .tag-new {
  display: none;
}
div.tag .tag-new.show {
  display: block;
}
div.tag .tag-new input {
  background-color: transparent;
  color: var(--color-text);
  margin: 0.25rem;
  border: 0;
  padding: 0.25rem;
  font-size: var(--font-large);
  text-align: center;
}

/* for FlayTitle */
div.title label {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
div.title label a {
  font-size: var(--font-largest);
}
div.title.small label,
div.title.small a {
  font-size: var(--font-small);
}

/* for FlayCondition */
div.condition {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: 0.4s;
}
div.condition > div > input[type='search'] {
  outline: none;
}
div.condition > div > input[type='search']:hover {
  background: #0004;
  border-radius: 0.5rem;
}
div.condition > div > label {
  margin: 0 0.25rem;
}
div.condition > div > select {
  font-size: var(--font-normal);
  outline: none;
}

/* for FlayPagination */
div.pagination .paging {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}
div.pagination .paging .page {
  position: relative;
  margin: 0;
  border: 1px solid #aaa;
  border-right: 0;
  padding: 0.25rem;
  line-height: 1.25rem;
  min-width: 2.5rem;
  font-size: var(--font-normal);
  cursor: pointer;
}
div.pagination .paging .page:last-child {
  border-right: 1px solid #aaa;
}
div.pagination .paging .page a {
  font-size: var(--font-small);
  font-weight: normal;
}
div.pagination .paging .page:hover a {
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
}
div.pagination .paging .page a.active {
  color: var(--color-checked);
}
div.pagination .progress {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
div.pagination .progress .progress-bar {
  position: relative;
  height: 1px;
  background-color: #f00;
}
