div {
  position: relative;
  text-align: center;
}

/* common: button */
button {
  position: relative;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
  color: var(--color-text);
  font-size: 1.5rem;
  font-family: D2Coding;
}
button:hover {
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
  cursor: pointer;
}

/* common: badge */
i.badge {
  float: right;
  margin: 0 0 0 0.25rem;
  font-size: smaller;
  font-style: normal;
  font-weight: normal;
}

/* common: input checkbox, radio */
input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0,0,0,0);
}
input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
}
input[type='checkbox'] + label:hover,
input[type='radio'] + label:hover {
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
}
input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
  color: var(--color-checked);
}
input[type='checkbox'] + label > svg,
input[type='radio'] + label > svg {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
}

/* common: input text, search  */
input[type='text'],
input[type='search'] {
  position: relative;
  background-color: transparent;
  color: var(--color-text);
  margin: 0;
  border: 0;
  padding: 0.25rem 0;
  font-size: 1.25rem;
  text-align: center;
}

/* common: select */
select {
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  border: 0;
  padding: 0.25rem 0;
  font-size: 1.25rem;
}
select option {
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1rem;
}

/* common: label, a */
label, a {
  font-size: 1.25rem;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--color-text);
}
a:hover {
  cursor: pointer;
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
}

/* for FlayActress */
div.actress > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
div.actress > div > span {
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}
div.actress > div > span > label {
  display: inline-flex;
}
div.actress > div > .name {
  margin-right: auto;
}

/* for FlayComment */
div.comment input {
  position: relative;
  display: block;
  background-color: transparent;
  color: var(--color-text);
  margin: 0;
  border: 0;
  padding: 0.25rem 0;
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
}
div.comment .placeholder {
  color: var(--color-text-placeholder);
}

/* for FlayCover */
div.cover {
  aspect-ratio: 400 / 269;
  background: transparent no-repeat center / contain;
}
div.cover img {
  border-radius: 0.25rem;
  width: 100%;
}

/* for FlayFiles */
div.files {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
ol.files {
  display: none;
}
ol.files.show {
  display: block;
}
ol.files li {
  font-size: 0.875rem;
  font-family: D2Coding;
}

/* for FlayOpus */

/* for FlayRank */
div.rank {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
div.rank div.rank-group {
  display: inline-flex;
  gap: 0.5rem;
}
div.rank div.rank-group label svg {
  aspect-ratio: 157 / 150;
}
div.rank div.rank-group input[value='-1']:checked + label {
  color: #f00a;
}
div.rank div.rank-group input[value='0']:checked + label {
  color: #0ff8;
}

/* for FlayRelease */
div.release {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* for FlayStudio */

/* for FlayTag */
div.tag .tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem 0.75rem;
}
div.tag .tag-list label {
  font-size: 1rem;
}
div.tag .tag-list .tag-new-btn {
  font-size: 1rem;
}
div.tag .tag-new {
  display: none;
}
div.tag .tag-new.show {
  display: block;
}
div.tag .tag-new input {
  background-color: transparent;
  color: var(--color-text);
  margin: 0.25rem;
  border: 0;
  padding: 0.25rem;
  font-size: 1.25rem;
  text-align: center;
}

/* for FlayTitle */
div.title label {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

/* for FlayNavigator */
div.navigator .progress {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
div.navigator .progress .progress-bar {
  position: relative;
  height: 1px;
  background-color: #f00;
}
div.navigator .paging {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}
div.navigator .paging .page {
  position: relative;
  margin: 0;
  border: 1px solid #aaa;
  border-right: 0;
  padding: 0.125rem;
  min-width: 2.5rem;
  font-size: 1rem;
  cursor: pointer;
}
div.navigator .paging .page:last-child {
  border-right: 1px solid #aaa;
}
div.navigator .paging .page a {
  font-size: 0.875rem;
  font-weight: normal;
}
div.navigator .paging .page:hover a {
  text-shadow: 1px 1px 2px var(--color-text-shadow-over);
}
div.navigator .paging .page a.active {
  color: var(--color-checked);
}

/* for FlayOne */
article.flay {
  padding-bottom: 1rem;
  transition: 0.4s;
}
article.flay:hover {
  box-shadow: var(--box-shadow);
  border-radius: 0.25rem;
}
article.flay > div {
  margin-bottom: 1rem;
}

article.flay > div:not(.cover) {
  padding: 0 1rem;
}

/* for FlayCondition */
div.condition {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: 0.4s;
}
div.condition:hover {
  box-shadow: var(--box-shadow);
}
div.condition > div > input[type='search'] {
  outline: none;
}
div.condition > div > input[type='search']:hover {
  background: #0004;
  border-radius: 0.5rem;
}
div.condition > div > label {
  margin: 0 0.25rem;
}
div.condition > div > select {
  font-size: 1rem;
  outline: none;
}
