div.waterfall {
  position: fixed;
  inset: 0;
  z-index: -4;

  display: flex;
  gap: 1rem;

  padding: 0 1rem;
}

div.waterfall > div.col {
  flex: 1 0 0%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: relative;
}

div.waterfall > div.col > img {
  width: 100%;
  border-radius: 0.25rem;
  opacity: 0.5;

  position: relative;
}

div.layout {
  position: fixed;
  inset: 0;
  z-index: -3;

  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
