@charset "UTF-8";

/*
	URL               : https://www.popkontv.com/live/
	URL               : https://www.popkontv.com/live/#
	URLs starting with: https://www.popkontv.com/live/favorite.asp
 */

#popkonWrap {
	min-width: initial;
	padding-top: 0;
}

#popkonWrap #reHeader div.header_inner div.gnb_main_area {
	display: none;
}
#popkonWrap #reHeader div.header_inner div#sideNav.snb_area {
	width: 60px;
}
#popkonWrap #reHeader div.header_inner div#sideNav.snb_area div#mCSB_1 div#mCSB_1_container div.snb_inner {
	padding-top: 240px;
}
#popkonWrap #reHeader div.header_inner div#sideNav.snb_area div#mCSB_1 div#mCSB_1_container div.snb_inner ul.snb_list:nth-child(2) {
	display: none;
}
#popkonWrap #reHeader div.header_inner div#sideNav.snb_area div#mCSB_1 div#mCSB_1_container div.snb_inner ul.snb_list:nth-child(3) li:not(:first-child) {
	display: none;
}
#popkonWrap #reHeader div.header_inner div#sideNav.snb_area div#mCSB_1 div#mCSB_1_container div.snb_inner ul.snb_list li a {
	padding: 0 20px;
}
#popkonWrap #reHeader div.header_inner div#sideNav.snb_area div#mCSB_1 div#mCSB_1_container div.snb_inner div.snb_down {
	display: none;
}

#popkonWrap div#container div.content {
	margin: 0 0 0 65px !important;
	width: calc(100% - 65px);
}
#popkonWrap div#container div.content div.cont_row div.popkon_vod li:first-child {
	margin: 0 0 15px 14px;
}
#popkonWrap div#container div.content div.cont_row div.popkon_vod li:nth-child(5n+1) {
	margin: 0 0 15px 14px;
}

#popkonWrap #reFooter {
	display: none !important;
}
