[theme=dark] {
  --color-bg: #242424;
  --color-text: #eee;
  --color-text-shadow-over: orange;
  --color-checked: orange;
}

[theme=light] {
  --color-bg: #fff;
  --color-text: #242424;
  --color-text-shadow-over: orange;
  --color-checked: orange;
}
