[theme=dark] {
  --color-bg: #242424;
  --color-text: #eee;
  --color-text-shadow-over: orange;
  --color-text-placeholder: #aaa;
  --color-checked: orange;
  --color-border: #111;

  --box-shadow: 0 2px 16px 4px #000;
}

[theme=light] {
  --color-bg: #fff;
  --color-text: #242424;
  --color-text-shadow-over: orange;
  --color-text-placeholder: #555;
  --color-checked: orange;
  --color-border: #ddd;

  --box-shadow: 0 2px 16px 4px #000;
}

:root {
  --font-smallest: 0.7rem;
  --font-small: 0.875rem;
  --font-normal: 1rem;
  --font-large: 1.25rem;
  --font-largest: 1.5rem;
}
