html {
  font-size: 16px;
}
body {
  position: absolute;
  inset: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 400;

  display: grid;
  grid-template-rows: 4rem 1fr 2rem;

  & > header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  & > main {
    position: relative;
  }
  & > footer {
    display: flex;
  }
}

img {
  position: relative;
  display: block;
  margin: auto;
  height: 100%;
}

pre {
  font-family: D2Coding;
}

button {
  position: relative;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
  color: var(--color-text);
  font-size: 1rem;
  font-family: D2Coding;
}