html {
  font-size: 16px;
}
body {
  position: relative;
  margin: 0;
  padding: 0;

  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 400;
}

img {
  position: relative;
  display: block;
  margin: auto;
  height: 100%;
}

pre {
  font-family: D2Coding;
}

button {
  position: relative;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
  color: var(--color-text);
  font-size: 1rem;
  font-family: D2Coding;
}