flay-actress,
flay-cover,
flay-files,
flay-opus,
flay-rank,
flay-release,
flay-studio,
flay-tag,
flay-title,
flay-comment,
flay-pagination,
flay-condition,
flay-card,
flay-page,
flay-search {
  position: relative;
  display: block;
  overflow: hidden;
}

flay-actress,
flay-cover,
flay-files,
flay-opus,
flay-rank,
flay-release,
flay-studio,
flay-tag,
flay-title,
flay-comment {
  min-height: 2rem;
}

flay-actress,
flay-files,
flay-opus,
flay-rank,
flay-release,
flay-studio,
flay-tag,
flay-title,
flay-comment {
  padding: 0 0.5rem;
}
