flay-actress,
flay-cover,
flay-files,
flay-opus,
flay-rank,
flay-release,
flay-studio,
flay-tag,
flay-title,
flay-comment,
flay-navigator {
  position: relative;
  display: block;
  min-height: 2rem;
}
