body {
  position: absolute !important;
  inset: 0;
  overflow: hidden;

  display: grid;
  grid-template-rows: 4rem 1fr 2rem;

  & > header {
    position: relative;
  }
  & > main {
    position: relative;
  }
  & > footer {
    position: relative;
  }
}
