.nav-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  z-index: 69;
}

side-nav-bar {
  position: fixed;
  top: 0;
  left: -10rem;
  bottom: 0;
  width: 10rem;
  z-index: 6974;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  background-color: var(--color-bg);
  border-right: 1px solid var(--color-border);

  font-family: 'Ink Free';
  font-weight: 700;

  transition:
    linear left 0.4s 0.4s,
    box-shadow 0.8s;

  &.open {
    box-shadow: var(--box-shadow-small);
  }

  header {
    padding: 1rem;
    a {
      font-size: var(--size-largest);
    }
  }

  article {
    margin-bottom: auto;
    padding: 0 1rem;
    overflow: auto;

    div {
      line-height: 2rem;
      &:empty {
        margin-bottom: 1rem;
      }
      a {
        white-space: nowrap;
      }
      &:hover {
        a + a {
          opacity: 1;
        }
      }
      a + a {
        opacity: 0;
      }
    }
  }

  footer {
    padding: 1rem;
    div {
      line-height: 1.75rem;
    }
  }

  .active > a {
    color: var(--color-checked);
  }
  a {
    text-transform: capitalize;
  }
}

.nav-open:hover + side-nav-bar,
side-nav-bar:hover,
side-nav-bar.open {
  left: 0;
  transition:
    left 0.4s,
    box-shadow 0.8s;
}
